@charset "utf-8";
/* CSS Document */
/*** Core html template stuff ***/
html{ background:url(../images/bgTopX.png) repeat-x top center;width:100%; }
body{ font-family:"ProximaNova-Regular",Arial, Helvetica, sans-serif; color:#231f20; text-align:left;font-size:14px; margin:0px auto; width:100%;overflow: auto;background:url(../images/bgFooter.png) repeat-x bottom center; }

p, pre, blockquote,a, ol, h1, h2, h3, h4, h5, h6, ul, li, select, input,textarea, table, td, tr, span, label, form { direction:ltr;font-family:font-family:"ProximaNova-Regular",Arial, Helvetica, sans-serif;}
div, th{ text-align:left}	
table
{
    border-collapse: collapse;
}

td{ 
	padding:0px 0px; 	
	border:1px solid grey;
}

th{ 
	padding:3px 6px; 
	border:1px solid black !important;
	background-color:grey;
	font-size:16px;
}

.topMenu li,.footer li,.leftContentBox li{ list-style-type:none;}

a:focus, a:visited, a:link
{
  -moz-outline: none;
  outline: none; 
  /*overflow: hidden;*/
}
.headerButtons ul{ padding: 0px; list-style-type:none; margin:0px}
.headerButtons ul li{ background:url(../images/imgLiPoint.png) no-repeat  scroll 1px 11px; padding: 0px 0px 0px 13px; list-style-type:none; line-height:24px;} 
.itemFullText ul li{ background:(../images/imgLiPoint.png) no-repeat  scroll 0 6px; padding: 0px 0px 2px 13px}
#resultsDiv ul li{list-style-type:none;}
#earlyAccess ul li{list-style-type:none;}
.DocumentsWrapRight ul.documents{  margin:10px auto; width:100%}
 div#resultsDiv.DocumentsWrapRight{ width:100% !important}
 div#resultsDiv.DocumentsWrapRight ul.topicPagination{ width:100% !important}
 div#resultsDiv.DocumentsWrap{ float:right !important}
a:link, a:visited {
	text-decoration: none;
	color:#008AEF;
}
a:hover{ text-decoration: none}

.Wrapper a{outline:0;}
.Wrapper ul{ margin:0px}
input.button { cursor: pointer; border: #666666 solid 1px; color:#FFFFFF; font-weight:bold; }
input.button:hover { }

 p { margin-top: 0; margin-bottom: 5px; }
h3.searchNoResult{ min-height:400px}
img { border: 0 none; }

.clear { 
	clear: both !important;
	height: 0px !important;
	overflow: hidden !important;
	font-size: 0px !important;
	margin: 0 !important;
	padding: 0 !important;
}
li.expandBtn{ background:none !important; color:#FDA603 !important; display:inline-block; cursor:pointer}

/*===Fonts====*/
@font-face {
    font-family: "ProximaNovaS-Regular";
    src: url("../webfonts/1E6015_7_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1E6015_7_0.woff") format("woff"), url("../webfonts/1E6015_7_0.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../webfonts/1E6015_A_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1E6015_A_0.woff") format("woff"), url("../webfonts/1E6015_A_0.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../webfonts/1E6015_8_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1E6015_8_0.woff") format("woff"), url("../webfonts/1E6015_8_0.ttf") format("truetype");
}

/*----------------------------------------------------------------------
	template stuff
----------------------------------------------------------------------*/
.WrapperBg{ background:url(../images/bgTopWrapper.png) no-repeat top center; width:1042px;margin:0 auto;position:relative}
.Wrapper{ width:990px; margin:0 auto; position:relative;}
.header{ width:100%; padding:72px 0 0 0; height:134px}
.logo{ float::left;display:block; width:484px; height:45px;}
.topMenu{ margin:33px 0 0 0;background:url(../images/bgTopMenu.png) repeat-x top left; height:55px; width:1037px; position:relative; left:-22px}
._topMenu ul  {padding: 0 0 0 0; list-style-type:none; margin:0 0 0 0}
._topmenu { position:relative; width:100%; left:-40px}
._topmenu li.topmenuli{ float:left; padding:0px; width:171px;list-style-type:none;}
._topmenu li.topmenuli#current{ float:left;background:url(../images/bgTopMenu.png) repeat-x bottom left; height:55px }
._topmenu li.sep{ background:url(../images/bgLiSep.png) no-repeat top left; width:2px; height:50px; margin:4px 0 0 0; padding:0px; float:left}
._topmenu li.topmenuli a{ color:#123448; display:block;}
._topmenu li.topmenuli a span{width:auto;display:block;}
span.title1{ font-family: "ProximaNova-Bold";font-size:14px;line-height:18px;}
._topmenu li.topmenuli a:hover span.title1{ text-decoration:underline;}
span.title2{ font-family: "ProximaNova-Bold";color:#5b94af;font-size:12px; line-height:13px;}

._topmenu li.topmenuli a {
   background: url(../images/menuIconsSpriteAll.png) no-repeat top left; padding:10px 0 8px 52px;
}
._topmenu li.topmenuli a.bgMenu1{ background-position: 12px 15px; } 
._topmenu li.topmenuli:hover a.bgMenu1,._topmenu li.topmenuli#current a.bgMenu1{ background-position: 12px -476px; } 
._topmenu li.topmenuli a.bgMenu2{ background-position: 12px -64px;} 
._topmenu li.topmenuli:hover a.bgMenu2,._topmenu li.topmenuli#current a.bgMenu2{ background-position: 12px -555px;} 
._topmenu li.topmenuli a.bgMenu3{ background-position: 7px -148px; } 
._topmenu li.topmenuli:hover a.bgMenu3,._topmenu li.topmenuli#current a.bgMenu3{ background-position: 7px -639px; } 
._topmenu li.topmenuli a.bgMenu4{ background-position: 7px -232px; } 
._topmenu li.topmenuli:hover a.bgMenu4,._topmenu li.topmenuli#current a.bgMenu4{ background-position: 7px -723px; } 
._topmenu li.topmenuli a.bgMenu5{ background-position: 7px -318px;} 
._topmenu li.topmenuli:hover a.bgMenu5,._topmenu li.topmenuli#current a.bgMenu5{ background-position: 7px -809px;} 
._topmenu li.topmenuli a.bgMenu6{ background-position: 7px -396px;} 
._topmenu li.topmenuli:hover a.bgMenu6,._topmenu li.topmenuli#current a.bgMenu6{ background-position: 7px -887px;} 

/*--------------------------REMOVE AFTER LAUNCH----------------------------*/

._topmenu li.disable{ background: url(../images/bgSoon.png) no-repeat scroll 100% 4px;}
._topmenu li.disable a{color:#7a7a7a; cursor:default}
._topmenu li.disable span.title2{color:#afafaf}
._topmenu li.disable a {
   background: url(../images/menuIconsSpriteAll2.png) no-repeat top left; padding:10px 0 8px 52px;
}
._topmenu li.disable a.bgMenu1{ background-position: 12px -959px; } 
._topmenu li.disable:hover a.bgMenu1,._topmenu li.disable#current a.bgMenu1{ background-position: 12px -959px; } 
._topmenu li.disable a.bgMenu3{ background-position: 7px -1041px; } 
._topmenu li.disable:hover a.bgMenu3,._topmenu li.disable#current a.bgMenu3{ background-position:  7px -1041px; } 
._topmenu li.disable a.bgMenu4{ background-position: 7px -1124px; } 
._topmenu li.disable:hover a.bgMenu4,._topmenu li.disable#current a.bgMenu4{ background-position: 7px -1124px; } 
._topmenu li.disable a.bgMenu5{ background-position: 7px -1207px;} 
._topmenu li.disable:hover a.bgMenu5,._topmenu li.disable#current a.bgMenu5{ background-position: 7px -1207px;} 
._topmenu li.disable a.bgMenu6{ background-position: 7px -1286px;} 
._topmenu li.disable:hover a.bgMenu6,._topmenu li.disable#current a.bgMenu6{ background-position: 7px -1286px;} 

._topmenu li.disable a:hover span.title1{ text-decoration:none;}

/*---------------------------------------REMOVE AFTER LAUNCH-------------------------------*/

/*----------------------------------------------------------------------
	new top menu
----------------------------------------------------------------------*/

._topmenu li.topmenuli a {
   background: url(../images/top-menu-sprites.png) no-repeat top left; padding:13px 0 8px 46px;
}
._topmenu li.topmenuli a.bgMenu1{ background-position: 5px 12px; } 
._topmenu li.topmenuli:hover a.bgMenu1,._topmenu li.topmenuli#current a.bgMenu1{ background-position: 5px -69px; } 
._topmenu li.topmenuli a.bgMenu2{ background-position: 12px -230px; padding-left:50px} 
._topmenu li.topmenuli:hover a.bgMenu2,._topmenu li.topmenuli#current a.bgMenu2{ background-position: 12px -314px;} 
._topmenu li.topmenuli a.bgMenu3{ background-position: 5px /*-399px;*not soon*/ -566px} 
._topmenu li.topmenuli:hover a.bgMenu3,._topmenu li.topmenuli#current a.bgMenu3{ /*background-position: 5px -483px;*/ background-position: 5px /*-399px;*not soon*/ -566px } 
._topmenu li.topmenuli a.bgMenu4{ background-position: 4px /*-651px;*not soon*/-823px;padding-left:48px} 
._topmenu li.topmenuli:hover a.bgMenu4,._topmenu li.topmenuli#current a.bgMenu4{ background-position: 4px /*-651px;*not soon*/-823px/*background-position: 4px -737px;*/ } 
._topmenu li.topmenuli a.bgMenu5{ background-position: 12px /*-909px;*not soon*/-1075px;padding-left:58px} 
._topmenu li.topmenuli:hover a.bgMenu5,._topmenu li.topmenuli#current a.bgMenu5{ background-position: 12px /*-909px;*not soon*/-1075px/*background-position: 12px -992px;*/} 
._topmenu li.topmenuli a.bgMenu6{ background-position: 7px /*-1157px;*not soon*/-1317px;padding-left:54px} 
._topmenu li.topmenuli:hover a.bgMenu6,._topmenu li.topmenuli#current a.bgMenu6{  background-position: 7px /*-1157px;*not soon*/-1317px/*background-position: 7px -1237px;*/} 
/*-------*/



/*login menu*/
ul.loginMenu{ position: absolute; width:auto; right:135px; top:3px; margin:0px; padding:0px; z-index:999}
ul.loginMenu li{ list-style-type:none; float:left; margin:0 5px 0 0; line-height:14px}
ul.loginMenu li a{ font-size:11px; color:#ffffff; text-decoration:none;display:block; cursor:pointer}
ul.loginMenu li:hover a{text-decoration:underline !important; display:block}
ul.loginMenu li.sep{ color:#ffffff;}
/**/

.breadcrumbs{color:#c0c0c0; font-size:10px; float:left; margin:0 0 17px 0;font-family:"ProximaNova-Regular";}
.contentWrap{ margin:15px 0 0 6px; }
.learnFrom{background: url(../images/bgSearchWrapper.png) no-repeat top left; height:69px; position:relative; width:100%}
.searchWrap{background: url(../images/bgSearch.png) no-repeat top left; height:50px; width:507px; position:relative; top:9px; right:10px; float:right;}
input#search,input.search{ float:left; margin:15px 0 0 13px; width:452px; background:none; border:none; padding:3px 0 0 25px; text-shadow:0 -1px 0 white; font-style:italic;font-family:"ProximaNova-Regular"; font-size:16px;color:#304e62}
input#goBtn{ position:relative; float:right; right:10px;top:-25px; background:url(../images/btnGo.png) no-repeat top left; width:57px; height:27px; text-indent:-999px; overflow:hidden;cursor:pointer; border:none;}
input#goBtn:hover{ background-position:0 -28px}
input.goBtn{ position:relative; float:right; right:10px;top:-25px; background:url(../images/btnGo.png) no-repeat top left; width:57px; height:27px; text-indent:-999px; overflow:hidden;cursor:pointer; border:none;}
input.goBtn:hover{ background-position:0 -28px}

.learnFrom h2{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:normal; float:left; margin:25px 0 0 68px}
.content{background:url(../images/bgInnerContentToppic.png) top left repeat-y;}

.content p{ padding:0 0 10px 0; line-height:18px}
.content img{margin:0 0 28px 0}
.pageTitle{font-family:"ProximaNova-bold"; color:#0f3a53; font-size:22px; margin:35px 0 25px 0; float:left;width:707px;}
/*--documents blog layout--*/
.DocumentsWrap{ width:707px; float:left; padding:25px 0 0px 0}
.DocumentsWrap a ,.contentNoRight a,.DocumentsWrapRight a{color:#008aef; border-bottom:solid 1px #7fc4f7;}

ul.documents{/*border-top:solid 1px #e4e4e4;*/ float:left; padding:0px}
ul.documents li.download{ border-bottom:solid 1px #e4e4e4; min-height:64px; padding:28px 0 28px 156px; line-height:16px;background:url(../images/download-icon.png) no-repeat scroll 0 23px ;}
ul.documents li.reg{ border-bottom:solid 1px #e4e4e4; min-height:64px; padding:28px 0 28px 156px; line-height:16px;background:url(../images/bgDocIcon.png) no-repeat scroll 0 23px ;}
ul.documents li.special{ background:url(../images/bgSpDocIcon.png) no-repeat scroll 0 23px ;border-bottom:solid 1px #e4e4e4; min-height:64px; padding:28px 0 28px 156px; line-height:16px;}
ul.documents li p{ float:left;}
ul.documents li a.docTitle{font-family:"ProximaNova-Regular"; color:#38cbe6; font-size:18px; border-bottom:solid 1px #9be5f2; display:inline-block; margin:0 0 5px 0}
ul.documents li a.eaTitle{font-family:"ProximaNova-Regular"; color:#38cbe6; font-size:22px; border-bottom:solid 1px #9be5f2; display:inline-block; margin:0 0 5px 0}
.rmore{ background:url(../images/iconMoreBorder.png) no-repeat scroll 100% 4px; padding:0 13px 0 0; text-transform:capitalize; color:#008aef; font-size:11px; display:inline-block; border-bottom:none !important;}
.rmore-ea{ background:url(../images/iconMoreBorder.png) no-repeat scroll 100% 4px; padding:0 13px 0 0; text-transform:capitalize; color:#008aef; font-size:14px; display:inline-block; border-bottom:none !important;}
.rmore span{border-bottom:solid 1px #bfe2fb; cursor:pointer}
ul.pagination{ float:right; margin:12px 0 0 0}
ul.pagination li.paginationli{float:left; padding:0px}
ul.pagination li.paginationli a{color:#0f3a53; text-decoration:underline; padding:2px 6px}
ul.pagination li.paginationli#pageCurrent a,ul.pagination li.paginationli:hover a{ background:#f3f3f3; border:solid 1px #e6e7e7;padding:1px 5px;}
/*--home right layout--*/
.right{ float:right; width:243px;}
.btnGetCloudifyFreeEdition{ background:url(../images/btnGetCloudify.png) no-repeat top left; width:215px; height:39px; display:block; margin: 24px auto; border-bottom:none !important}
.btnGetCloudifyFreeEdition:hover{ background-position:0 -39px}
.btnGetCloudifyFreeEdition:focus{background-position:0 -78px}

.leftContentBox{ margin:0 auto; padding:0 0 58px 0; width:215px;}
.leftContentBox h3{ margin:0 0 0 0; color:#0f3a53;font-family:"ProximaNova-Regular"; font-size:18px; font-weight:normal;}
.leftContentBox input{ margin:0 12px 11px 0; display:inline-block;}
.leftContentBox form{ font-family:"ProximaNova-Regular"; font-size:11px; color:#231f20}
.leftContentBox a{color:#525252 !important; text-decoration:none !important; font-size:14px; font-weight:normal}
.leftContentBox a:hover{font-weight:normal;color:#000000 !important;}
.content .section a{color:#231f20 !important; text-decoration:underline !important; font-size:11px !important; border-bottom:none; display:block; 
padding:0 0 10px 0}
/*--Topic Layout--*/
.right{ float:right;}
.topicTitle{font-family:"ProximaNova-Regular"; font-size:18px; color:#2b7195; margin:0 0 10px 0}
span.notice{ background:url(../images/notice.png) no-repeat top left; display:inline-block; width:13px; height:13px; margin:0 2px 0 0}
p.ligther{ color:#525252 !important}
ul.topicPagination{ width:707px; border-top:1px solid #E4E4E4;padding:5px 0 0 0; }
ul.topicPagination li{ padding:0px; }
.prev{ float:left;}
.prev a{ color:#0f3a53; font-size:14px; border-bottom:solid 1px #4a6b7d;}
.next{float:right;}
.next a{font-size:14px;color:#008aef;border-bottom:solid 1px #7fc4f7;}
.TableOfContents{/*height:600px;*/ }
li.open{ padding:0 0 0 16px}
li.plus{ padding:0 0 0 24px}

.TableOfContents li{ line-height:18px;color:#231f20; text-decoration:none; font-size:11px; margin:0 0 6px 0} 
.TableOfContents ul{ margin-bottom:5px; padding:0px}


/*--Table Of Content Layout--*/
.contentNoRight { width:100% !important; background:none !important;}
.contentNoRight .DocumentsWrap{ width:100%}
.contentNoRight .btnGetCloudifyFreeEdition{ float:right;}
.ui-accordion .ui-accordion-content {padding:0px 10px 0 40px !important}

ul.tableOfcontentList,ul.tableOfcontentList ul{ padding:0px}
ul.tableOfcontentList li{ padding:0px; list-style-type:none }
li.odd{ background:#ebebeb;}
li.even{ background:#ffffff;}
.leftSide{ padding:22px 25px; float:left; width:441px;}
.rightSide{ padding:22px 25px;float:right;width:441px;}
.leftSide li,.rightSide li{ background:url(../images/liDot.png) no-repeat scroll 0 6px; padding:0 0 0 10px !important; line-height:18px}
ul.tableOfcontentList h3{ color:#1caab8; border-bottom:solid 1px #c6eaed; font-size:18px; margin:0 0 15px 0; font-weight:normal; display:inline-block}
ul.tableOfcontentList p{color:#9094a0; font-size:12px;}
.left{ float:left; width:243px;}
.DocumentsWrapRight{ width:707px; float:right; padding:0 0 0px 0}



/*--comming soon--*/
.commingSoonWrap{ background:url(../images/bgCommingSoon.png) repeat-x bottom left; min-height:654px; position:relative; left:-28px; width:1037px}
a.fork{ background:url(../images/bgForkMeOnGithub.png) no-repeat top left; width:130px; height:130px; display:block; position: absolute; top:-57px;border:none;cursor:pointer; right:0px; z-index:999}
a.fork-guide{ background:url(../images/bgForkMeOnGithub.png) no-repeat top left; width:130px; height:130px; display:block; position: absolute; top:0px;border:none;cursor:pointer; right:0px; z-index:999}
.commingSoon{ width:990px; margin:0 auto; position:relative;}
.csRight{ float:right; width:254px;}
.csBox{ width:100%; margin-bottom:12px}
.csBoxTop{ width:100%; background:url(../images/topRoudedBox.png) no-repeat top left; height:8px;}
.csBoxMid{ width:100%; background:url(../images/midRoudedBox.png)repeat-y top left;}
.csBoxBtm{ width:100%; background:url(../images/btmRoudedBox.png) no-repeat top left; height:7px}
.twitts{ /*padding:0 21px; width:212px*/padding:0 11px; width:233px}
.twitts h3{ margin:0px; background:url(../images/iconTwitter.png) no-repeat scroll 0 7px; padding:10px 0 2px 41px; color:#1e7894; font-size:16px; margin:0}
ul.twitterList{ padding:0px; margin:0px 0 8px 0; width:207px}
ul.twitterList li{ list-style-type:none; border-bottom:solid 1px white; padding:8px 0 10px 0}
ul.twitterList li span{ color:#393939; font-size:11px;}
ul.twitterList li a{ color:#24acc5; font-size:11px; border:none; text-decoration:none}
a.join{ background:url(../images/iconTwitterArrow.png) no-repeat scroll 0 3px; padding:0 0 8px 17px; text-decoration:none; border:none; color:#246f96; font-weight:bold; display:block;}
span.likes{ font-size:12px; color:#393939; width:172px; padding:4px 0 0 0; display:inline-block}
a.facebook_like{ border:none; float:right;}
.facebookBox{ padding:0 12px 0; width:230px; height:150px;}
.csLeft{ width:650px; float:left; margin:0 0 0 24px}
.fbFaces{ margin-bottom:11px;}
.emailNote{ margin:42px 0 37px 0;}
.emailNote p{ color:#246e95; font-family: "ProximaNova-Bold"; font-size:26px; line-height:36px;}
.emailNote form{ margin:0px 0 0 0}
input#mce-EMAIL{ background:url(../images/bgInputEmail.png) no-repeat top left; border:none; width:198px;height:69px; display:inline-block; font-size:22px; color:#8c8c8c; line-height:32px; padding:0 24px 0 18px; float:left}
input#mce-NAME{ background:url(../images/bgInputName.png) no-repeat top left; border:none; width:198px;height:69px; display:inline-block; font-size:22px; color:#8c8c8c; line-height:32px; padding:0 21px 0 18px; float:left}

input#mc-embedded-subscribe{ background:url(../images/btnEmailSubmit.png) no-repeat top left; width:168px; height:68px; border:none; text-indent:-999px; overflow:hidden; float:left; cursor:pointer;}
input#mc-embedded-subscribe:hover{ background-position:0 -68px;outline:none; }
input#mc-embedded-subscribe:focus{background-position:0 -136px;outline:none; }
textarea:focus, input:focus{
    outline: none;
}
div.messageBox{ height:33px;}
ul#messageBox{ padding:12px 0 0 14px }
ul#messageBox li{ color:#F05223; float:left; margin:0 109px 0 0}
h3.checkOut{ background:url(../images/iconBookCloudBig.png) no-repeat top left; padding:0 0px 0 54px;font-family: "ProximaNova-Regular"; font-size:22px; line-height:50px;color:#213540; font-weight:normal; }
.counter .borderSep{ background:url(../images/bgHrBorder.png) repeat-x top left; height:3px; border:none; width:730px; left:-47px; position:relative;}


/*twitter*/
#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 {
    background: none !important;
    color: #FFFFFF !important;
}
.twtr-tweets{font-family:"ProximaNova-Regular"; font-size:11px;}
.twtr-hd{ padding:0px !important}
.twtr-tweet {border-bottom:solid 1px white !important; padding:8px 0 10px 0 !important}
.twtr-tweets a{ text-decoration:none; border:none;}
.twtr-ft div a{ display:none;}
.twtr-ft  span{ float:left !important;}
.twtr-ft a.twtr-join-conv{background:url(../images/iconTwitterArrow.png) no-repeat scroll 0 3px; padding:0 0 8px 17px; text-decoration:none; border:none; color:#246f96 !important; font-weight:bold; display:block;}

/*facebook*/
.fan_box a:hover{
  text-decoration: none;
}
.fan_box .full_widget{
  height: 200px;
  border: 0 !important;
  background: none !important;
  position: relative;
}
.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}
.fan_box .profileimage, .fan_box .name_block{
  display: none;
}
.fan_box .connect_action{
  padding: 0 !important;
}
.fan_box .connections{
  padding: 0 !important;
  border: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
span.total{
  color: #393939;
  font-weight: bold;
  white-space:nowrap;
  display:inline-block;
  overflow:hidden;
  text-overflow:clip;
  width:150px;
  position:relative;
  font-family:"ProximaNova-Regular";
  top:125px;
  font-size:11px;
}


.fan_box .connections .connections_grid {
  padding-top: 0px !important;
}
.fan_box .connections_grid .grid_item{
  padding: 0 2px 0px 0 !important;
  width:44px !important;
}

.fan_box .connections_grid .grid_item img{width:44px !important; height:45px !important;}
.fan_box .connections_grid .grid_item .name{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: normal;
  color: #666 !important;
  padding-top: 1px !important;
  display:none;
}
.fan_box .connect_widget{
position: absolute;
top: 120px;
right: 5px;
margin: 0 !important;
}
.fan_box .connect_widget .connect_widget_interactive_area {
margin: 0 !important;
}
.fan_box .connect_widget td.connect_widget_vertical_center {
padding: 0 !important;
background:#F3F3F3;
border:none;
}
.app_content_7169711435 .regulartable tr, .app_content_7169711435 td {
    border: none;
}


/*Counter*/
.counter{ }
h2.sitelaunch{ position:relative; margin:0px; top:36px; left:73px; font-family:"ProximaNova-Bold"; font-size:18px;color:#f05223; font-weight:normal;}
#countdown_dashboard {
	height: 129px;
	background:url(../images/bgCounter.png) no-repeat top left;
	padding:66px 0 0 58px;
	
}

.dash {
	width: 110px;
	height: 114px;
	background: none;
	float: left;
	margin-left: 24px;
	position: relative;
}

.dash .digit {
	font-size: 55px;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #ffffff;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

/*--footer--*/
.footer{background:url(../images/bgFooter.png) repeat-x bottom left; height:122px; margin:123px 0 0 0}
ul.footerLeftMenu{ float:left; margin:22px 0 0 0; padding:0px}
ul.footerLeftMenu li.footerli{ float:left; padding:0 16px 0 0}
ul.footerLeftMenu li.footerli a{ font-size:10px; color:#f36c21; text-decoration:underline;}

ul.footerRightMenu{ float:left; margin:26px 0 0 0;padding:0px}
ul.footerRightMenu li.footerli{ float:left; padding:0 6px 0 0;font-size:10px; color:#c0c0c0;}
ul.footerRightMenu li.footerli a{ font-size:10px; color:#c0c0c0; text-decoration:underline;}

ul.footerSocialMenu{float:right; margin:18px 0 0 0;padding:0px}
ul.footerSocialMenu li{float:left; padding:0 9px 0 0}
ul.footerSocialMenu li a{ background:url(../images/social-icons-sprits.png) no-repeat top left; width:28px; height:26px; overflow:hidden; display:block}
ul.footerSocialMenu li.footerFb a{ background-position:0 0px;}
ul.footerSocialMenu li.footerRss a{ background-position:-37px 0px;}
/*ul.footerSocialMenu li.footerMell a{ background-position:-73px 0px;}*/
ul.footerSocialMenu li.footerTwitt a{ background-position:-109px 0;}
ul.footerSocialMenu li.footerYt a{ background-position:-146px 0px;}




.twtr-profile-img-anchor { display: none !important;  }
.twtr-profile-img { display: none !important;   }
.twtr-hd  { display: none !important;  }



.regulartable th {
	border:none;
	background-color:grey;
} 
.regulartable tr, td { 
	border:none;
} 

table.overviewtable th { 
	border:none;
}

table.overviewtable tr { 
	border:none;
}

table.overviewtable td { 
	border:none;
}


/* for pretty print*/
.overlay {
position: absolute;
min-width: 200px;
min-height: 30px;
display:none;
z-index: 3000;
overflow:visible;
}
.overlayFrame {
    
	/* box-shadow: 10px 10px 5px #888888; */
	background-color:#ecf3fa;
	/* opacity:0.85; */
	
	text-align: left;
	padding:2px 2px 2px 2px;
	
	color:#5f5f5f;
	-moz-border-radius: 55px;
    border-radius: 5px;
	border-color: #a5b6c7;
	border-style:solid;
	border-width:1px;
	top:0px;
	left:0px;
 }
 .tooltipTable {
	border-style:none;
	border-width:0px;
	border:none;
	border-color:transparent;
 }
 #tipImg {
 position:relative;
 left:20px;
 overflow:visible;
 }
 .closeBut {
	width: 16px;
	height: 16px;
 }


/*----------------------------------------------------------------------
	download page
----------------------------------------------------------------------*/
ul.downloadList{ margin:0px; width:520px; float:left; padding:0px}
ul.downloadList li{ border-bottom:solid 1px #cacaca; list-style-type:none; padding:30px 0 33px 11px}
ul.downloadList li div.dwnListLeft{ float:left; width:180px;}
ul.downloadList li div.dwnListRight{ float:right; width:480px; padding:9px 0 0 0}
ul.downloadList li div.dwnListRight h3{ color:#38cbe6; margin:0 0 5px 0; font-size:28px;}
ul.downloadList li div.dwnListRight p{font-size:18px;}
ul.downloadList li div.dwnListRight a.dwnGoBtn{ background:url(../images/btnGoOnDownload.png) no-repeat bottom left; width:70px; height:26px; cursor:pointer; display:block; border:none; margin:28px 0 0 0}
ul.downloadList li div.dwnListRight a.dwnGoBtn:hover{ background-position:0 -27px}
ul.downloadList li div.dwnListRight a.dwnGoBtn:focus{ background-position:0 0px}
.dwn .learnFrom{background: url(../images/bgSearchWrapperDwn.png) no-repeat top left; height:69px; position:relative; width:100%}

/*----------------------------------------------------------------------
	Video  page
----------------------------------------------------------------------*/
.videoSearch{background: url(../images/bgSearchVideo.png) no-repeat top left; height:69px; position:relative; width:100%}
.videoSearch h2{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:bold; float:left; margin:25px 0 0 68px}


.bg-videoContent{background: url(../images/bg-videoContent.jpg) repeat-y  !important; margin:0 0 -123px 0; padding:0 0 25px 0;}
.bg-videoContent .inside{padding:30px 0 60px 12px;}


.bg-videoContent h3{color:#0f3a53; font-size:22px; font-weight:bold; display:inline-block; margin:0 25px 0 0;}
.mainVideo-box{width:641px; float:left;}
.mainVidDate, .videoDesc{color:#231f20; font-size:12px;}
.mainVidDate div{ float:left; width:auto;}
.mainVidDate b{ float:left; width:77px; font-weight:normal}
.videoMain{margin:18px 0 24px 0;}

ul.videoThumbs{ padding:0px;}
ul.videoThumbs li{ list-style-type:none}
.videoThumbs{width:304px; float:right;}
.videoThumbBox{background: url(../images/border-gray.gif) repeat-x bottom left; padding:0 0 18px 0; margin:0 0 18px 0;}
.videoThumbBox .vidThumb{float:left; margin:0 11px 0 0;} 
.videoThumbBox .vidThumb img{ width:154px; height:104px;}
.videoThumbBox h4{color:#231f20; font-size:16px; font-weight:bold; margin:0 0 16px 0;}

.btn-vidSeeAll{background: url(../images/video-btnSeeAll.png) no-repeat top center; color:white; width:73px; height:19px; padding:4px 0 0 0; cursor:pointer; text-align:center; font-size:12px; float:right;}
.btn-vidSeeAll:hover{background-position:bottom center; text-decoration:underline;}


/*----------------------------------------------------------------------
	Participate  page
----------------------------------------------------------------------*/


.participateSearch{background: url(../images/bgSearchParticipate.png) no-repeat top left; height:69px; position:relative; width:100%}
.participateSearch h2{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:bold; float:left; margin:25px 0 0 68px}


.btnGetCloudify{ background:url(../images/btn-getCloudify.png) no-repeat bottom left; width:215px; height:39px; display:block; margin: 24px auto; border-bottom:none !important}
.btnGetCloudify:hover{ background-position:0 -40px}
.btnGetCloudify:focus{background-position:0 0px}

.participateLeft-topTitle{padding:0;}
.participateLeft-topTitle h3{border-bottom:solid 2px #e6e7e7; padding:0 0 10px 0; font-weight:bold;}

.participateLeftBox{background:url(../images/border-dotted.png) repeat-x bottom left; padding:13px 0 10px 0;}
.participateLeftBox .title{color:#008aef; font-size:12px;}
.participateLeftBox p{color:#231f20; font-size:11px; margin:0 0 4px 0; padding:0;}
.participateLeftBox .date{color:#c0c0c0; font-size:10px;}

.btn-watch{ background:url(../images/btn-watch.png) no-repeat bottom left; width:61px; height:21px; display:block; margin:9px 0px; border-bottom:none !important}
.btn-watch:hover{ background-position:top left;}


a.brnparticipateSeeAll{color:#008aef; font-size:12px; text-decoration:underline; margin:11px 15px 0 0; float:right;}


.eventBox{border-bottom:solid 2px #e6e7e7; padding:0 0 30px 0; margin:0 0 10px 0;}
.eventInfoLeft{float:left;}
.eventInfoRight{float:right; color:#213540; width:560px;}
.eventDate{background:url(../images/event-bg.png) no-repeat;; width:97px; height:118px; text-align:center; position:relative; }
.webinarDate{background:url(../images/webinar-bg.png) no-repeat; width:97px; height:118px; text-align:center;position:relative;  }
.webinarDate .eventDay ,.webinarDate .eventMonth{color:#ff8200;}
.eventDay{color:#0f3a53; font-size:36px; font-weight:bold; position:relative; top:55px;}
.eventMonth{color:#0f3a53;font-size:18px; position:absolute;bottom:3px; width:95px; left:0;}


a.btn-register{ background:url(../images/btn-register.png) no-repeat bottom center; width:95px; height:26px; display:block; margin:12px 0 9px 0; border-bottom:0;}
a.btn-register:hover{ background-position:0 -27px;}
a.btn-register:focus{background-position:0 0px;}


img.event-fb, img.event-twitt{float:right; margin:0 0 0 6px; cursor:pointer;}

.eventInfoRight .title{font-size:18px; margin:0 0 14px 0; display:block;}
.eventInfoRight p{ font-size:12px;}

/*----------------------------------------------------------------------
	Blog Main  page
----------------------------------------------------------------------*/

.blogSearch{background: url(../images/bgSearchBlog.png) no-repeat top left; height:69px; position:relative; width:100%}
.blogSearch h2{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:bold; float:left; margin:25px 0 0 68px}

.blogLeft-topTitle{padding:0;}
.blogLeft-topTitle h3{border-bottom:solid 2px #e6e7e7; padding:0 0 10px 0; font-weight:bold;}


.blogtPostBox{border-bottom:solid 2px #e6e7e7; padding:0 0 30px 0; margin:0 0 22px 0;}

.blogLeftBox{background:url(../images/border-dotted.png) repeat-x bottom left; padding:13px 0 10px 0;}
.blogLeftBox a{color:#231f20; font-size:11px; margin:0 0 4px 0; padding:0;}
img.noMargin{margin:0;}
.blogLeftBox .date{color:#c0c0c0; font-size:10px;}

.blog-left-title2{margin:40px auto 0 auto;}

ul.blog-archive-list{margin:14px 0 0 0;}
.blog-archive-list li{margin:0 0 6px 0;}
.blog-archive-list a{color:#231f20; font-size:11px; text-decoration:underline;}
.blog-archive-list .blue{color:#008aef;}

.blogInfoLeft{float:left;}
.blogInfoRight{float:right; color:#213540; width:560px;}
.blogInfoRight a.title{color:#1fb9d9; font-size:20px; }
.blogPostInfo{margin: 10px 0 12px 0; font-size:14px; color:#b5bfcb;}

a.postTag{cursor:pointer; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 0px solid #800000; background:#B5BFCB; color:White; text-align:center; padding: 3px 10px; font-size:14px; margin:0 2px 0 0; color:White;}



/*----------------------------------------------------------------------
	Blog Post  page
----------------------------------------------------------------------*/

.blogtPostBox{font-size:14px;}
.postTitle{font-size:20px;color:#0b2b3e;}
.blogPostInfo .count{color:#213641; margin:0 0 0 6px;}
.postUp{background:url(../images/updown.png) no-repeat -1px 0; width:13px; height:13px; display:block; border-bottom:0; cursor:pointer;float:left; margin:0 3px 0 0;}
.postUp:hover{ background-position:-1px -14px;}

.postDown{background:url(../images/updown.png) no-repeat -17px 0; width:13px; height:13px; display:block; border-bottom:0; cursor:pointer; float:left;}
.postDown:hover{ background-position:-17px -14px;}

.blogPostInfo .info{float:left; margin:0 22px 0 0;}

.userImg{float:left;}
.userSignature{float:left;margin:0 0 0 14px;}

.postcomment .title{color:#333333; font-size:18px; margin:52px 0 0 0;}


.leavecomment{background:url(../images/leaveCommnet-bg.png) no-repeat; width:707px; height:68px; margin:13px 0 8px 0;}

.comment-box{background:url(../images/commnet-bg.png) repeat-y; width:707px; position:relative; }
.smUserImg{ position:absolute; top:5px;left:5px;}
.comment-top{ background:url(../images/comment-top-bg.png) no-repeat top left; min-height:50px;}

.commentContent{float:right;width:646px; margin:12px 15px 12px 0;}
.commentContent .name{color:#008aef; float:left;}
.commentContent .date{float:right; color:#999999;}
.commentContent p{margin:12px 0;}
img.comment-bottom{position:absolute; bottom:0; margin:0;}
/*----------------------------------------------------------------------
	HOME PAGE  page
----------------------------------------------------------------------*/

.contentWrapHome{ margin:0px 0 0 6px; }

.homeSearch{background: url(../images/bgSearch-w712.png) no-repeat top left; height:69px; position:relative; width:100%}
.homeSearch h3{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:bold; float:left; margin:15px 0 0 20px}
.homeSearch .searchWrap{background: url(../images/home/hp-search-bg.png) no-repeat top left; height:50px; width:280px; position:relative; top:9px; right:10px; float:right;}
.homeSearch input.search{ float:left; margin:15px 0 0 13px; width:359px; background:none; border:none; padding:3px 0 0 25px; text-shadow:0 -1px 0 white; font-style:italic;font-family:"ProximaNova-Regular"; font-size:16px;color:#304e62}

.hp-left-col{float:left;width:580px;}
.hp-right-col{float:right;width:240px;}


.hp-btn-getCloudify{ background:url(../images/btn-getCloudify-240-215.png) no-repeat top left; width:240px; height:69px; display:block; border-bottom:none !important;}
.hp-btn-getCloudify:hover{ background-position:0 -73px;}
.hp-btn-getCloudify:focus{background-position:0 0;}


.tblSections{border:0; text-align:center; width:100%; margin:38px 0 45px 9px;position:relative;}
.tblSections tr, .tblSections td{padding:0;margin:0; }
.tblSections td{ position:relative; }
.tblSections img{display:block;margin:0 auto 12px auto;}
a.hoverState{  min-width:245px; display:block;}
.replaceWrape{ position:relative; height:145px; margin:0 0 30px 0}
.replaceWrape img { position:absolute; top:0px}
.secTitle{color:#38cbe6;font-weight:bold; font-size:15px;}
.sec-subTitle{color:#231f20; font-size:18px;}
.tblSections td .box1 img{ left:50px;}
.tblSections td .box2 img{ left:160px;}
.tblSections td .box3 img{ left:50px;}

.sec-discusBox{background:url(../images/home/hp-discus-bg.png) no-repeat top left; width:199px; height:125px; padding:20px 12px 20px 20px;  font-size:10px; margin:0 auto;}
.sec-discusBox a{color:#fd7903;font-size:10px; text-decoration:underline;}

.hp-btn-go{margin:10px 10px ; width:40px; display:block; float:left; cursor:pointer; background:url(../images/home/hp-btn-go.png) no-repeat top left; height:34px}


.hp-twitter{background:url(../images/home/hp-twitter-bg.png) no-repeat top left; width:248px; height:135px; margin:0 0 11px 0; padding:40px 0 0 0;}
.hp-facebook{background:url(../images/home/hp-facebook-bg.png) no-repeat top left; width:237px; height:162px; padding:0 0 0 9px;  margin:0 0 11px 0; font-size:12px; color:#393939; font-family:"ProximaNova-Regular",Arial, Helvetica, sans-serif;}
.hp-sideBanner{margin:0 0 11px 0;}


.recentUpdates-box{background:url(../images/home/updates-txt-bg.png) no-repeat top left; width:360px; float:left; font-size:14px; color:#231f20; padding:16px 16px 16px 22px; margin:22px 0 0 0; }
.hp-update-icon{background:url(../images/home/hp-update-icons.png) width:248px; no-repeat; float:left; color:#1e7894; font-size:18px; padding:13px 0 0 12px; width:88px; height:29px; font-weight:bold; margin:40px 0 0 0;}

.hp-update-blogpost{background-position:0 0; }
.hp-update-evets{background-position:0 -49px; }
.hp-update-news{background-position:0 -91px; }
table.tblSections td,table.tblSections tr{ border:none}
.bcmAmember
{
    /*height:25px;*/
    padding: 3px 12px; /*  rounded  */
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important; /* shadow */
    -moz-box-shadow: 0px 0px 1px #ffffff;
    -webkit-box-shadow: 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 1px #ffffff; /* For IE 8 */
    background:#d2e2ec;
    height:63px;
    margin:0 0 36px 0;
    width:560px;

}
.bcmAmember h4{ font-weight:normal; margin:21px 0 0 0; float:left;color:#246e95; text-shadow:0 -1px 0 #000000; font-size:24px;font-family:"ProximaNova-Regular";}

/*----------------------------------------------------------------------
	GENERIC TEXT  page
----------------------------------------------------------------------*/
.genericSearch{background: url(../images/bgSearchGeneric.png) no-repeat top left; height:69px; position:relative; width:100%}
.genericSearch h2{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:bold; float:left; margin:25px 0 0 20px}
.genericSearch .searchWrap{background: url(../images/home/hp-search-bg.png) no-repeat top left; height:50px; width:449px; position:relative; top:9px; right:10px; float:right;}
.genericSearch input.search{ float:left; margin:15px 0 0 13px; width:452px; background:none; border:none; padding:3px 0 0 25px; text-shadow:0 -1px 0 white; font-style:italic;font-family:"ProximaNova-Regular"; font-size:16px;color:#304e62}

.DocumentsWrapLeft{ width:723px; float:left; margin:24px 0 0 23px;}

a.btnGetCloudifyGenericPage{margin:24px 0 0 0; float:right;}

h1.genericPageTitle{color:#38cbe6;font-size:28px; font-weight:bold; margin:0 0 30px 0;}

.genericPage p, .genericPage li{font-size:12px; line-height:1.8;}
.genericPage ul{padding:0; margin:0 0 0 15px;}

.genericPage .subHeader{color:#0b2b3e; font-size:18px;}



/*----------------------------------------------------------------------
	pop up video
----------------------------------------------------------------------*/

div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}