@charset "utf-8";
/* CSS Document */
/*** Core html template stuff ***/
html{   background:url(../images/bgFooterWrap.png) no-repeat bottom center }
body{ font-family:"ProximaNova-Regular",Arial, Helvetica, sans-serif;background:url(../images/bgTopX.png) repeat-x top center; color:#231f20; text-align:left;font-size:14px; margin:0px auto; width:100%; overflow: auto}

p, pre, blockquote,a, ol, h1, h2, h3, h4, h5, h6, ul, li, select, input,textarea, table, td, tr, span, label, form { direction:ltr;font-family:font-family:"ProximaNova-Regular",Arial, Helvetica, sans-serif;}
div, th{ text-align:left}	
table
{
    border-collapse: collapse;
}
td,th{ padding:3px 6px; border:solid 1px #000000}
th{ font-size:16px;}
.topMenu li,.footer li,.leftContentBox li{ list-style-type:none;}
a:focus, a:visited, a:link
{
  -moz-outline: none;
  outline: none; 
  /*overflow: hidden;*/
}
.headerButtons ul{ padding: 0px; list-style-type:none; margin:0px}
.headerButtons ul li{ background:url(../images/imgLiPoint.png) no-repeat  scroll 1px 11px; padding: 0px 0px 0px 13px; list-style-type:none; line-height:24px;} 
.itemFullText ul li{ background:(../images/imgLiPoint.png) no-repeat  scroll 0 6px; padding: 0px 0px 2px 13px}
#resultsDiv ul li{list-style-type:none;}
.DocumentsWrapRight ul.documents{  margin:10px auto; width:100%}
 div#resultsDiv.DocumentsWrapRight{ width:100% !important}
 div#resultsDiv.DocumentsWrapRight ul.topicPagination{ width:100% !important}
 div#resultsDiv.DocumentsWrap{ float:right !important}
a:link, a:visited {
	text-decoration: none;
	color:#008AEF;
}
a:hover{ text-decoration: none}

.Wrapper a{outline:0;}
.Wrapper ul{ margin:0px}
input.button { cursor: pointer; border: #666666 solid 1px; color:#FFFFFF; font-weight:bold; }
input.button:hover { }

 p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

.clear { 
	clear: both !important;
	height: 0px !important;
	overflow: hidden !important;
	font-size: 0px !important;
	margin: 0 !important;
	padding: 0 !important;
}
li.expandBtn{ background:none !important; color:#FDA603 !important; display:inline-block; cursor:pointer}

/*===Fonts====*/
@font-face {
    font-family: "ProximaNovaS-Regular";
    src: url("../webfonts/1E6015_7_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1E6015_7_0.woff") format("woff"), url("../webfonts/1E6015_7_0.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../webfonts/1E6015_A_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1E6015_A_0.woff") format("woff"), url("../webfonts/1E6015_A_0.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../webfonts/1E6015_8_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1E6015_8_0.woff") format("woff"), url("../webfonts/1E6015_8_0.ttf") format("truetype");
}

/*----------------------------------------------------------------------
	template stuff
----------------------------------------------------------------------*/
.WrapperBg{ background:url(../images/bgTopWrapper.png) no-repeat top center; overflow-x:hidden; width:100%}
.Wrapper{ width:990px; margin:0 auto; position:relative;}
.header{ width:100%; padding:72px 0 0 0; height:134px}
.logo{ float::left;display:block; width:484px; height:45px;}
.topMenu{ margin:33px 0 0 0;background:url(../images/bgTopMenu.png) repeat-x top left; height:55px; width:1037px; position:relative; left:-22px}
._topMenu ul  {padding: 0 0 0 0; list-style-type:none; margin:0 0 0 0}
._topmenu { position:relative; width:100%; left:-40px}
._topmenu li.topmenuli{ float:left; padding:0px; width:171px;list-style-type:none;}
._topmenu li.topmenuli#current{ float:left;background:url(../images/bgTopMenu.png) repeat-x bottom left; height:55px }
._topmenu li.sep{ background:url(../images/bgLiSep.png) no-repeat top left; width:2px; height:50px; margin:4px 0 0 0; padding:0px; float:left}
._topmenu li.topmenuli a{ color:#123448; display:block;}
._topmenu li.topmenuli a span{width:auto;display:block;}
span.title1{ font-family: "ProximaNova-Bold";font-size:18px;line-height:22px;}
._topmenu li.topmenuli a:hover span.title1{ text-decoration:underline;}
span.title2{ font-family: "ProximaNova-Bold";color:#5b94af;font-size:14px; line-height:14px;}

._topmenu li.topmenuli a {
   background: url(../images/menuIconsSpriteAll.png) no-repeat top left; padding:10px 0 8px 52px;
}
._topmenu li.topmenuli a.bgMenu1{ background-position: 12px 15px; } 
._topmenu li.topmenuli:hover a.bgMenu1,._topmenu li.topmenuli#current a.bgMenu1{ background-position: 12px -476px; } 
._topmenu li.topmenuli a.bgMenu2{ background-position: 12px -64px;} 
._topmenu li.topmenuli:hover a.bgMenu2,._topmenu li.topmenuli#current a.bgMenu2{ background-position: 12px -555px;} 
._topmenu li.topmenuli a.bgMenu3{ background-position: 7px -148px; } 
._topmenu li.topmenuli:hover a.bgMenu3,._topmenu li.topmenuli#current a.bgMenu3{ background-position: 7px -639px; } 
._topmenu li.topmenuli a.bgMenu4{ background-position: 7px -232px; } 
._topmenu li.topmenuli:hover a.bgMenu4,._topmenu li.topmenuli#current a.bgMenu4{ background-position: 7px -723px; } 
._topmenu li.topmenuli a.bgMenu5{ background-position: 7px -318px;} 
._topmenu li.topmenuli:hover a.bgMenu5,._topmenu li.topmenuli#current a.bgMenu5{ background-position: 7px -809px;} 
._topmenu li.topmenuli a.bgMenu6{ background-position: 7px -396px;} 
._topmenu li.topmenuli:hover a.bgMenu6,._topmenu li.topmenuli#current a.bgMenu6{ background-position: 7px -887px;} 

/*--------------------------REMOVE AFTER LAUNCH----------------------------*/

._topmenu li.disable{ background: url(../images/bgSoon.png) no-repeat scroll 100% 4px;}
._topmenu li.disable a{color:#7a7a7a; cursor:default}
._topmenu li.disable span.title2{color:#afafaf}
._topmenu li.disable a {
   background: url(../images/menuIconsSpriteAll2.png) no-repeat top left; padding:10px 0 8px 52px;
}
._topmenu li.disable a.bgMenu1{ background-position: 12px -959px; } 
._topmenu li.disable:hover a.bgMenu1,._topmenu li.disable#current a.bgMenu1{ background-position: 12px -959px; } 
._topmenu li.disable a.bgMenu3{ background-position: 7px -1041px; } 
._topmenu li.disable:hover a.bgMenu3,._topmenu li.disable#current a.bgMenu3{ background-position:  7px -1041px; } 
._topmenu li.disable a.bgMenu4{ background-position: 7px -1124px; } 
._topmenu li.disable:hover a.bgMenu4,._topmenu li.disable#current a.bgMenu4{ background-position: 7px -1124px; } 
._topmenu li.disable a.bgMenu5{ background-position: 7px -1207px;} 
._topmenu li.disable:hover a.bgMenu5,._topmenu li.disable#current a.bgMenu5{ background-position: 7px -1207px;} 
._topmenu li.disable a.bgMenu6{ background-position: 7px -1286px;} 
._topmenu li.disable:hover a.bgMenu6,._topmenu li.disable#current a.bgMenu6{ background-position: 7px -1286px;} 

._topmenu li.disable a:hover span.title1{ text-decoration:none;}

/*---------------------------------------REMOVE AFTER LAUNCH-------------------------------*/









.breadcrumbs{color:#c0c0c0; font-size:10px; float:left; margin:0 0 17px 0;font-family:"ProximaNova-Regular";}
.contentWrap{ margin:15px 0 0 6px; }
.learnFrom{background: url(../images/bgSearchWrapper.png) no-repeat top left; height:69px; position:relative; width:100%}
.searchWrap{background: url(../images/bgSearch.png) no-repeat top left; height:50px; width:507px; position:relative; top:9px; right:10px; float:right;}
input#search{ float:left; margin:15px 0 0 13px; width:452px; background:none; border:none; padding:3px 0 0 25px; text-shadow:0 -1px 0 white; font-style:italic;font-family:"ProximaNova-Regular"; font-size:16px;color:#304e62}
input#goBtn{ position:relative; float:right; right:10px;top:-25px; background:url(../images/btnGo.png) no-repeat top left; width:57px; height:27px; text-indent:-999px; overflow:hidden;cursor:pointer; border:none;}
input#goBtn:hover{ background-position:0 -28px}

.learnFrom h2{ font-family:"ProximaNova-Regular"; color:#ffffff; font-weight:normal; float:left; margin:25px 0 0 68px}
.content{background:url(../images/bgInnerContentToppic.png) top left repeat-y;}

.content p{ padding:0 0 10px 0; line-height:18px}
.content img{margin:0 0 28px 0}
.pageTitle{font-family:"ProximaNova-bold"; color:#0f3a53; font-size:22px; margin:35px 0 25px 0; float:left;width:707px;}
/*--documents blog layout--*/
.DocumentsWrap{ width:707px; float:left; padding:25px 0 0px 0}
.DocumentsWrap a ,.contentNoRight a,.DocumentsWrapRight a{color:#008aef; border-bottom:solid 1px #7fc4f7;}

ul.documents{/*border-top:solid 1px #e4e4e4;*/ float:left; padding:0px}
ul.documents li.reg{ border-bottom:solid 1px #e4e4e4; min-height:64px; padding:28px 0 28px 156px; line-height:16px;background:url(../images/bgDocIcon.png) no-repeat scroll 0 23px ;}
ul.documents li.special{ background:url(../images/bgSpDocIcon.png) no-repeat scroll 0 23px ;border-bottom:solid 1px #e4e4e4; min-height:64px; padding:28px 0 28px 156px; line-height:16px;}
ul.documents li p{ float:left;}
ul.documents li a.docTitle{font-family:"ProximaNova-Regular"; color:#38cbe6; font-size:18px; border-bottom:solid 1px #9be5f2; display:inline-block; margin:0 0 5px 0}
.rmore{ background:url(../images/iconMoreBorder.png) no-repeat scroll 100% 4px; padding:0 13px 0 0; text-transform:capitalize; color:#008aef; font-size:11px; display:inline-block; border-bottom:none !important;}
.rmore span{border-bottom:solid 1px #bfe2fb; cursor:pointer}
ul.pagination{ float:right; margin:12px 0 0 0}
ul.pagination li.paginationli{float:left; padding:0px}
ul.pagination li.paginationli a{color:#0f3a53; text-decoration:underline; padding:2px 6px}
ul.pagination li.paginationli#pageCurrent a,ul.pagination li.paginationli:hover a{ background:#f3f3f3; border:solid 1px #e6e7e7;padding:1px 5px;}
/*--home right layout--*/
.right{ float:right; width:243px;}
.btnGetCloudifyFreeEdition{ background:url(../images/btnGetCloudify.png) no-repeat top left; width:215px; height:39px; display:block; margin: 24px auto; border-bottom:none !important}
.btnGetCloudifyFreeEdition:hover{ background-position:0 -39px}
.btnGetCloudifyFreeEdition:focus{background-position:0 -78px}

.leftContentBox{ margin:0 auto; padding:0 0 58px 0; width:215px;}
.leftContentBox h3{ margin:0 0 0 0; color:#0f3a53;font-family:"ProximaNova-Regular"; font-size:18px; font-weight:normal;}
.leftContentBox input{ margin:0 12px 11px 0; display:inline-block;}
.leftContentBox form{ font-family:"ProximaNova-Regular"; font-size:11px; color:#231f20}
.leftContentBox a{color:#525252 !important; text-decoration:none !important; font-size:14px; font-weight:normal}
.leftContentBox a:hover{font-weight:normal;color:#000000 !important;}
.content .section a{color:#231f20 !important; text-decoration:underline !important; font-size:11px !important; border-bottom:none; display:block; 
padding:0 0 10px 0}
/*--Topic Layout--*/
.right{ float:right;}
.topicTitle{font-family:"ProximaNova-Regular"; font-size:18px; color:#2b7195; margin:0 0 10px 0}
span.notice{ background:url(../images/notice.png) no-repeat top left; display:inline-block; width:13px; height:13px; margin:0 2px 0 0}
p.ligther{ color:#525252 !important}
ul.topicPagination{ width:707px; border-top:1px solid #E4E4E4;padding:5px 0 0 0; }
ul.topicPagination li{ padding:0px; }
.prev{ float:left;}
.prev a{ color:#0f3a53; font-size:14px; border-bottom:solid 1px #4a6b7d;}
.next{float:right;}
.next a{font-size:14px;color:#008aef;border-bottom:solid 1px #7fc4f7;}
.TableOfContents{/*height:600px;*/ }
li.open{ padding:0 0 0 16px}
li.plus{ padding:0 0 0 24px}

.TableOfContents li{ line-height:18px;color:#231f20; text-decoration:none; font-size:11px; margin:0 0 6px 0} 
.TableOfContents ul{ margin-bottom:5px; padding:0px}


/*--Table Of Content Layout--*/
.contentNoRight { width:100% !important; background:none !important;}
.contentNoRight .DocumentsWrap{ width:100%}
.contentNoRight .btnGetCloudifyFreeEdition{ float:right;}
.ui-accordion .ui-accordion-content {padding:0px 10px 0 40px !important}

ul.tableOfcontentList,ul.tableOfcontentList ul{ padding:0px}
ul.tableOfcontentList li{ padding:0px; list-style-type:none }
li.odd{ background:#ebebeb;}
li.even{ background:#ffffff;}
.leftSide{ padding:22px 25px; float:left; width:441px;}
.rightSide{ padding:22px 25px;float:right;width:441px;}
.leftSide li,.rightSide li{ background:url(../images/liDot.png) no-repeat scroll 0 6px; padding:0 0 0 10px !important; line-height:18px}
ul.tableOfcontentList h3{ color:#1caab8; border-bottom:solid 1px #c6eaed; font-size:18px; margin:0 0 15px 0; font-weight:normal; display:inline-block}
ul.tableOfcontentList p{color:#9094a0; font-size:12px;}
.left{ float:left; width:243px;}
.DocumentsWrapRight{ width:707px; float:right; padding:0 0 0px 0}



/*--comming soon--*/
.commingSoonWrap{ background:url(../images/bgCommingSoon.png) repeat-x bottom left; min-height:654px; position:relative; left:-28px; width:1037px}
a.fork{ background:url(../images/bgForkMeOnGithub.png) no-repeat top left; width:141px; height:141px; display:block; position: absolute; top:-57px;border:none;cursor:pointer; right:0px; z-index:999}
.commingSoon{ width:990px; margin:0 auto; position:relative;}
.csRight{ float:right; width:254px;}
.csBox{ width:100%; margin-bottom:12px}
.csBoxTop{ width:100%; background:url(../images/topRoudedBox.png) no-repeat top left; height:8px;}
.csBoxMid{ width:100%; background:url(../images/midRoudedBox.png)repeat-y top left;}
.csBoxBtm{ width:100%; background:url(../images/btmRoudedBox.png) no-repeat top left; height:7px}
.twitts{ /*padding:0 21px; width:212px*/padding:0 11px; width:233px}
.twitts h3{ margin:0px; background:url(../images/iconTwitter.png) no-repeat scroll 0 7px; padding:10px 0 2px 41px; color:#1e7894; font-size:16px; margin:0}
ul.twitterList{ padding:0px; margin:0px 0 8px 0; width:207px}
ul.twitterList li{ list-style-type:none; border-bottom:solid 1px white; padding:8px 0 10px 0}
ul.twitterList li span{ color:#393939; font-size:11px;}
ul.twitterList li a{ color:#24acc5; font-size:11px; border:none; text-decoration:none}
a.join{ background:url(../images/iconTwitterArrow.png) no-repeat scroll 0 3px; padding:0 0 8px 17px; text-decoration:none; border:none; color:#246f96; font-weight:bold; display:block;}
span.likes{ font-size:12px; color:#393939; width:172px; padding:4px 0 0 0; display:inline-block}
a.facebook_like{ border:none; float:right;}
.facebookBox{ padding:0 12px 0; width:230px; height:150px;}
.csLeft{ width:650px; float:left; margin:0 0 0 24px}
.fbFaces{ margin-bottom:11px;}
.emailNote{ margin:42px 0 37px 0;}
.emailNote p{ color:#246e95; font-family: "ProximaNova-Bold"; font-size:26px; line-height:36px;}
.emailNote form{ margin:0px 0 0 0}
input#mce-EMAIL{ background:url(../images/bgInputEmail.png) no-repeat top left; border:none; width:198px;height:69px; display:inline-block; font-size:22px; color:#8c8c8c; line-height:32px; padding:0 24px 0 18px; float:left}
input#mce-NAME{ background:url(../images/bgInputName.png) no-repeat top left; border:none; width:198px;height:69px; display:inline-block; font-size:22px; color:#8c8c8c; line-height:32px; padding:0 21px 0 18px; float:left}

input#mc-embedded-subscribe{ background:url(../images/btnEmailSubmit.png) no-repeat top left; width:168px; height:68px; border:none; text-indent:-999px; overflow:hidden; float:left; cursor:pointer;}
input#mc-embedded-subscribe:hover{ background-position:0 -68px;outline:none; }
input#mc-embedded-subscribe:focus{background-position:0 -136px;outline:none; }
textarea:focus, input:focus{
    outline: none;
}
div.messageBox{ height:33px;}
ul#messageBox{ padding:12px 0 0 14px }
ul#messageBox li{ color:#F05223; float:left; margin:0 109px 0 0}
h3.checkOut{ background:url(../images/iconBookCloudBig.png) no-repeat top left; padding:0 0px 0 54px;font-family: "ProximaNova-Regular"; font-size:22px; line-height:50px;color:#213540; font-weight:normal; }
.counter .borderSep{ background:url(../images/bgHrBorder.png) repeat-x top left; height:3px; border:none; width:730px; left:-47px; position:relative;}


/*twitter*/
#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 {
    background: none !important;
    color: #FFFFFF !important;
}
.twtr-tweets{font-family:"ProximaNova-Regular"; font-size:11px;}
.twtr-hd{ padding:0px !important}
.twtr-tweet {border-bottom:solid 1px white !important; padding:8px 0 10px 0 !important}
.twtr-tweets a{ text-decoration:none; border:none;}
.twtr-ft div a{ display:none;}
.twtr-ft  span{ float:left !important;}
.twtr-ft a.twtr-join-conv{background:url(../images/iconTwitterArrow.png) no-repeat scroll 0 3px; padding:0 0 8px 17px; text-decoration:none; border:none; color:#246f96 !important; font-weight:bold; display:block;}

/*facebook*/
.fan_box a:hover{
  text-decoration: none;
}
.fan_box .full_widget{
  height: 200px;
  border: 0 !important;
  background: none !important;
  position: relative;
}
.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}
.fan_box .profileimage, .fan_box .name_block{
  display: none;
}
.fan_box .connect_action{
  padding: 0 !important;
}
.fan_box .connections{
  padding: 0 !important;
  border: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
span.total{
  color: #393939;
  font-weight: bold;
  white-space:nowrap;
  display:inline-block;
  overflow:hidden;
  text-overflow:clip;
  width:150px;
  position:relative;
  font-family:"ProximaNova-Regular";
  top:125px;
  font-size:11px;
}


.fan_box .connections .connections_grid {
  padding-top: 0px !important;
}
.fan_box .connections_grid .grid_item{
  padding: 0 2px 0px 0 !important;
  width:44px !important;
}

.fan_box .connections_grid .grid_item img{width:44px !important; height:45px !important;}
.fan_box .connections_grid .grid_item .name{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: normal;
  color: #666 !important;
  padding-top: 1px !important;
  display:none;
}
.fan_box .connect_widget{
position: absolute;
top: 120px;
right: 5px;
margin: 0 !important;
}
.fan_box .connect_widget .connect_widget_interactive_area {
margin: 0 !important;
}
.fan_box .connect_widget td.connect_widget_vertical_center {
padding: 0 !important;
background:#F3F3F3;
}


/*Counter*/
.counter{ }
h2.sitelaunch{ position:relative; margin:0px; top:36px; left:73px; font-family:"ProximaNova-Bold"; font-size:18px;color:#f05223; font-weight:normal;}
#countdown_dashboard {
	height: 129px;
	background:url(../images/bgCounter.png) no-repeat top left;
	padding:66px 0 0 58px;
	
}

.dash {
	width: 110px;
	height: 114px;
	background: none;
	float: left;
	margin-left: 24px;
	position: relative;
}

.dash .digit {
	font-size: 55px;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #ffffff;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

/*--footer--*/
.footer{background:url(../images/bgFooter.png) repeat-x bottom left; height:122px; margin:123px 0 0 0}
ul.footerLeftMenu{ float:left; margin:22px 0 0 0; padding:0px}
ul.footerLeftMenu li.footerli{ float:left; padding:0 16px 0 0}
ul.footerLeftMenu li.footerli a{ font-size:10px; color:#f36c21; text-decoration:underline;}
ul.footerRightMenu{ float:right; margin:22px 0 0 0;padding:0px}
ul.footerRightMenu li.footerli{ float:left; padding:0 6px 0 0;font-size:10px; color:#c0c0c0;}
ul.footerRightMenu li.footerli a{ font-size:10px; color:#c0c0c0; text-decoration:underline;}

.twtr-profile-img-anchor { display: none !important;  }
.twtr-profile-img { display: none !important;   }
.twtr-hd  { display: none !important;  }

.overviewtable tr,td,th{ border:none !important;}
