

/*  COLORS 
############################### */

/* color of titles that appear  below 
each thumbnail image in the playlist */
.vid-item .desc {
	color: #111;
}

.vid-item:hover .desc {
	color: #00B4DA;		/* <-- hover state color of titles */
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}


/* color of playlist arrows */
.mlvp-arrow-left, .mlvp-arrow-right {
	color: #111;
}

/* hover color of playlist arrows */
.mlvp-arrow-left:hover, .mlvp-arrow-right:hover {
	color: #00B4DA;
}


.mlvp-arrows {
	/*display: none;*/ /*uncomment this to hide the left/right arrows*/
}

.player-container {
	width: 100%;
	/*max-width: 904px;*/
	/*min-width: 300px;*/
}

.ui-body{ border: none !important; }
.ui-page-active { outline:none !important;  }

/*Video Playlist Title*/
.player-container h3 {
  margin-bottom: 4px;
}



/*  VIDEO CONTAINER
############################### */


.mlvp-container {
    /*position: relative;*/
    position: fixed;
    padding-bottom: 52%;
    padding-top: 38px; 
    height: 0; 
    display: none;
    /*visibility: hidden;*/
    z-index: 9999;
}
 
.mlvp-container iframe,
.mlvp-container object,
.mlvp-container embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.show-mlvp {
  display: block;
  /*visibility: visible;*/
}


/*  VIDEOS PLAYLIST 
############################### */
.mlvp-list-container {
	/*width: 90%;*/
	overflow: hidden;
	margin-left:37px;
	margin-right:38px;
	padding-bottom: 20px;
	-webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.mlvp-list {
	/*width: 3192px;*/
	position: relative;
	top:0;
	left: 0;
	-webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.vid-item {
	display: block;
	width: 148px;
	float: left;
	margin: 10px;
	padding: 0;
	-webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.thumb {
	overflow:hidden;
	height: 83px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -14px;
	/*opacity: 0.7;*/
}

.vid-item .desc {
	font-size: 15px;
	margin-top:5px;
}

.vid-item:hover {
	/*background: #eee;*/
	cursor: pointer;
}

.vid-item:hover .thumb img {
	opacity: 0.7;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}

.vid-item img.play-btn {
  position: absolute;
  top: 32px;
  width: 40px;
  padding-left: 52px;
  opacity: 0;
}

.vid-item:hover img.play-btn {
  opacity: 1;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*  ARROWS
############################### */

.mlvp-arrows {
	position:relative;
	width: 100%;
	top: 38px;
}

.mlvp-arrow-left {
	position: absolute;
	padding: 0;
	left: 0;
	top: 0;
	/*z-index: 99;*/
	cursor: pointer;
}

.mlvp-arrow-left img {
  width: 22px;
}

.mlvp-arrow-right {
	position: absolute;
	padding: 0;
	right: 0;
	top: 0;
	/*z-index:100;*/
	cursor: pointer;
}

.mlvp-close {
  position: fixed;
  padding: 0;
  right: 24px;
  top: 24px;
  z-index:999;
  cursor: pointer;
}

.mlvp-close img {
  width: 48px;
}





/*  ARROW and CLOSE ICONS
############################### */
@font-face {
  font-family: 'fontello';
  src: url('/mylist-gallery/fonts/fontello.eot?64872243');
  src: url('../source/mylist-gallery/fonts/fontello.eot?64872243#iefix') format('embedded-opentype'),
       url('../mylist-gallery/fonts/fontello.woff?64872243') format('woff'),
       url('../mylist-gallery/fonts/fontello.ttf?64872243') format('truetype'),
       url('../mylist-gallery/fonts/fontello.svg?64872243#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 
.demo-icon
{
  font-family: "FontAwesome" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* You can be more comfortable with increased icons size */
  font-size: 32px; 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

