---
layout: bt_default
title: NFV and What it Means to You, Make Sense of ETSI to MANO to YANG
description: Download our whitepaper and make sense of the dynamic ever changing NFV world, and what Orchestration will meet your needs.
category: Whitepapers
---

<div class="jumbotron subhead" id="overview">
    <h5 class="dwnCenter"></h5>
    <div class="container dwnTopBanner">
        <p>&nbsp;</p>        
        <h1>NFV and What it Means to You</h1>
        <h2><font color="#2bade0"><strong>Download the report!</strong></font></h2>
                
	
                     <div class="row">
                    <div class="span12">
                    <img src="/img/Evolution-light.png" style="float: right; display: inline;" width="300">

                    </div>
                    
                 
            </div>
        </div>
    </div>

		<section id="content">
				<div class="container">
				<div class="row">		
					<div class="span7">
							<h2>The Road to NFV is Paved with Challenges - Learn what they are and how to overcome them</h2>
							<p>In the past with dedicated hardware and software, networking functions were complex and had innate scale
							limitations; but now the cloud has now made it possible to expose these aspects to the user, and has enabled dynamic
							customization as never seen before.</p>
							<p>But as <a href="http://getcloudify.org/network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html">NFV (network function virtualization) </a> becomes a real pain point, more network vendors are working on a
							solution of how to take their existing investment in network products and make them NFV-enabled. The decision to move to NFV is based on the growing need for standardized architecture built on commodity hardware, elasticity and scale based on software-driven networking, which would then enable flexibility that would reduce vendor lock-in, all enabling faster time to market, and representing a growth engine for this highly-competitive industry.</p>
							<blockquote>
							<p>Network functions virtualization is at the heart of some major transformations for telecom
							operators, but it’s only going to work if it remains as open as possible.... What’s needed is a unified approach, one where all services are managed end-to-end.</p>
							<footer><b>Axel Clauberg</b>, Vice president of IP Architecture and design at <b>Deutsche Telekom</b></footer>
							</blockquote>
							<p> <a href="{{site.baseurl }}/"> Cloudify</a>, the open source NFV Orchestrator, and it's NFV team, has compiled a report on what NFV means to your organization, and how to make sense of it all. This report also outlines the need for a uniform standard for NFV orchestration, which brings open orchestration, automation of complex workflows and infrastructure monitoring together to enable the automation and self-management of applications on multiple VIM (Virtual Infrastructure Manager).</p>
							<h3>Highlights of the paper include:</h3>
							<ul>
								<li>The need for a Standards backed and infrastructure agnostic open source framework</li>
								<li>Achieving NFV "Automagically" via automation of virtual routers and more</li>
								<li><b>Use Case</b>: NFV in a Week with Open Source Tooling </li>
							</ul>
							<br>
						</div>
					<div class="span5">
						<h2><strong>Download the Whitepaper</sup></strong></h2>
						<!--[if lte IE 8]>
							<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
							<![endif]-->
							<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
							<script>
							  hbspt.forms.create({ 
							    portalId: '1918719',
							    formId: '07c40acf-c792-4dc3-9d09-245cfec11b56',
								onFormSubmit: function($form) { dataLayer.push({
								'event' : 'GAevent',
								'eventCategory': 'Form Completion',
								'eventAction': 'Submitted whitepaper Form',
								'eventLabel': 'NFV What it means to you whitepaper',
								})
								}
				  			});
							</script>

					</div>
				</div>
				</div>	
		</section>
{% include nfv_resources.html %}

			<!-- <section id="content">
				<div class="container">
				<div class="row">
				<div class="span12">
				<div class="aligncenter">
				<div class="well"><h2><img src="{{ site.baseurl }}/img/logo.png" width="120"> Find out how Cloudify is revolutionizing <a href="{{ site.baseurl }}/"><strong> Cloud Orchestration.</strong></a></h2></div>
				</div>
				</div>
				</div>
				</div>
			</section>	-->
		
<script type="text/javascript">
$(function () {
  var $form = $('#mc-embedded-subscribe-form');

  $('#mc-embedded-subscribe').on('click', function(event) {
    if(event) event.preventDefault();
    register($form);
  });
});

function register($form) {
  $.ajax({
    type: $form.attr('method'),
    url: $form.attr('action'),
    data: $form.serialize(),
    cache       : false,
    dataType    : 'json',
    contentType: "application/json; charset=utf-8",
    error       : function(err) { $('#notification_container').html('<span class="alert">Could not connect to server. Please try again later.</span>'); },
    success     : function(data) {
     
      if (data.result != "success") {
        var message = data.msg.substring(4);
        $('#notification_container').html('<span class="alert">'+message+'</span>');
      } 

      else {
        var message = data.msg;
        $('#notification_container').html('<span class="success">'+message+'</span>');
		track_contactForm();
		mixpanel.track('Register for NFV', {'page name' : document.title, 'url' : window.location.pathname});	
      }
    }
  });
}
</script>
		<section>
					<div id="messageBox"></div>
                                        <div class="row">
											<!-- LeadLander Form Tracking -->
											<script type="text/javascript">llfrmid=29185</script> 
											<script type="text/javascript" src="https://formalyzer.com/formalyze_init.js"></script> 
											<script type="text/javascript" src="https://formalyzer.com/formalyze_call_secure.js"></script>
											<!-- End LeadLander -->
                        				</div> 
		</section>
			
			
	
<!--		<section id="bottom">
			<div class="container">

		<div class="row">
		<div class="span2"></div>
		<div class="span8">
		<div class="aligncenter">
			
				<h2><strong>Learn more about Cloudify Premium<sup>TM</sup> or Download Now for Free</sup></strong></h2>
						<br/>
							<a class="btn btn-large btn-green btn-rounded" id="goProInner" href="{{ site.baseurl }}/goPro.html"><i class="icon-plus"></i>  Go Premium!</a>
							&nbsp; &nbsp;
							<a class="btn btn-large btn-theme btn-rounded" id="downloadBtnInner" href="{{ site.baseurl }}/downloads/get_cloudify.html"><i class="icon-download"></i>  Download Now</a>
							<br/>
							</br>
							</div>
						
						</div>
						<div class="span2"></div>
					</div>
					</div>
			<div class="container">
			{% include addthis.html %}
			</div>
					</section>-->

<script>

//set download cookie
function setCookie(key, value) {
    var expires = new Date();
    expires.setTime(expires.getTime() + (180 * 24 * 60 * 60 * 1000));
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString()+';path=/';
}

function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
}
function track_contactForm() {

		//_gaq.push(['_trackEvent','Product Download', downloadme]);
       	//track mixpanel
		if (getCookie('cfydirect') == null) {
            var formEmail =  $("#mc-embedded-subscribe-form #mce-EMAIL").val();	
            var formName =  $("#mc-embedded-subscribe-form #mce-FNAME").val();
			var formcompany =  $("#mc-embedded-subscribe-form #mce-MMERGE3").val();
			mixpanel.identify(formEmail);
            mixpanel.alias(formName, formEmail, formcompany);
            mixpanel.name_tag(formName) ;
			mixpanel.register();
			
			mixpanel.people.set({
			$email: formEmail,
			$first_name: formName,
			$company: formcompany,
			$created: new Date(),
			});	
			//create cookie;
			setCookie('cfydirect', formName + "," + formEmail + "," + formcompany);	
			
			
        }else{
			var formEmail = getCookie('cfydirect').split(",")[1];
			mixpanel.identify(formEmail);
        }

		
	}
	
	
	$("#mc-embedded-subscribe-form").validate({
  submitHandler: function(form) {
    form.submit();
  }
 });
	

</script>