---
layout: bt_default
title: vCPE/SD-WAN Network Orchestration - An Integration-based Approach
description: Download our whitepaper and learn how Cloudify delivers an open source, integration-based vCPE/SD-WAN engine.
category: Whitepapers
---


<div class="jumbotron subhead" id="overview">
    <h5 class="dwnCenter"></h5>
    <div class="container dwnTopBanner">
        <p>&nbsp;</p>        
        <h1>vCPE/SD-WAN Network Orchestration</h1>
        <h2><font color="#2bade0"><strong>An Integration-based Approach</strong></font></h2>
                
	
                     <div class="row">
                    <div class="span12">
                    <img src="/img/Evolution-light.png" style="float: right; display: inline;" width="300">

                    </div>
                    
                 
            </div>
        </div>
    </div>
    
		<section id="content">
				<div class="container">
				<div class="row">		
					<div class="span7">
							<h2>Learn how Cloudify delivers an open source, integration-based vCPE/SD-WAN engine</h2>
							<p>CSPs are looking to significantly lower costs with virtualization and automation of their networks. There are also many new players building their own CPE devices and management tools to help make this happen.</p>
							<p>However, the biggest concern for CSPs is how to dynamically orchestrate all the network components and replace any VNF with another brand, or open source alternative, on the fly.</p>
							<p>This report details how to take an integration-based approach to vCPE/SD-WAN using a generic, open source, TOSCA-based solution, and dynamically connect and swap existing components, open and proprietary, all while providing the required vCPE and SD-WAN orchestration functionality to automatically provision, configure, and chain VNFs.</p>
							<h3>Highlighted in the report:</h3>
							<ul>
								<li>How Cloudify automatically orcehstrates Day 0 through Day 2 operations upon CPE registration</li>
								<li>Dynamic onboarding and service chaining of VNFs in real-time</li>
								<li>How Cloudify's flexible architecture make it easy to deploy, service chain, and swap VNFs on the fly</li>
							</ul>
							<p>This report will help you understand more about how to break free of vendor lock-in via a vCPE/SD-WAN engine that is dynamically configured to simplify the setup and deployment of any new remote branch connection automatically upon registration, including post-deployment operations, all from a single pane of glass.</p>
							<br>
							<img src="/img/vcpe_sdwan_cover.png" width="250">
						</div>
					<div class="span5">
						<h2><strong>Download the Whitepaper</sup></strong></h2>
						<!--[if lte IE 8]>
							<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
							<![endif]-->
							<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
							<script>
							  hbspt.forms.create({ 
							    portalId: '1918719',
							    formId: 'b052f2a3-df8b-49ad-9965-553c69ba43e5',
								onFormSubmit: function($form) { dataLayer.push({
								'event' : 'GAevent',
								'eventCategory': 'Form Completion',
								'eventAction': 'Submitted whitepaper Form',
								'eventLabel': 'vcpe sdwan wp',
								})
								}
				  			});
							</script>

					</div>
				</div>
				</div>	
		</section>

{% include nfv_resources.html %}

			<!-- <section id="content">
				<div class="container">
				<div class="row">
				<div class="span12">
				<div class="aligncenter">
				<div class="well"><h2><img src="{{ site.baseurl }}/img/new_logo.png" width="120"> Find out how Cloudify is revolutionizing managing and orchestrating the <a href="http://getcloudify.org/cloud_orchestration_cloud_automation.html"><strong> Hybrid Cloud </strong></a></h2></div>
				</div>
				</div>
				</div>
				</div>
			</section>-->
		
<script type="text/javascript">
$(function () {
  var $form = $('#mc-embedded-subscribe-form');

  $('#mc-embedded-subscribe').on('click', function(event) {
    if(event) event.preventDefault();
    register($form);
  });
});

function register($form) {
  $.ajax({
    type: $form.attr('method'),
    url: $form.attr('action'),
    data: $form.serialize(),
    cache       : false,
    dataType    : 'json',
    contentType: "application/json; charset=utf-8",
    error       : function(err) { $('#notification_container').html('<span class="alert">Could not connect to server. Please try again later.</span>'); },
    success     : function(data) {
     
      if (data.result != "success") {
        var message = data.msg.substring(4);
        $('#notification_container').html('<span class="alert">'+message+'</span>');
      } 

      else {
        var message = data.msg;
        $('#notification_container').html('<span class="success">'+message+'</span>');
		track_contactForm();
		mixpanel.track('Register for NFV', {'page name' : document.title, 'url' : window.location.pathname});	
      }
    }
  });
}
</script>
		<section>
					<div id="messageBox"></div>
                                        <div class="row">
											<!-- LeadLander Form Tracking -->
											<script type="text/javascript">llfrmid=29185</script> 
											<script type="text/javascript" src="https://formalyzer.com/formalyze_init.js"></script> 
											<script type="text/javascript" src="https://formalyzer.com/formalyze_call_secure.js"></script>
											<!-- End LeadLander -->
                        				</div> 
		</section>
			
			
	
<!--		<section id="bottom">
			<div class="container">

		<div class="row">
		<div class="span2"></div>
		<div class="span8">
		<div class="aligncenter">
			
				<h2><strong>Learn more about Cloudify Premium<sup>TM</sup> or Download Now for Free</sup></strong></h2>
						<br/>
							<a class="btn btn-large btn-green btn-rounded" id="goProInner" href="{{ site.baseurl }}/goPro.html"><i class="icon-plus"></i>  Go Premium!</a>
							&nbsp; &nbsp;
							<a class="btn btn-large btn-theme btn-rounded" id="downloadBtnInner" href="{{ site.baseurl }}/downloads/get_cloudify.html"><i class="icon-download"></i>  Download Now</a>
							<br/>
							</br>
							</div>
						
						</div>
						<div class="span2"></div>
					</div>
					</div>
			<div class="container">
			{% include addthis.html %}
			</div>
					</section>-->

<script>

//set download cookie
function setCookie(key, value) {
    var expires = new Date();
    expires.setTime(expires.getTime() + (180 * 24 * 60 * 60 * 1000));
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString()+';path=/';
}

function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
}
function track_contactForm() {

		//_gaq.push(['_trackEvent','Product Download', downloadme]);
       	//track mixpanel
		if (getCookie('cfydirect') == null) {
            var formEmail =  $("#mc-embedded-subscribe-form #mce-EMAIL").val();	
            var formName =  $("#mc-embedded-subscribe-form #mce-FNAME").val();
			var formcompany =  $("#mc-embedded-subscribe-form #mce-MMERGE3").val();
			mixpanel.identify(formEmail);
            mixpanel.alias(formName, formEmail, formcompany);
            mixpanel.name_tag(formName) ;
			mixpanel.register();
			
			mixpanel.people.set({
			$email: formEmail,
			$first_name: formName,
			$company: formcompany,
			$created: new Date(),
			});	
			//create cookie;
			setCookie('cfydirect', formName + "," + formEmail + "," + formcompany);	
			
			
        }else{
			var formEmail = getCookie('cfydirect').split(",")[1];
			mixpanel.identify(formEmail);
        }

		
	}
	
	
	$("#mc-embedded-subscribe-form").validate({
  submitHandler: function(form) {
    form.submit();
  }
 });
	

</script>