<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 4
	  'services' :  [
	  {'service' : 'twitter', 'linkedin', 'google_plusone', 'more'},
    },   
    'recommended' : {} 
	'title': 'Related Posts'
	
  });
</script>
<!-- AddThis Smart Layers END -->