 <!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 4,
   'services' : 'twitter,google_plusone_share,linkedin,more'
    },
     'mobile' : {
        'buttonBarPosition' : 'top',
        'buttonBarTheme' : 'transparent',
        'mobile' : true
    },  
    'whatsnext' : {} 
  });
</script>
AddThis Smart Layers END -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>



<!-- AddThis Trending Content BEGIN -->
<div id="addthis_trendingcontent"></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>
<script type="text/javascript">
addthis.box("#addthis_trendingcontent", {
    feed_title : "Recommended Posts",
    feed_type : "clicked",
    feed_period : "month",
    num_links : 3,
    height : "auto",
    width : "auto",
    domain : "getcloudify.org"});
</script>
<!-- AddThis Trending Content END -->
