<div class="footer">
<!-- remove for launching
    <ul class="footerLeftMenu">
        <li class="footerli"><a href="#">About GigaSpaces</a></li>
        <li class="footerli"><a href="#">Contact Us</a></li>
    </ul>
    <ul class="footerRightMenu">
        <li class="footerli">Copyright © 2012 GigaSpaces. All rights reserved.</li>
        <li class="footerli"><a href="#">Terms of Use</a></li>
        <li class="footerli">|</li>
        <li class="footerli"> <a href="#">Privacy Policy</a></li>
    </ul>
    -->
</div>
