<div class="footer">
    <!--<ul class="footerLeftMenu">
        <li class="footerli"><a href="#">About GigaSpaces</a></li>
        <li class="footerli"><a href="#">Contact Us</a></li>
    </ul> -->
    <ul class="footerRightMenu">
        <li class="footerli">Copyright © 2012 GigaSpaces. All rights reserved.</li>
        <li class="footerli"><a href="/about_us">About Us</a></li>
        <li class="footerli">|</li>
        <li class="footerli"><a href="/terms_of_use">Terms of Use</a></li>
        <li class="footerli">|</li>
        <li class="footerli"> <a href="/privacy_policy">Privacy Policy</a></li>
        <li class="footerli">|</li>
        <li class="footerli"> <a href="http://www.gigaspaces.com" target="_blank">GigaSpaces.com</a></li>
        <li class="footerli">|</li>
        <li class="footerli"> <a href="http://www.gigaspaces.com/cloudify-go-pro" target="_blank">PRO Support Packages</a></li>


    </ul> 
    <ul class="footerSocialMenu">
        <li class="footerFb"><a href="https://www.facebook.com/GigaSpaces?sk=app_201742856511228" target="_blank"></a></li>
        <li class="footerRss"><a href="/atom.xml" target="_blank"></a></li>
        <li class="footerTwitt"><a href="http://www.twitter.com/cloudifysource" target="_blank"></a></li>
        <li class="footerYt"><a href="http://www.youtube.com/cloudifysource" target="_blank"></a></li>
        <li class="footerMell"><a alt="Contact-us" title="Contact-us" href="mailto:info@cloudifysource.org?Contact-us from cloudifysource website" target="_blank"></a></li>
        <li class="footerTumblr"><a href="http://cloudifysource.tumblr.com" target="_blank"></a></li>
    </ul>
</div>

<script type="text/javascript">
window.AIConfig = {};
window.AIConfig.mailTextField = 'email';
window.AIConfig.accountId='cloudifysource';
document.write(unescape("%3Cscript src='http://test.activeinsight.net/trw.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
jQuery(function() {

	//rss feed slider
	jQuery('.blogFeed').rssfeed('http://www.cloudifysource.org/atom.xml',{
		header: false,
		titletag: 'div',
		date: false,
		content: true,
		linktarget:'_blank',
	}, function(e) {
		$.zazar.ticker({selector: '.blogFeed ul'});
	});
	
	
	jQuery('.newsFeed').rssfeed('http://cloudifysource.tumblr.com/rss',{
		header: false,
		titletag: 'div',
		date: false,
		content: true,
		linktarget:'_blank',
	}, function(e) {
		$.zazar.ticker({selector: '.newsFeed ul'});
	});
});
</script>
<script type="text/javascript" src="/scripts/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript">
$(function() {

       $("#tabs").tabs();
    	$("a.youtube").YouTubePopup({ hideTitleBar: true });
        this script display text note when you hover one of the img at homePage
		$('.sec-discusBox').hide();
								  
			$('.tblSections td').hover(function() { 
		  	$(this).children('.replaceWrape').children('img').fadeOut('300');
		  	$(this).children('.replaceWrape').children('.sec-discusBox').fadeIn('100'); 
		  
		},
		 function() { $(this).children('.replaceWrape').children(".sec-discusBox").fadeOut('300'); 
		            $(this).children('.replaceWrape').children('img').fadeIn('100');
		});
});
</script>
		
