<!-- javascript footer_scripts
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jcarousel/jquery.jcarousel.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
<script src="/js/portfolio/jquery.quicksand.js"></script>
<script src="/js/portfolio/setting.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/jquery.nivo.slider.js"></script>
<script src="/js/modernizr.custom.79639.js"></script>
<script src="/js/jquery.ba-cond.min.js"></script>
<script src="/js/jquery.slitslider.js"></script>
<script src="/js/jquery.cslider.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/validate.js"></script>
<script src="/js/search/search.js"></script>
<script src="http://www.youtube.com/player_api"></script>

<script>
$(window).load(function() {
	$('#da-slider').cslider();
});
</script>

<!-- includes -->
{% include googleanalytics.html %}
{% include mixpanel.html %}	
{% include leadlander.html %}
{% include feedback.html %}
