<div class="footer">
    <!--<ul class="footerLeftMenu">
        <li class="footerli"><a href="#">About GigaSpaces</a></li>
        <li class="footerli"><a href="#">Contact Us</a></li>
    </ul> -->
    <ul class="footerRightMenu">
        <li class="footerli">Copyright © 2012 GigaSpaces. All rights reserved.</li>
        <li class="footerli"><a href="/about_us">About Us</a></li>
        <li class="footerli">|</li>
        <li class="footerli"><a href="/terms_of_use">Terms of Use</a></li>
        <li class="footerli">|</li>
        <li class="footerli"> <a href="/privacy_policy">Privacy Policy</a></li>
        <li class="footerli">|</li>
        <li class="footerli"> <a href="http://www.gigaspaces.com" target="_blank">GigaSpaces.com</a></li>

    </ul> 
    <ul class="footerSocialMenu">
        <li class="footerFb"><a href="https://www.facebook.com/GigaSpaces?sk=app_201742856511228"></a></li>
        <li class="footerRss"><a href="/atom.xml"></a></li>
        <!--<li class="footerMell"><a href="#"></a></li>-->
        <li class="footerTwitt"><a href="http://www.twitter.com/cloudifysource"></a></li>
        <li class="footerYt"><a href="http://www.youtube.com/cloudifysource"></a></li>
    </ul>
</div>

<script type="text/javascript">
window.AIConfig = {};
window.AIConfig.mailTextField = 'EMAIL';
window.AIConfig.accountId='cloudifysource';
document.write(unescape("%3Cscript src='http://test.activeinsight.net/trw.js' type='text/javascript'%3E%3C/script%3E"));
</script>