<head>
    {% include latestGAversion.html %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
    <title>Cloudify - The Open PaaS Stack</title>
    <script src="//cdn.optimizely.com/js/59503762.js"></script>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/atom.xml" />
    <link rel="stylesheet" href="/css/template.css" type="text/css"/> 
    <link rel="stylesheet" href="/scripts/prettify/prettify.css" type="text/css"/> 
	<link rel="canonical" href="http://www.cloudifysource.org{{page.url}}"/>	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script src="scripts/jquery-1.7.1.js" type="text/javascript"></script> 
	<link rel="stylesheet" href="/css/jquery-ui-1.8.17.custom.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/scripts/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>    	   
    <script src="/scripts/widget.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/prettify/prettify.js"></script>
    <script type="text/javascript" >
    window.onload = function () {
	$('body').addClass("bodyClass");
     }
    $(function() {

	//popup contact form
	$("li.contactUs,div.contactUsWrapper").mouseenter(function(){
		$("div.contactUsWrapper").css("visibility","visible");
		$("a.contactUsLink").css("visibility","hidden");
	});
	$("li.contactUs,div.contactUsWrapper").mouseleave(function(){
		$("div.contactUsWrapper").css("visibility","hidden")
		$("a.contactUsLink").css("visibility","visible");
	});
	//end popup contact form


    	$("#tabs").tabs();
    	$("a.youtube").YouTubePopup({ hideTitleBar: true });
        //this script display text note when you hover one of the img at homePage
		$('.sec-discusBox').hide();
								  
			$('.tblSections td').hover(function() { 
		  	$(this).children('.replaceWrape').children('img').fadeOut('300');
		  	$(this).children('.replaceWrape').children('.sec-discusBox').fadeIn('100'); 
		  
		},
		 function() { $(this).children('.replaceWrape').children(".sec-discusBox").fadeOut('300'); 
		            $(this).children('.replaceWrape').children('img').fadeIn('100');
		});							  
								  
    });
	</script>
		  
  <script type="text/javascript" src="/scripts/cloudify_default.js"></script>
	{% include googleanalytics.html %}
	{% include gauges.html %}	
	{% include mixpanel.html %}	
	{% include qualaroo.html %}


 <script type="text/javascript" >
//mixpanel people function/////
mixpanel.people.identify();
mixpanel.people.set("referrer", document.referrer);

mixpanel.people.set({
    //$email: 'glassneryo@yahoo.com',
    //$email:'sharone@zitzman.com',
$email,
});


mixpanel.people.set({
    "gender": "male",
    "referrer": document.referrer
});

</script>
</head>