<head>
    {% include latestGAversion.html %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	<title>Cloudify - {{ page.title }}</title>
	<script src="//cdn.optimizely.com/js/59503762.js"></script>
	<link rel="stylesheet" href="/css/template.css" type="text/css"/>	
	<link rel="canonical" href="http://www.cloudifysource.org{{page.url}}"/>	
	<link rel="stylesheet" href="/css/jquery-ui-1.8.17.custom.css" type="text/css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/scripts/prettify/prettify.css">	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="/scripts/jquery-1.6.4.js"></script>
	<script type="text/javascript" src="/scripts/search.js"></script>
	<script type="text/javascript" src="/scripts/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/scripts/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/scripts/prettify/prettify.js"></script>
	<script type="text/javascript" src="/scripts/easySlider1.7.js"></script>
	<script type="text/javascript" src="/scripts/version.data.js"></script>
	<script type="text/javascript" src="/scripts/version.js"></script>
	<script type="text/javascript">
	window.onload = function () {
		$('body').addClass("bodyClass");	
 	}
	
	$(function(){ 
	//popup contact form
		$("li.contactUs,div.contactUsWrapper").mouseenter(function(){
			$("div.contactUsWrapper").css("visibility","visible");
			$("a.contactUsLink").css("visibility","hidden");
		});
		$("input.cuSend").click(function(){
			$('.cuValid').hide();
		});
		$("input.cuSend").submit(function(){
			$("div.contactUsWrapper").css("visibility","hidden")
			$("a.contactUsLink").css("visibility","visible");
	
		});
		$("a.contactUsWrapperClose").click(function(){
				$("div.contactUsWrapper").css("visibility","hidden")
				$("a.contactUsLink").css("visibility","visible");
			});	
	//end popup contact form
		$("a.youtube").YouTubePopup({ hideTitleBar: true });
		$("div.expand").hide();
		
		{% if needExpandBtn != null %} 
			$("span.inlineToggleExpandBtn").append("<span class='arrow arrowsDown'>&raquo;</span>").click(function(){
				$(this).children('span.arrow').toggleClass('arrowsDown').toggleClass('arrowsUp');
				$(this).parent().next("div.expand").slideToggle(500);
			});
			$("span.expandBtn,span.inlineExpandBtn").append("<span class='arrow arrowsDown'>&raquo;</span>").click(function(){
				var elem = $(this),
					divExpand = elem.children("div.expand"),
					divExpandIframe = divExpand.children("iframe");
				
				elem.children('span.arrow').toggleClass('arrowsDown').toggleClass('arrowsUp');
				if (divExpand.length==0) {
					divExpand = $("<div class='expand'><span id='expandLoading'>Loading content ...</span></div>").hide().appendTo(elem);
					divExpand.width(725).height(480).css("border", "none");
				}
				if (divExpandIframe.length==0) {
					divExpandIframe = $("<iframe src='" + elem.attr("title") + "' />").css("opacity", 0).appendTo(divExpand);
					divExpandIframe.width(725).height(480).css({"overflow-x":"hidden", "overflow-y":"auto", "border":"0"});
					
					var getContent = function(){
							divExpandIframe.contents().find("html").css("background", "none");
							divExpandIframe.contents().find("head").append('<link rel="stylesheet" href="/css/template.css" type="text/css"/>');
							divExpandIframe.contents().find("head").append('<link rel="stylesheet" href="/css/jquery-ui-1.8.17.custom.css" type="text/css" media="all"/>');
							divExpandIframe.contents().find("head").append('<link rel="stylesheet" type="text/css" href="/scripts/prettify/prettify.css">');
							divExpandIframe.contents().find("body").css("background","none");
							
							var data = divExpandIframe.contents().find("#pageContent");

							divExpandIframe.contents().find("body").html(data);
							divExpandIframe.contents().find("#versionSelectionBottom").remove();
							
							divExpandIframe.contents().find("img").each(function(){
								var maxWidth = 707;
								
								if ($(this).width() > (maxWidth - $(this).offset().left)) {
									$(this).width(maxWidth - $(this).offset().left);
								}
							});
							
							$("#expandLoading").remove();
							divExpandIframe.animate({"opacity":1}, 'slow');
						};
					
					if ($.browser.webkit) {
						var load = function(callback) {
							(divExpandIframe.contents().find("#pageContent").html()) ? callback() : setTimeout(function() {load(callback);}, 500);
						};
						load(getContent);
					}
					else
						divExpandIframe.load(getContent);
				}
				divExpand.slideToggle(500);
			});
			{% assign needExpandBtn = null %}
		{% endif %}
		$("li.expandBtn").click(function(){	
			$(this).next("div.expand").slideToggle(500);
			if($(this).html()=="More..."){
				$(this).html("Less...");	
			}else{
				$(this).html("More...");
			}
		});
		
	   /* ------------- added by Yaron/modified by Shlomo ------------ */
		$("#closeBut").parent().hide();
		$("#values").hide();
		$("span.pln, span.kwd").hover(function(eventObject){
			var keys = {"name":true, "provider":true, "user":true, "value":true};
			var currKey = $(eventObject.currentTarget).text().trim();
			if (keys[currKey]) {
				var prevKey = $(eventObject.currentTarget).prevUntil("span.pun:contains('{')").last().prev().prev("span.pln").text().trim() ? $(eventObject.currentTarget).prevUntil("span.pun:contains('{')").last().prev().prev("span.pln").text().trim() : $(eventObject.currentTarget).prev().prev("span.pln").text().trim();
				currKey = prevKey + "_" + currKey;
			}
			if (messages[currKey]) {
				var tooltip = $(".overlay"),
					position = $(eventObject.currentTarget).offset();
				$(this).css({"background-color":"#CECECE", "cursor" : "help"});
				var message = messages[currKey].split("::"); console.log(message);
				$("#desc",tooltip).text(message[0].trim());
				if (message[1] && message[1].trim().toLowerCase() == "required") {
					$("#required").prev().show();
					$("#required").show();
					$("#required").next().show();
					$("#required").css("color", "red");
					$("#required").text("Required");
				} else {
					$("#required").prev().hide();
					$("#required").hide();
					$("#required").next().hide();
				}
				tooltip.show().offset({ top: position.top + tooltip.scrollTop() - 50, left: position.left + 100});
				$("#tipImg").position();
			}}, function(){
				$(".overlay").offset({top:0,left:0}).hide();
				$(this).css("background-color","transparent");
		});
	});
	
	</script>
	
	{% if needVersions != null %} 
		<script type="text/javascript">								
			var origOnLoad = window.onload;
			window.onload = function() {
				origOnLoad();
				addPageVersions();
			}	
		</script>			
		{% assign needVersions = null %}
	{% endif %}	
	

<script type="text/javascript" >
(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules

            $("#contactUs").validate({
                rules: {
                    last_name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    last_name: "Please enter your first name",
                    email: "Please enter a valid email address",
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);
</script>


	<script type="text/javascript" src="/scripts/cloudify_default.js"></script>
	{% include googleanalytics.html %}
	{% include gauges.html %}
	{% include mixpanel.html %}	
	{% include qualaroo.html %}	
</head>