<div class="header">
    <a class="logo" href="/"></a>
    <div class="clear"></div>
            <div class="topMenu">
                <ul class="_topmenu">
                    <li class="topmenuli"><a class="bgMenu1" target="_blank" href="https://cloudifysource.zendesk.com/forums"><span class="title1">Discuss</span><span class="title2">Customer Forums</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli"><a class="bgMenu2" href="/guide"><span class="title1">Learn</span><span class="title2">Knowledge Base</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli disable"><a class="bgMenu3" href="#"><span class="title1">Ideas</span><span class="title2">Your Suggestions</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli disable"><a class="bgMenu4" href="#"><span class="title1">Read</span><span class="title2">Knowledge Base</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli disable"><a class="bgMenu5" href="#"><span class="title1">Support</span><span class="title2">Your Account</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli disable"><a class="bgMenu6" href="#"><span class="title1">Develop</span><span class="title2">Build & Integrate</span></a></li>

		</ul>
		<div class="clear"></div>
	</div>
</div>

<!-- Tooltip Container -->
<div class="overlay">
  <span></span>
  <div class="closeDiv">
      <img src="/images/close.png" class="closeBut"/>
   </div>
</div>