<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cloudify - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/template.css" type="text/css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.8.17.custom.css" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/scripts/prettify/prettify.css">	
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/scripts/prettify/prettify.js"></script>
    <script type="text/javascript">
             $(function(){ 
           	$("div.expand").hide();
           	$("li.expandBtn").click(function(){	
    		  $(this).next("div.expand").slideToggle(500);
    		  if($(this).html()=="More..."){
    		  	$(this).html("Less...");	
    		  }else{
    		  	$(this).html("More...");
    		  }
    		  
			});
           /* ------------- added by Yaron ------------ */
			$("span.pln, span.kwd").css("cursor","pointer");
			$("span.pln, span.kwd").hover(function(){$(this).css("background-color","#CECECE");},function(){$(this).css("background-color","transparent");});
	        $("span.pln, span.kwd").click( function(eventObject) {
				var currKey = $(eventObject.currentTarget).text().trim();
				if (currKey == "name") {
					var prevKey = $(eventObject.currentTarget).prev().prev("span.pln").text().trim();
					currKey = prevKey + "_" + currKey;
					alert(currKey)
				}
				var tooltip = $(".overlay");
				var position = $(eventObject.currentTarget).offset();				
				$("#desc",tooltip).text(messages[currKey]);		
				tooltip.show().offset({ top: position.top + tooltip.scrollTop() - 75, left: position.left + 100});
				$("#tipImg").position()
				$("#closeBut").click(function() {$(".overlay").offset({top:0,left:0}).hide();})
			 });	
           }
	 );
    
    </script>
    
    <script type="text/javascript" src="/scripts/cloudify_default.js"></script>



    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29063606-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        

    </script>
    
    <script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

    

</head>