<!-- Test -->


<div class="header">
    <div class="headersLinks">
        <ul>
            <li><a href="https://cloudifysource.zendesk.com/registration" target="_blank">Sign Up</a></li>
            <li class="sep">|</li>
            <li><a href="https://cloudifysource.zendesk.com/login" target="_blank" class="lock">Login</a></li>
            <li class="sep">|</li>
            <li class="contactUs"><a  class="contactUsLink" href="#" target="_blank">Contact Us</a></li>
        </ul>
        <div class="contactUsWrapper">
            <form id="contactUs" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            <input type=hidden name="oid" value="00D300000000KEt">
            <input type=hidden name="retURL" value="http://www.cloudifysource.org/thank_you_contact.htm">
            <input  id="first_name" name="first_name" type="hidden" />
	    <span class="cuValid"></span>
            <input  id="last_name" name="last_name" type="text" class="cuInput" placeholder="Your Name"/>
            <span class="cuValid"></span>
            <input  id="email" name="email"  type="text"  placeholder="Your Email"/><br>
            <span class="cuValid"></span>
            <textarea  id="00N80000003kH4I" name="00N80000003kH4I" type="text" wrap="soft" placeholder="Your Message"></textarea>
 <input id="00N80000003kH2d" maxlength="50" name="00N80000003kH2d" size="20" type="text" value="CloudifySource Community Contact" style="display: none" />            
<input type="submit" class="cuSend" name="submit" value="Contact" />
            </form>
            <a class="contactUsWrapperClose" href="#">Close</a>
        </div>
    </div>



    <a class="logo" href="/"></a>
    <div class="clear"></div>
            <div class="topMenu">
                <ul class="_topmenu">
                    <li class="topmenuli"><a class="bgMenu1" href="http://forums.cloudifysource.org/forums"><span class="title1">Support Forums</span><span class="title2">Discuss & Suggest</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli"><a class="bgMenu2" href="/guide/{{latestGAversion}}/qsg/quick_start_guide_helloworld"><span class="title1">Documentation</span><span class="title2">Learn</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli"><a class="bgMenu3" href="/participate"><span class="title1">Events</span><span class="title2">Participate</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli"><a class="bgMenu4" href="/blog"><span class="title1">Blog & Updates</span><span class="title2">Read</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli"><a class="bgMenu5" href="/cloudifysourcetv"><span class="title1">Videos</span><span class="title2">Watch & Learn</span></a></li>
                    <li class="sep"></li>
                    <li class="topmenuli"><a class="bgMenu6" href="/guide/contribute/how_to"><span class="title1">Get Involved</span><span class="title2">Contribute</span></a></li>

		</ul>
		<div class="clear"></div>
	</div>
</div>

<!-- Tooltip Container -->
<div class="overlay">
<div class="overlayFrame">
<div style="width:100%;height:25px;align:left;"><img src="/images/close.png" id="closeBut"/></div>
<div><span id="desc"></span><br/>
 <span id="required"></span><br/>
 <span id="values"></span>
 </div>
</div>
<img src="/images/box_edge.png" id="tipImg"/>  
</div>
<div class="clear"></div>