<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cloudify - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/template.css" type="text/css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.8.17.custom.css" type="text/css" media="all"/>	
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/scripts/cloudify_default.js"></script>
    <script type="text/javascript">
    $(document).ready(function()
       {
       	 $(this).removeClass("current");
    	 $(function(){
            $("div.TableOfContents").find("a").each(function(){
            if( location.href.indexOf(this.href) != -1) {
            $(this).addClass("current");
             
            }
            });
        });
       });
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29063606-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    

</head>