<head>
    {% include latestGAversion.html %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	<title>Cloudify - {{ page.title }}</title>
    <script src="//cdn.optimizely.com/js/59503762.js"></script>
    <link rel="stylesheet" href="/css/template.css" type="text/css"/>
	<link rel="canonical" href="http://www.cloudifysource.org{{page.url}}"/>	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script src="scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
	<!--<script src="http://www.youtube.com/player_api"></script>-->
    <script src="/scripts/www-widgetapi-vfll_Uq2Q.js" async=""></script>
	<script src="/scripts/videoPlayer.js" type="text/javascript"></script>
	<script type="text/javascript" src="/scripts/jquery.pajinate.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script type="text/javascript" >
(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules

            $("#contactUs").validate({
                rules: {
                    last_name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    last_name: "Please enter your first name",
                    email: "Please enter a valid email address",
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
//start captcha Code
	function randomgen()
	{
    var rannumber='';
		for(ranNum=1; ranNum<=6; ranNum++){
			rannumber+=Math.floor(Math.random()*10).toString();
		}
		$('#verifyNum').html(rannumber);
		$('#verifyNumHidden').val(rannumber);
	}
	randomgen();
//Verification number generate code Ends here
  
//Validation Starts Here    
	$('#contactUs').submit(function() {
		if($('#enterVerify').val() == $('#verifyNumHidden').val() ) {
			//$('form').attr('action', 'https://example.com/MyForm');
			return true;
		}
		else
		{
			alert("Please Enter Correct Verification Number");
			randomgen();
			$('#enterVerify').select();
			$('#enterVerify').focus();
			return false;
		}
	});
//end captcha Code;        
    });

})(jQuery, window, document);
</script>			
 <script type="text/ecmascript">
	window.onload = function () {
	$('body').addClass("bodyClass");
	}	
		$(function() {

	//popup contact form
	$("li.contactUs,div.contactUsWrapper").mouseenter(function(){
		$("div.contactUsWrapper").css("visibility","visible");
		$("a.contactUsLink").css("visibility","hidden");
	});
	$("input.cuSend").click(function(){
		$('.cuValid').hide();
	});
	$("input.cuSend").submit(function(){
		$("div.contactUsWrapper").css("visibility","hidden")
		$("a.contactUsLink").css("visibility","visible");

	});
	$("a.contactUsWrapperClose").click(function(){
			$("div.contactUsWrapper").css("visibility","hidden")
			$("a.contactUsLink").css("visibility","visible");
		});

	
});



</script>
    
    
    {% include googleanalytics.html %}
	
    
    <script type="text/javascript">
              
       	 $(this).removeClass("current");
    	 $(function(){
            $("div.ui-accordion").find("a").each(function(){
            if( location.href.indexOf(this.location.href) != -1) {
            $(this).addClass("current");
             
            }
   
            });
            
  
            
        });
</script>

	{% include gauges.html %}
	{% include mixpanel.html %}	  
	{% include qualaroo.html %}
    
</head>
