<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
    <title>Cloudify - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/template.css" type="text/css"/>    
	<link rel="canonical" href="http://www.cloudifysource.org{{page.url}}"/>	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script src="scripts/jquery-1.7.1.js" type="text/javascript"></script>    
    <script type="text/javascript" src="/scripts/search.js"></script>    	   
    <script src="/scripts/widget.js" type="text/javascript"></script>
    <script type="text/javascript" >
    window.onload = function () {
	$('body').addClass("bodyClass");
     }
    $(function() {
        //this script display text note when you hover one of the img at homePage
		$('.sec-discusBox').hide();
								  
			$('.tblSections td').hover(function() { 
		  	$(this).children('.replaceWrape').children('img').fadeOut('300');
		  	$(this).children('.replaceWrape').children('.sec-discusBox').fadeIn('100'); 
		  
		},
		 function() { $(this).children('.replaceWrape').children(".sec-discusBox").fadeOut('300'); 
		            $(this).children('.replaceWrape').children('img').fadeIn('100');
		});							  
								  
    });
	</script>
		  
    <script type="text/javascript" src="/scripts/cloudify_default.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29063606-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        

    </script>
    

</head>