	<div class="homeSearchTop">
	<div class="headersLinks">
	        <ul>
	            <li><a href="https://cloudifysource.zendesk.com/registration" target="_blank">Sign Up</a></li>
	            <li class="sep">|</li>
	            <li><a href="https://cloudifysource.zendesk.com/login" target="_blank" class="lock">Login</a></li>
	            <li class="sep">|</li>
	            <li class="contactUs"><a  class="contactUsLink" href="#" target="_blank">Contact Us</a></li>
	        </ul>
	        <div class="contactUsWrapper">
	            <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
	            <input type=hidden name="oid" value="00D300000000KEt">
	            <input type=hidden name="retURL" value="http://www.cloudifysource.org/thank_you_contact.htm">
	            <input  id="first_name" name="first_name" type="hidden" />
	            <input  id="last_name" name="last_name" type="text" class="cuInput" placeholder="Your Name"/>
	            <span class="cuValid"></span>
	            <input  id="email" name="email"  type="text"  placeholder="Your Email"/><br>
	            <span class="cuValid"></span>
	            <textarea  id="00N80000003kH4I" name="00N80000003kH4I" type="text" wrap="soft" placeholder="Your Message"></textarea>
	            <input type="submit" class="cuSend" name="submit" value="Contact" />
	            </form>
	        </div>
	    </div>
		<div class="searchWrap">
			<form id="searchForm" action="#" method="get">
				<input id="search" class="search" placeholder="Search..." />
				<input id="goBtn" class="goBtn" type="submit" value="Go" />
			</form>
		</div>
	</div>


 
