<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<div id="wrapper">
   {% include header.html %}
    <div id="resultsDiv" class="DocumentsWrap"></div>
	
	<section id="inner-headline">
	<div class="container" class="howHeadWrapper">
		<div class="row">
			<div class="span8">
				<div class="inner-heading">
					<h2><i class="icon-cogs"></i><strong>How</strong> its work</h2>
				</div>
			</div>
			<div class="span4">
				<ul class="breadcrumb">
					<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">How</a><i class="icon-angle-right"></i></li>
					<li class="active">How its works</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	 <section id="content" class="howWrapper" >
		 <div class="howItsWorkWrap">
			{% include slidercontent.html %}
		</div>	 
	 </section>
	 <div class="clear"></div>  
   {% include footer.html %}   
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
{% include footer_scripts.html %}	
{% include sliderjs.html %}
</body>
</html>












