<script type="text/javascript" >
alert("dfgdsfsdfs");
    $(function () {
        //slider
        var currentNum;
        var visStage;
        var visStageText;
        var value = 2; // set 0 - 8 for set the first stage that you want to see on page load.
        var currentDiv = '.stage' + value;
        var currentDivNoDot = 'stage' + value;
        var currentDivClass;
        var currentDivText = ' .stage' + value + ' .stageText'; ;
        var bgPos;
		
		
        $("#slider-range-min").slider({
            range: "min",
            min: 0,
            max: 8,
            value: value,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
                $("#slider-range-min").removeClass(currentDivNoDot);
                $(currentDiv).hide();
                //$('.stage').attr('style', '');
                currentNum = $("#amount").val(ui.value).val();
                currentDiv = ' .stage' + currentNum;
                currentDivNoDot = ' stage' + currentNum;
                currentDivText = ' .stage' + currentNum + ' .stageText';
                for (i = 0; i <= currentNum; i++) {
                    visStage = '.stage' + i;
                    $(visStage).show();
                    visStageText = '.stage' + i + ' .stageText';
                    $(visStageText).hide();
                }
                $(currentDivText).show();
                //$(visStageText).hide();

                //$(curDiv).show();
                currentDivClass = $(currentDiv).text();
                $("#slider-range-min").addClass(currentDivNoDot);


                // getter
                value = $("#amount").val(ui.value).val();
                //document.location.hash = value;
                //window.history.pushState("object or string", "Title", "/new-url");
            }

        });
        $("#amount").val($("#slider-range-min").slider("value"));
        //for display stages on loading page.
        for (i = 0; i <= value; i++) {
            visStage = '.stage' + i;
            $(visStage).show();
            visStageText = '.stage' + i + ' .stageText';
            $(visStageText).hide();
        }
        if (currentDiv == '.stage') {
            $('.stage0').show();
            currentDivClass = $('.stage0').text();
            $(currentDivText).show();
            $("#slider-range-min").addClass('stage0');
        } else {
            $(currentDiv).show();
            currentDivClass = $(currentDiv).text();
            $(currentDivText).show();
            $("#slider-range-min").addClass(currentDivNoDot);
        }






        //float btns for trigger stages when clicking
        //upload Recipe
        $('.uploadRecipe').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -346px');
        });
        $('.uploadRecipe').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage1";
            currentDiv = ".stage1";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -346px');
            //show stage text:
            $('.stage1  .stageText').show()
            window.history.pushState("object or string", "Title", "/how/devops");
        });
        //End uploadRecipe

        //Create Vms
        $('.createVms').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -693px');
        });
        $('.createVms').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage2";
            currentDiv = ".stage2";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -693px');
            //show stage text:
            $('.stage2  .stageText').show();
            window.history.pushState("object or string", "Title", "/how/cloud_migration");
        });
        //End Create Vms 


        //Install Agent
        $('.installAgent').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -1039px');
        });
        $('.installAgent').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage3";
            currentDiv = ".stage3";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -1039px');
            //show stage text:
            $('.stage3  .stageText').show();
            window.history.pushState("object or string", "Title", "/how/application_management");
        });
        //End Install Agent



        //Recipe
        $('.recipe').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -1385px');
        });
        $('.recipe').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage4";
            currentDiv = ".stage4";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -1385px');
            //show stage text:
            $('.stage4  .stageText').show();
            window.history.pushState("object or string", "Title", "/how/cloudify_paas");
        });
        //End Recipe

        //Install App Services
        $('.InstallAppServices').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -1731px');
        });
        $('.InstallAppServices').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage5";
            currentDiv = ".stage5";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -1731px');
            //show stage text:
            $('.stage5  .stageText').show();
            window.history.pushState("object or string", "Title", "/how/cloud_deployment");
        });
        //End Install App Services

        //Monitoring
        $('.monitoring').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -2077px');
        });
        $('.monitoring').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage6";
            currentDiv = ".stage6";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -2077px');
            //show stage text:
            $('.stage6  .stageText').show();
            window.history.pushState("object or string", "Title", "/how/cloud_monitoring");
        });
        //End Monitoring


        //Auto Scaling
        $('.autoScaling').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -2423px');
        });
        $('.autoScaling').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage7";
            currentDiv = ".stage7";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -2423px');
            //show stage text:
            $('.stage7  .stageText').show();
            window.history.pushState("object or string", "Title", "/how/elastic_cloud");
        });
        //End Auto Scaling


        //FailOver
        $('.failOver').mouseenter(function () {
            bgPos = $(currentDiv + ".stage").css("background-position")
            $(currentDiv + ".stage").css('background-position', '0 -2769px');
        });
        $('.failOver').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage8";
            currentDiv = ".stage8";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -2769px');
            //show stage text:
            $('.stage8  .stageText').show();
            document.location.href = "/how/cloud_automation";

        });
        //End FailOver

    });
	</script>