<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("96365f48f34c41c7b91e045b4f48d53d");</script> <!--end Mixpanel -->



<script type="text/javascript">
    (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
    b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
    '//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];
    d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
    var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
    Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
    f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
    'track_forms','register','register_once','unregister','identify','name_tag',
    'set_config','people.identify','people.set','people.increment'];for(e=0;e<h.length;e++)d(g,h[e]);
    a._i.push([b,c,f])};a.__SV=1.1;})(document,window.mixpanel||[]);
    mixpanel.init("96365f48f34c41c7b91e045b4f48d53d");




//mixpanel global page tracking:
//mixpanel.track_forms('#ki_form', 'Qualaroo');
mixpanel.track('Cloudify Community Page Views', {'page name' : document.title, 'url' : window.location.pathname});  
$(function(){ 
    // This sends us an event every time a user clicks the button
	$("a.hp-btn-getCloudify").click(function() {
	    mixpanel.track("Get Cloudify Button Clicks",{'page name' : document.title, 'url' : window.location.pathname}); 
	});
});


mixpanel.track_forms("#searchForm", "Search",{'page name' : document.title, 'url' :  window.location.pathname});
$(function(){ 
	$("#goBtn").click(function() {
	var value = $('#search').val();
	    mixpanel.track("Search",{"keyword": value}); 
	});
});

//track Cloudify Early Access Builds
mixpanel.track_links("a.eaTitle", "Product Download - Early Access Builds", {'referrer': document.referrer });


// mixpanel- trakc only if email requested
var currEmail="";
$("body").live('change', function(){
 $("#ki_form").live('change', function(){
  if($("#ki_question_99437").length != 0) {
	currEmail =  $("input.ki_explain_small").val();	
	mixpanel.track_links("#ki_submit_button", "Qualaroo", function(ele) {
	 if($('input').hasClass('ki_explain_small')){
	  var currEmail =  $("input.ki_explain_small").val();	
	  mixpanel.name_tag(currEmail);
	  mixpanel.people.identify(currEmail);
	  mixpanel.people.set({
	  $email: currEmail,
	  $first_name: currEmail,
	  $created: new Date(),
	  $last_seen:new Date(),
	  });
	} return { type: $(ele).attr('type'),email: currEmail}
	});
  }
});

});

//
//$("#ki_submit_button").click(function() {

//if($('input').hasClass('ki_explain_small')){
 // var currEmail =  $("input.ki_explain_small").val();	
 // mixpanel.name_tag(currEmail);
 // mixpanel.people.identify(currEmail);
 // mixpanel.people.set({
 // $email: currEmail,
 // $first_name: currEmail,
//  });
//}
//});
</script>
