<script type="text/javascript">
mixpanel.track('Cloudify Community Page Views', {'page name' : document.title, 'url' : window.location.pathname});  
mixpanel.track_links("div.LatestRecipes a", "Latest Recipes Button Clicks", function(ele) { return { type: $(ele).attr('type')}});
mixpanel.track_links("div.GetConnected a", "Social Button Clicks", function(ele) { return { type: $(ele).attr('type')}});

// This sends us an event every time a user clicks the HP Get Cloudify button
$(function(){ 
  $("a.hp-banner-getCloudify").click(function() {
	    mixpanel.track("Home Page Download Button Clicks",{'page name' : document.title, 'url' : window.location.pathname}); 
	});
});

//Track Subscribers
mixpanel.track_forms('#mc-embedded-subscribe-form', 'Register for Event Button Clicks',{'page name' : document.title, 'url' : window.location.pathname});	
mixpanel.track_forms('#ki_form', 'Qualaroo');

//PEOPLE
//mixpanel.track_forms('div.contactUsWrapper form', 'Contact Us');

var grabEmail;

$("#mc-embedded-subscribe").click(function() {
var currEmail = document.getElementById("mce-EMAIL").value;	
  mixpanel.name_tag(currEmail);
  grabEmail=$("input#mce-EMAIL").val();
  mixpanel.people.identify(grabEmail);
mixpanel.people.set({
    $email: grabEmail,
    $first_name: grabEmail,
    $created: new Date(),
    });
mixpanel.people.set("referrer", document.referrer);



});


//mixpanel people function:
mixpanel.register({gender: "male"});

//trake search terms
mixpanel.track_forms("#searchForm", "Search",{'page name' : document.title, 'url' :  window.location.pathname});
$(function(){ 
	$("#goBtn").click(function() {
	var value = $('#search').val();
	    mixpanel.track("Search",{"keyword": value}); 
	});
});
</script>
