<!--Event groups-->



<div class="leftContentBox blogLeft-topTitle">
	<h3>Recent Posts</h3>
</div>


<div class="leftContentBox blogLeftBox"> 
 {% for post in site.posts limit:3 %}  
	<a href="{{ post.url }}">{{ post.title }} 
	 <img class="noMargin" src="/images/arrow-right-blue.png" /></a><br />
	<span class="date">{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>  
	<br/><br/>
{% endfor %}		
</div>

{% include tumblr.html %}

<div class="leftContentBox blogLeft-topTitle">
	<h3>Archived Posts</h3>
</div>

 <ul class="blog-archive-list">
 {% assign posts_collate = site.posts %}
 {% include posts_months.html %}
 </ul>