<!--Event groups-->

<div class="leftContentBox blogLeft-topTitle">
	<h3>Recent Posts</h3>
 </div>

<div class="leftContentBox blogLeftBox">
   
	<a href="#">Announcing: Clodify new edition! 
		<img class="noMargin" src="images/arrow-right-blue.png" /></a><br />
	<span class="date">6/9/2011 11:34:51 AM  </span>
  
</div>

<div class="leftContentBox blogLeftBox">
   
	<a href="#">Announcing: Clodify new edition! 
		<img class="noMargin" src="images/arrow-right-blue.png" /></a><br />
	<span class="date">6/9/2011 11:34:51 AM  </span>
  
</div>


<div class="leftContentBox blogLeftBox">
   
	<a href="#">Announcing: Clodify new edition! 
		<img class="noMargin" src="images/arrow-right-blue.png" /></a><br />
	<span class="date">6/9/2011 11:34:51 AM  </span>
  
</div>

 <div class="leftContentBox blogLeft-topTitle blog-left-title2">
	<h3>Post Archive</h3>
 </div>

 <ul class="blog-archive-list">
	<li><a href="#">June 2012</a> <span class="blue">(2)</span></li>
	  <li><a href="#">June 2012</a> <span class="blue">(2)</span></li>
	 <li><a href="#">June 2012</a> <span class="blue">(2)</span></li>
	
 </ul>