<!--Event groups-->



<div class="leftContentBox blogLeft-topTitle">
	<h3>Recent Posts</h3>
</div>


<div class="leftContentBox blogLeftBox"> 
 {% for post in site.posts limit:3 %}  
	<a href="{{ post.url }}">{{ post.title }} 
	 <img class="noMargin" src="/images/arrow-right-blue.png" /></a><br />
	<span class="date">{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>  
	<br/><br/>
{% endfor %}		
</div>


 <ul class="blog-archive-list">
	<li><a href="#">June 2012</a> <span class="blue">(2)</span></li>
	  <li><a href="#">June 2012</a> <span class="blue">(2)</span></li>
	 <li><a href="#">June 2012</a> <span class="blue">(2)</span></li>
	
 </ul>