 <div class="rightContentBox">
	<h3>Filter</h3>
	<form>
		<input type="checkbox" name="Filter" value="Servers" />Servers<br />
		<input type="checkbox" name="Filter" value="Recipes" />Recipes<br />
		<input type="checkbox" name="Filter" value="API's" />API's<br />
		<input type="checkbox" name="Filter" value="NoSQL" checked="checked" />NoSQL
	</form> 
</div>
<div class="rightContentBox">
	<h3>Top Topics</h3>
	<form>
		<input type="checkbox" name="Top Topics" value="Servers" checked="checked" />MongoDB<br />
		<input type="checkbox" name="Top Topics" value="Recipes" checked="checked" />WebSphere<br />
		<input type="checkbox" name="Top Topics" value="API's" />Getting Started<br />
		<input type="checkbox" name="Top Topics" value="NoSQL"  />NoSQL
	</form> 
</div>
