<div id="learnFrom">
    <h2>Learn from our Knowledge Base</h2>

    <div class="searchWrap">

        <form id="cse-search-box" action="http://google.com/cse">
            <input type="hidden" name="cx" value="002601473084935334357:-gl7jne-_oa" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input id="search" name="q" value="Search..." onclick="javascript:$('#search').value = '';"/>
            <input id="goBtn" name="sa" type="submit" value="Go"/>
        </form>
    </div>
</div>