<script type="text/javascript" >
    $(function () {
        //slider
        var currentNum;
        var visStage;
        var visStageText;
        var value = {{ sliderPage }}; // sliderPage value is now {{ sliderPage }}. set 0 - 8 for set the first stage that you want to see on page load.
        var currentDiv = '.stage' + value;
        var currentDivNoDot = 'stage' + value;
        var currentDivClass;
        var currentDivText = ' .stage' + value + ' .stageText'; ;
        var bgPos;
        $("#slider-range-min").slider({
            range: "min",
            min: 0,
            max: 8,
            value: value,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
                $("#slider-range-min").removeClass(currentDivNoDot);
                $(currentDiv+'.stage').css('background-position','');
                $(currentDiv).hide();
                //$('.stage').attr('style', '');
                currentNum = $("#amount").val(ui.value).val();
                currentDiv = ' .stage' + currentNum;
                currentDivNoDot = ' stage' + currentNum;
                currentDivText = ' .stage' + currentNum + ' .stageText';
                for (i = 0; i <= currentNum; i++) {
                   $('.stage').hide();
                   visStage = '.stage' + i;
                    $(visStage).show();
                    visStageText = '.stage' + i + ' .stageText';
                    $(visStageText).hide();
                }
                $(currentDivText).show();
                //$(visStageText).hide();

                //$(curDiv).show();
                currentDivClass = $(currentDiv).text();
                $("#slider-range-min").addClass(currentDivNoDot);


                // getter
                value = $("#amount").val(ui.value).val();
                //document.location.hash = value;
                //window.history.pushState("object or string", "Title", "/new-url");
                bgPos = $(currentDiv + ".stage").css("background-position")
            }

        });
        $("#amount").val($("#slider-range-min").slider("value"));
        bgPos = $(currentDiv + ".stage").css("background-position")
        //for display stages on loading page.
        for (i = 0; i <= value; i++) {
            visStage = '.stage' + i;
            $(visStage).show();
            visStageText = '.stage' + i + ' .stageText';
            $(visStageText).hide();
        }
        if (currentDiv == '.stage') {
            $('.stage0').show();
            currentDivClass = $('.stage0').text();
            $(currentDivText).show();
            $("#slider-range-min").addClass('stage0');
        } else {
            $(currentDiv).show();
            currentDivClass = $(currentDiv).text();
            $(currentDivText).show();
            $("#slider-range-min").addClass(currentDivNoDot);
        }






        //float btns for trigger stages when clicking

        
        //upload Recipe
        $('.uploadRecipe').mouseenter(function () {           
            $(currentDiv + ".stage").css('background-position', '0 -365px');
        });
        $('.uploadRecipe').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });
        $('.uploadRecipe').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage1";
            currentDiv = ".stage1";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -365px');
            //show stage text:
            $('.stage1  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position")
            window.history.pushState("object or string", "Title", "/how/devops");
        });
        //End uploadRecipe

        //Create Vms
        $('.createVms').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -730px');
        });
        $('.createVms').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        }); 
        $('.createVms').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage2";
            currentDiv = ".stage2";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -730px');
            //show stage text:
            $('.stage2  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            window.history.pushState("object or string", "Title", "/how/cloud_migration");
        });
        //End Create Vms 


        //Install Agent
        $('.installAgent').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -1095px');
        });
        $('.installAgent').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });        
        $('.installAgent').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage3";
            currentDiv = ".stage3";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -1095px');
            //show stage text:
            $('.stage3  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            window.history.pushState("object or string", "Title", "/how/application_management");
        });
        //End Install Agent



        //Recipe
        $('.recipe').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -1460px');
        });
        $('.recipe').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });         
        $('.recipe').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage4";
            currentDiv = ".stage4";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();

            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -1460px');
            //show stage text:
            $('.stage4  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            window.history.pushState("object or string", "Title", "/how/cloudify_paas");
        });
        //End Recipe

        //Install App Services
        $('.InstallAppServices').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -1825px');
        });
        $('.InstallAppServices').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });          
        $('.InstallAppServices').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage5";
            currentDiv = ".stage5";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -1825px');
            //show stage text:
            $('.stage5  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            window.history.pushState("object or string", "Title", "/how/cloud_deployment");
        });
        //End Install App Services

        //Monitoring
        $('.monitoring').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -2190px');
        });
        $('.monitoring').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });         
        $('.monitoring').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage6";
            currentDiv = ".stage6";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -2190px');
            //show stage text:
            $('.stage6  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            window.history.pushState("object or string", "Title", "/how/cloud_monitoring");
        });
        //End Monitoring


        //Auto Scaling
        $('.autoScaling').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -2555px');
        });
        $('.autoScaling').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });         
        
        $('.autoScaling').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage7";
            currentDiv = ".stage7";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -2555px');
            //show stage text:
            $('.stage7  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            window.history.pushState("object or string", "Title", "/how/elastic_cloud");
        });
        //End Auto Scaling


        //FailOver
        $('.failOver').mouseenter(function () {
            $(currentDiv + ".stage").css('background-position', '0 -2920px');
        });
        $('.failOver').mouseleave(function () {        
            $(currentDiv + ".stage").css('background-position', bgPos);
        });         
        $('.failOver').click(function () {
            //for change slider hand position:
            $('.stage').hide();
            $("#slider-range-min").removeClass(currentDivNoDot);
            currentDivNoDot = "stage8";
            currentDiv = ".stage8";
            $("#slider-range-min").addClass(currentDivNoDot);
            $(currentDiv + ".stage").show();
            //for change stage current image hand position:
            $(currentDiv + ".stage").css('background-position', '0 -2920px');
            //show stage text:
            $('.stage8  .stageText').show();
            bgPos = $(currentDiv + ".stage").css("background-position");
            //document.location.href = "/how/cloud_automation";
            window.history.pushState("object or string", "Title", "/how/cloud_automation");

        });
        //End FailOver

    });
	</script>
