<!--Start slider content -->

		<!--don't delete-->
		<input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;visibility:hidden" />	
		<!--end don't delete-->
		
		<div class="bgSliderFrame">
		<h3 class="deployApp">Deploy Application</h3>
		<h3 class="manageApp">Manage Application</h3>
			<div id="slider-range-min">
				<ul class="sliderStageTitle">
				        <li class="s0">Start</li>
					<li class="s1">Upload Recipe</li>
					<li class="s2">Create VMs</li>
					<li class="s3">Install Agent</li>
					<li class="s4">Process Recipe</li>
					<li class="s5">Install App Services</li>
					<li class="s6">Monitoring</li>
					<li class="s7">Auto Scaling</li>
					<li class="s8">Failover</li>
					
				</ul>

			</div>
		</div>
		<div class="bgSliderStagesFrame">
        	<!--start floating btns-->
                    <div class="floatBtns uploadRecipe"></div>
           			<div class="floatBtns createVms"></div>
                    <div class="floatBtns installAgent"></div>
                	<div class="floatBtns recipe"></div>
                    <div class="floatBtns InstallAppServices"></div>
                    <div class="floatBtns monitoring"></div>
                    <div class="floatBtns autoScaling"></div>
                    <div class="floatBtns failOver"></div>
            
     <!--end floating btns-->
        <div class="stage0 stage" style="display: none;">
            <div class="stageText">
                <h1>How Cloudify Works</h1>
                Cloudify is designed to bring any app to any cloud enabling enterprises, ISVs, and managed service providers alike to quickly benefit from the cloud automation and elasticity organizations today need. Cloudify helps you maximize application onboarding and automation by externally orchestrating the application deployment and runtime.  Cloudify’s DevOps approach treats infrastructure as code, enabling you to describe deployment and post–deployment steps for any application through an external blueprint – AKA, a recipe, which you can then take from cloud to cloud, unchanged.
                <p><b>Start clicking & see it in action below.</b></p>

            </div>
        </div>
        <div class="stage1 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    Cloudify's DevOps</h1>
                Cloudify's DevOps approach enables you to install your application with a single
                shell or REST command, with no code changes. <b><a href="/guide/2.3/deploying/deploying_apps.html">Just Script It</b></a> 
            </div>
        </div>
        <div class="stage2 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    Cloud Migration</h1>
                Cloudify simplifies cloud migration by provisioning the compute resources you need on demand, on the cloud of your choice (public cloud, private cloud, or even hybrid cloud), using its Cloud Driver
<b><a href="/guide/2.3/clouddrivers/cloud_driver.html">Read about it in the Wiki.</a></b>

            </div>
        </div>
        <div class="stage3 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    Cloudify's Application Management</h1>
                When it comes to easy application management, Cloudify auto-installs its agents on each VM to process your recipe.
            </div>
        </div>
        <div class="stage4 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    PaaS & Cloud Infrastructure</h1>
                Cloudify makes building your own PaaS a snap.  Agents will process your recipe and install your application tiers, and with its tight integration with OpsCode's Chef, you can easily leverage any Chef cookbooks in the cloud deployment phase.
<b><a href="/guide/2.3/developing/lifecycle_events.html">Learn How Here. </a></b>

            </div>
        </div>
        <div class="stage5 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    Cloudify's & Tier Dependencies</h1>
                
            </div>
        </div>
        <div class="stage6 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    Cloud Monitoring</h1>
                Cloudify takes your cloud monitoring capabilities to the next level.  You can easily monitor your application services for availability and performance, define any custom metrics you want to use, and ensure business continuity at all times.
<b><a href="/guide/2.3/developing/service_recipe.html">See the Code.</a></b>

            </div>
        </div>
        <div class="stage7 stage" style="display: none;">
            <div class="stageText">
                <h1>
                    Elastic Cloud</h1>
                With Cloudify the possibility of a truly elastic cloud is now possible.  You can define scaling rules based on any custom metric - and Cloudify will scale out or scale in as needed.

            </div>
        </div>
        <div class="stage8 stage" style="display: none;">
            <div class="stageText">
                <h1>
                   Cloud Automation</h1>
                When it comes to cloud automation - Cloudify ensures this isn't just a buzz word, but practically applicable in real time - providing the robustness your cloud needs.  In case of any application service failure, Cloudify will allocate a new instance or a new machine - guaranteeing virtually no downtime or service interruptions. 

            </div>
        </div>
    </div>
<!--End slider content -->
