<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GIGASPACES Community</title>
<link rel="stylesheet" href="../css/jquery-ui-1.8.17.custom.css" type="text/css" media="all" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.js"></script>
<script src="../scripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
	
</head>
<body>
<script>	
$(function() {
		$( "#accordion" ).accordion();
	});

</script>

<div class="rightContentBox" >
    <h3>Table of Contents</h3>
	
    <div id="accordion">
		<h3><a href="#">Quick Start Guide</a></h3>
		<div>
			<ul>
				<li><a style="color:gray" href="#">Quick Start Guide</a></li>
				<li><a style="color:gray" href="#">Screen Casts</a></li>
				<li><a class="default" href="#">Scaling Your Web Application</a></li>
				<li><a class="default" href="#">Setting Up Your First Data Grid</a></li>
				<li><a class="default" href="#">Writing Your First XTP Application</a></li>
				<li><a class="default" href="#">Introduction to XAP JPA</a></li>
				<li><a class="default" href="#">Beyond the Basics</a></li>
			</ul>
		</div>
		<h3><a href="#">Setup</a></h3>
		<div>
			<ul>
				<li><a style="color:gray" href="#">Quick Start Guide</a></li>
				<li><a style="color:gray" href="#">Screen Casts</a></li>
				<li><a class="default" href="#">Scaling Your Web Application</a></li>
				<li><a class="default" href="#">Setting Up Your First Data Grid</a></li>
				<li><a class="default" href="#">Writing Your First XTP Application</a></li>
				<li><a class="default" href="#">Introduction to XAP JPA</a></li>
				<li><a class="default" href="#">Beyond the Basics</a></li>
			</ul>
		</div>
		<h3><a href="#">Deployment</a></h3>
		<div>
			<ul>
				<li><a style="color:gray" href="#">Quick Start Guide</a></li>
				<li><a style="color:gray" href="#">Screen Casts</a></li>
				<li><a class="default" href="#">Scaling Your Web Application</a></li>
				<li><a class="default" href="#">Setting Up Your First Data Grid</a></li>
				<li><a class="default" href="#">Writing Your First XTP Application</a></li>
				<li><a class="default" href="#">Introduction to XAP JPA</a></li>
				<li><a class="default" href="#">Beyond the Basics</a></li>
			</ul>
		</div>
		<h3><a href="#">Development</a></h3>
		<div>
			<ul>
				<li><a style="color:gray" href="#">Quick Start Guide</a></li>
				<li><a style="color:gray" href="#">Screen Casts</a></li>
				<li><a class="default" href="#">Scaling Your Web Application</a></li>
				<li><a class="default" href="#">Setting Up Your First Data Grid</a></li>
				<li><a class="default" href="#">Writing Your First XTP Application</a></li>
				<li><a class="default" href="#">Introduction to XAP JPA</a></li>
				<li><a class="default" href="#">Beyond the Basics</a></li>
			</ul>
		</div>
        <!--<ul>
            <li><a style="color:gray" href="#">Quick Start Guide</a></li>
            <li><a style="color:gray" href="#">Screen Casts</a></li>
            <li><a class="default" href="#">Scaling Your Web Application</a></li>
            <li><a class="default" href="#">Setting Up Your First Data Grid</a></li>
            <li><a class="default" href="#">Writing Your First XTP Application</a></li>
            <li><a class="default" href="#">Introduction to XAP JPA</a></li>
            <li><a class="default" href="#">Beyond the Basics</a></li>
			<li>
			<a href="#">Zoreger's grandma</a>
			 <ul>
				<li><a href="#">Quick Start Guide</a></li>
				<li><a href="#">Screen Casts</a></li>
				<li><a href="#">Scaling Your Web Application</a></li>
				<li><a href="#">Setting Up Your First Data Grid</a></li>
				<li><a href="#">Writing Your First XTP Application</a></li>
				<li><a href="#">Introduction to XAP JPA</a></li>
				<li><a href="#">Beyond the Basics</a></li>
			</ul>
			</li>
       </ul>-->
	   
	
    </div>
</div>
<div class="rightContentBox section">
    <h3>Section Contents</h3>
    <a href="#">The Grid Service Agent</a>
    <a href="#">The Grid Service Container </a>
    <a href="#">The Grid Service Manager</a>
    <a href="#">The Lookup Service </a>
</div>
</body>
</html>