<div class="leftContentBox">
   <h3>Table of Contents</h3>
   <div class="clear"></div>
	<div class="TableOfContents" id="accordion">
				
		<h3><a href="#">Getting Started</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/qsg/quick_start_guide">10-Minute Quick Start Guide</a></li>							   
			  				
				  <li><a href="/guide/qsg/quick_start_guide_ec2">10-Minute EC2 Quick Start Guide</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Product Overview</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/overview/cloudify_intro">Introduction to Cloudify</a></li>							   
			  				
				  <li><a href="/guide/overview/universal_service_manager">The Universal Service Manager (USM)</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Installation & Setup</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/setup/cloudify_prerequisites">Cloudify Prerequisites</a></li>							   
			  				
				  <li><a href="/guide/setup/installing_the_cloudify_client">Installing the Cloudify Shell</a></li>							   
			  				
				  <li><a href="/guide/setup/command_line_reference">Command Line Reference</a></li>							   
			  				
				  <li><a href="/guide/setup/configuring_for_public_clouds">Configuring for Public Clouds</a></li>							   
			  				
				  <li><a href="/guide/setup/installing_private_cloud">Configuring for Private Clouds</a></li>							   
			  				
				  <li><a href="/guide/setup/installing_azure">Configuring for Azure</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Bootstrapping</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/bootstrapping/bootstrapping_process">The Bootstrapping Process</a></li>							   
			  				
				  <li><a href="/guide/bootstrapping/bootstrapping_localcloud">Bootstrapping Cloudify on local cloud</a></li>							   
			  				
				  <li><a href="/guide/bootstrapping/bootstrapping_azure">Bootstrapping Cloudify on Windows Azure</a></li>							   
			  				
				  <li><a href="/guide/bootstrapping/bootstrapping_ec2">Bootstrapping Cloudify on Amazon EC2</a></li>							   
			  				
				  <li><a href="/guide/bootstrapping/bootstrapping_hp">Bootstrapping Cloudify on HP OpenStack Cloud</a></li>							   
			  				
				  <li><a href="/guide/bootstrapping/bootstrapping_byon">Bootstrapping Cloudify in a Traditional Data Center</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Developing Recipes</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/developing/recipes_overview">Anatomy of a Recipe</a></li>							   
			  				
				  <li><a href="/guide/developing/application_recipe">The Application Recipe</a></li>							   
			  				
				  <li><a href="/guide/developing/service_recipe">The Service Recipe</a></li>							   
			  				
				  <li><a href="/guide/developing/lifecycle_events">Lifecycle Events</a></li>							   
			  				
				  <li><a href="/guide/developing/recipe_parameters">Recipe Parameterization</a></li>							   
			  				
				  <li><a href="/guide/developing/extending_recipes">Extending Service Recipes</a></li>							   
			  				
				  <li><a href="/guide/developing/the_service_context_api">The Service Context API</a></li>							   
			  				
				  <li><a href="/guide/developing/attributes_api">The Attributes API</a></li>							   
			  				
				  <li><a href="/guide/developing/custom_commands">Using Custom Commands</a></li>							   
			  				
				  <li><a href="/guide/developing/sla_requirements">SLA Requirements</a></li>							   
			  				
				  <li><a href="/guide/developing/configuring_ui_section">Configuring the Web Based UI</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Deploying Services & Applications</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/deploying/deploying_apps">Deploying Applications</a></li>							   
			  				
				  <li><a href="/guide/deploying/deploying_azure">Deploying on Azure</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Undeployment</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/undeploying/undeploy_apps">Undeploying Applications</a></li>							   
			  				
				  <li><a href="/guide/undeploying/undeploy_azure">Undeploying from Azure</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Monitoring Your Applications</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/monitoring/monitoring_app_during_deploy">Monitoring during deployment using the Cloudify client</a></li>							   
			  				
				  <li><a href="/guide/monitoring/the_web_management_console">The Web Based Management Console</a></li>							   
			  				
				  <li><a href="/guide/monitoring/monitoring_app_post_deploy">Monitoring with the Cloudify Interactive Shell</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Developing Cloud Drivers</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/clouddrivers/cloud_driver">The Cloud Driver</a></li>							   
			  				
				  <li><a href="/guide/clouddrivers/developing_custom_clouddriver">Developing a custom cloud driver</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Plugins and Probes</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/plugins_and_probes/probes">Using Probes For Monitoring</a></li>							   
			  				
				  <li><a href="/guide/plugins_and_probes/develop_your_plugin">Develop a Custom Monitoring Plugin</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">API</a></h3>
		<div>
			 <ul>
			 
				   <li><a href="/guide/api">Cloudify API Documentation</a></li>
			 			  
			 </ul>
		</div>
       		
		<h3><a href="#">Recipe Reference</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/recipe/app_recipe_ref">Application Descriptor Reference</a></li>							   
			  				
				  <li><a href="/guide/recipe/service_recipe_ref">Service Descriptor Reference</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Release Notes</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/release_notes/release_notes">Release Notes</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Contribute</a></h3>
		<div>
			 <ul>
			 							
			  	
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">FAQ</a></h3>
		<div>
			 <ul>
			 							
			  				
				  <li><a href="/guide/faq/faq">Frequently Asked Questions</a></li>							   
			  	
             			  
			 </ul>
		</div>
       		
    </div>
</div>

