<div class="rightContentBox">
    <h3>Table of Contents</h3>
	<script>
	jQuery(".TableOfContents").jstree([ config_object ]);

	</script>
    <div class="TableOfContents">
	
        <ul>
            <li class="open">Quick Start Guide</li>
            <li>Screen Casts</li>
            <li class="plus">Scaling Your Web Application</li>
            <li>Setting Up Your First Data Grid</li>
            <li class="plus">Writing Your First XTP Application</li>
            <li class="plus">Introduction to XAP JPA</li>
            <li class="plus">Beyond the Basics</li>
        </ul>
        <ul>
            <li class="open">Product Overview</li>
            <li>Concepts</li>
            <li>A Typical SBA Application</li>
            <li>Database Integration</li>
            <li>Product Architecture</li>
            <li>The Application Layer</li>
            <li class="plus">Terminology</li>
        </ul>
        <ul>
            <li class="open">Programmer's Guide</li>
            <li class="plus">The Runtime Environment</li>
            <li class="plus">Packaging and Deployment</li>
            <li class="plus">The In-Memory Data Grid</li>
            <li class="plus">Services on Top of the Data Grid</li>
            <li class="plus">Web Application Support</li>
            <li class="plus">Administration and Monitoring API</li>
            <li class="plus">Integrations</li>
            <li class="plus">Interoperability</li>
            <li class="plus">Appendix</li>
        </ul>
        <ul>

            <li class="open">Administrator's Guide</li>
            <li class="plus">Installation</li>
            <li class="plus">Configuring the System</li>
            <li class="plus">Web Management Console</li>
            <li class="plus">Security</li>
            <li class="plus">GigaSpaces Logging</li>
            <li class="plus">Networking How Tos</li>
            <li class="plus">Managing and Monitoring a Running System</li>
            <li class="plus">Advanced Tasks</li>
        </ul>
    </div>
</div>
<div class="rightContentBox section">
    <h3>Section Contents</h3>
    <a href="#">The Grid Service Agent</a>
    <a href="#">The Grid Service Container </a>
    <a href="#">The Grid Service Manager</a>
    <a href="#">The Lookup Service </a>
</div>