<div class="leftContentBox">

   <h2 id="todHdr">Cloudify 2.7</h2>
   <div class="clear"></div>
	<div class="TableOfContents" id="accordion">
				
		<h3><a href="#">Getting Started</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/qsg/qsg">Deploy a Simple Application Locally</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/qsg/quick_start_guide_ec2">Deploy a Multi-Tier App on EC2</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Product Overview</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/overview/cloudify_intro">Cloudify - A Quick Introduction</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Release Notes</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/release_notes/release_notes">Release Notes - Cloudify 2.7</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Installation & Setup</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/cloudify_prerequisites">Cloudify Shell Prerequisites</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/installing_the_cloudify_client">Installing the Cloudify Shell</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/installation_and_setup">Cloudify Installation and Setup</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_security">Configuring Security</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/post_installation_configuration">Post-Installation Configuration</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_azure">Configuring Azure</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_ec2">Configuring EC2</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_openstack">Configuring OpenStack Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_hp">Configuring HP Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_rackspace">Configuring RackSpace</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/configuring_byon">Configuring a Traditional Data Center [BYON]</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/setup/recipes_tab">The Recipe Repository</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Bootstrapping</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/bootstrapping/bootstrapping_process">The Bootstrapping Process</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/bootstrapping/bootstrapping_localcloud">Bootstrapping a Local Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/bootstrapping/bootstrapping_cloud">Bootstrapping Any Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/bootstrapping/bootstrapping_validations">Bootstrapping Validations</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Developing Recipes</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/recipes_overview">Anatomy of a Recipe</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/application_recipe">The Application Recipe</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/service_recipe">Service Recipes</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/lifecycle_events">Lifecycle Events</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/recipe_parameters">Recipe Parameterization</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/extending_recipes">Extending Service Recipes</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/the_service_context_api">The Service Context API</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/attributes_api">The Attributes API</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/custom_commands">Custom Commands</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/plugins">Probes</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/configuring_ui_section">Configuring the Web Management Console</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/sla_requirements">SLA Requirements</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/storage">The Storage API</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/debugger">The Recipe Debugger</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/how_storage_works">How the Storage API Works</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/developing/scaling_rules">Scaling Rules</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Common Patterns</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/common_patterns/file_examples">File management and manipulations in Groovy And in Cloudify</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Deploying Services & Applications</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/deploying/deploying_srvs">Deploying Services</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/deploying/deploying_apps">Deploying Applications</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Monitoring Your Applications</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
				    <li><a href="/guide/2.7/monitoring/the_web_management_console">Monitoring using the Web Management Console</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/monitoring/monitoring_app_post_deploy">Monitoring using the Cloudify Shell</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Developing Cloud Drivers</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/clouddrivers/cloud_driver">The Cloud Driver</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/clouddrivers/developing_custom_clouddriver">Developing Custom Cloud Drivers</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/clouddrivers/tutorial_maven">Tutorial - Developing a custom cloud driver using Maven</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Plugins and Probes</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
				    <li><a href="/guide/2.7/plugins_and_probes/probes">Using Probes For Monitoring</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/plugins_and_probes/develop_your_plugin">Develop a Custom Monitoring Plugin</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Integration</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/integrations/chef_documentation">Chef Integration Documentation</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/integrations/cloudify_chef_lifecycle_event_handlers">Cloudify-Chef Lifecycle Event Handlers</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/integrations/chef_tutorial">Cloudify Tutorial</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/integrations/puppet_documentation">Puppet Integration Documentation</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">REST API</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/rest_api/rest_api_attributes">Cloudify Attributes Over REST</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Reference</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/recipe/app_recipe_ref">Application Descriptor Reference</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/recipe/service_recipe_ref">Service Descriptor Reference</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/recipe/cloud_driver_config_ref">Cloud Driver Configuration Reference</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/recipe/command_line_reference">Command Line Reference</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
				  <li><a href="/guide/2.7/api">Cloudify API Reference</a></li>				 
				  <li><a href="/guide/2.7/restapi/restdoclet.html">Rest API Reference</a></li>				 
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Contributing</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/contribute/how_to">Contributing to the Cloudify Open Source Project</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">FAQ</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.7/faq/faq">Frequently Asked Questions</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
    </div>
</div>

