<div class="leftContentBox">

   <h2 id="todHdr">Cloudify 2.2</h2>
   <div class="clear"></div>
	<div class="TableOfContents" id="accordion">
				
		<h3><a href="#">Getting Started</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/qsg/quick_start_guide_helloworld">Quick Start Guide</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/qsg/quick_start_guide">Deploy a Simple App Locally</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/qsg/quick_start_guide_ec2">Deploy a Multi-Tier App on EC2</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Product Overview</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/overview/cloudify_intro">Cloudify - A Quick Introduction</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Installation & Setup</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/cloudify_prerequisites">Cloudify Shell Prerequisites</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/installing_the_cloudify_client">Installing the Cloudify Shell</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/post_installation_configuration">Post-Installation Configuration</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/configuring_azure">Configuring Azure</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/configuring_ec2">Configuring EC2</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/configuring_openstack">Configuring HP OpenStack Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/configuring_rsopenstack">Configuring RackSpace</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/setup/configuring_byon">Configuring a Traditional Data Center [BYON]</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Bootstrapping</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_process">The Bootstrapping Process</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_localcloud">Bootstrapping a Local Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_azure">Bootstrapping Azure</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_ec2">Bootstrapping EC2</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_hp">Bootstrapping HP OpenStack Cloud</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_rsopenstack">Bootstrapping RackSpace</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/bootstrapping/bootstrapping_byon">Bootstrapping a Traditional Data Center [BYON]</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Developing Recipes</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/recipes_overview">Anatomy of a Recipe</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/application_recipe">The Application Recipe</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/service_recipe">Service Recipes</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/lifecycle_events">Lifecycle Events</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/recipe_parameters">Recipe Parameterization</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/extending_recipes">Extending Service Recipes</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/the_service_context_api">The Service Context API</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/attributes_api">The Attributes API</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/custom_commands">Custom Commands</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/plugins">Probes</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/configuring_ui_section">Configuring the Web Management Console</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/sla_requirements">SLA Requirements</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/developing/scaling_rules">Scaling Rules</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Common Paterns</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
				    <li><a href="/guide/2.2/common_paterns/file_examples">File management and manipulations in Groovy And in Cloudify</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Deploying Services & Applications</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/deploying/deploying_srvs">Deploying Services</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/deploying/deploying_apps">Deploying Applications</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/deploying/deploying_azure">Deploying on Azure</a></li>							   
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Monitoring Your Applications</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/monitoring/the_web_management_console">Monitoring using the Web Management Console</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/monitoring/monitoring_app_post_deploy">Monitoring using the Cloudify Shell</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Developing Cloud Drivers</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/clouddrivers/cloud_driver">The Cloud Driver</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/clouddrivers/developing_custom_clouddriver">Developing Custom Cloud Drivers</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/clouddrivers/tutorial_maven">Tutorial - Developing a custom cloud driver using Maven</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Plugins and Probes</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/plugins_and_probes/probes">Using Probes For Monitoring</a></li>							   
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/plugins_and_probes/develop_your_plugin">Develop a Custom Monitoring Plugin</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Chef Integration</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
				    <li><a href="/guide/2.2/integrations/chef_documentation">Chef Integration Documentation</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">REST API</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
				    <li><a href="/guide/2.2/rest_api/rest_api_attributes">Cloudify Attributes Over REST</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Reference</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/recipe/app_recipe_ref">Application Descriptor Reference</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/recipe/service_recipe_ref">Service Descriptor Reference</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/recipe/cloud_driver_config_ref">Cloud Driver Configuration Reference</a></li>							   
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/recipe/command_line_reference">Command Line Reference</a></li>							   
				  			  
			  
			  			  
				  <li><a href="/guide/2.2/api">Cloudify API Reference</a></li>				 
				  <li><a href="/guide/2.2/restapi/restdoclet.html">Rest API Reference</a></li>				 
             			  
			 </ul>
		</div>
       		
		<h3><a href="#">Release Notes</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/release_notes/release_notes">Release Notes</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">Contributing</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/contribute/how_to">Contributing to the Cloudify Open Source Project</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
		<h3><a href="#">FAQ</a></h3>
		<div>
			 <ul>			 				 			
			  				  
				  			  
			  				  
				  			  
				    <li><a href="/guide/2.2/faq/faq">Frequently Asked Questions</a></li>							   
				  			  
			  				  
				  			  
			  
			  			  
			 </ul>
		</div>
       		
    </div>
</div>

