<div class="leftContentBox">
{% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}
   <h2 id="todHdr">Cloudify {{currentVersion}}</h2>
   <div class="clear"></div>
	<div class="TableOfContents" id="accordion">
		{% for category in site.categories %}		
		<h3><a href="#">{{ category }}</a></h3>
		<div>
			 <ul>			 				 			
			  {% for page in site.page_categories[category] %}				  
				  {% if page.url contains currentVersion %}			  
				    <li><a href="{{page.url}}">{{page.title}}</a></li>							   
				  {% endif %}			  
			  {% endfor %}
			  {% if category == "Reference" %}			  
				  <li><a href="/guide/{{currentVersion}}/api">Cloudify API Reference</a></li>				 
				  <li><a href="/guide/{{currentVersion}}/restapi/restdoclet.html">Rest API Reference</a></li>				 
             {% endif %}			  
			 </ul>
		</div>
       {% endfor %}		
    </div>
</div>

