<div class="leftContentBox">
   <h3>Table of Contents</h3>
   <div class="clear"></div>
	<div class="TableOfContents" id="accordion">
		{% for category in site.categories %}		
		<h3><a href="#">{{ category }}</a></h3>
		<div>
			 <ul>
			 {% if category == "API" %}
				   <li><a href="/guide/api">Cloudify API Documentation</a></li>
			 {% else %}	
				{% if category == "Contributing" %}
				   <li><a href="/guide/contribute">Contributing to the Cloudify Open Source Project</a></li>
				{% else %}				 
					{% for page in site.page_categories[category] %}				
					<li><a href="{{page.url}}">{{page.title}}</a></li>							   
					{% endfor %}	
				{% endif %}
             {% endif %}			  
			 </ul>
		</div>
       {% endfor %}		
    </div>
</div>

