               <!--start -->
                 <div class="leftContentBox blogLeft-topTitle blog-left-title2 tumblr">
                        <h3>CloudifySource on Tumblr</h3>
                 </div>   
                <div class="leftContentBox">                     
                <!-- start sw-rss-feed code --> 
                <script type="text/javascript"> 
                <!-- 
                rssfeed_url = new Array(); 
                rssfeed_url[0]="http://cloudifysource.tumblr.com/rss";  
                rssfeed_frame_width="230"; 
                rssfeed_frame_height="250"; 
                rssfeed_scroll="on"; 
                rssfeed_scroll_step="6"; 
                rssfeed_scroll_bar="off"; 
                rssfeed_target="_blank"; 
                rssfeed_font_size="11"; 
                rssfeed_font_face="Trebuchet MS,Helvetica,Arial,Sans-serif"; 
                rssfeed_border="off"; 
                rssfeed_css_url=""; 
                rssfeed_title="off"; 
                rssfeed_title_name=""; 
                rssfeed_title_bgcolor="#393939"; 
                rssfeed_title_color="#393939"; 
                rssfeed_title_bgimage="http://"; 
                rssfeed_footer="off"; 
                rssfeed_footer_name="rss feed"; 
                rssfeed_footer_bgcolor="#fff"; 
                rssfeed_footer_color="#333"; 
                rssfeed_footer_bgimage="http://"; 
                rssfeed_item_title_length="50"; 
                rssfeed_item_title_color="#246F96"; 
                rssfeed_item_bgcolor="#none"; 
                rssfeed_item_bgimage="http://"; 
                rssfeed_item_border_bottom="on"; 
                rssfeed_item_source_icon="off"; 
                rssfeed_item_date="off"; 
                rssfeed_item_description="on"; 
                rssfeed_item_description_length="120"; 
                rssfeed_item_description_color="#393939"; 
                rssfeed_item_description_link_color="#333"; 
                rssfeed_item_description_tag="off"; 
                rssfeed_no_items="0"; 
                rssfeed_cache = "f2f79ba4f12501d5f8454c1d22c042c4"; 
                //--> 
                </script> 
                <script type="text/javascript" src="http://feed.surfing-waves.com/js/rss-feed.js"></script> 
                <!-- end sw-rss-feed code -->
                </div>
<!--end-->
