<!--Event groups-->

<div class="leftContentBox blogLeft-topTitle">
	<h3>Recent Events & Webinars</h3>
 </div>

<div class="leftContentBox participateLeftBox">
  <span class="title">Dynamically Scalable E-Commerce Webinar</span>
	<p>In this webinar, GigaSpaces and Panopta show you how to scale solutions for e-Commerce systems, that will help you to meet any traffic load and boost performance exponentially -- a must attend for all online retail IT experts!</p>
	<span class="date">6/9/2011 11:34:51 AM  </span>
	<br />
	<a href="http://www.youtube.com/watch?v=1AR2WWaP8CE" rel="prettyPhoto" title="YouTube demo" class="btn-watch"></a>
</div>

<div class="leftContentBox participateLeftBox">
  <span class="title">Massively Scalable Real-Time Risk Analysis Webinar</span>
  <p>This webinar presents an innovative approach for this problem that takes advantage of GigaSpaces' XAP intelligent and active In-Memory Data Grid to manage the calculation lifecycle and stream the results back to the client as they arrive, thereby providing significant performance boost. This approach is successfully used by multiple tier-1 financial institutions to significantly speed up the risk analysis time.</p>
  <span class="date">6/9/2011 11:34:51 AM  </span>
  <br/>
  <a href="http://youtu.be/TmG5XHiSddc" rel="prettyPhoto" title="YouTube demo" class="btn-watch"></a>
</div>



<div class="leftContentBox participateLeftBox">
	<span class="title">Aenean ultrices</span>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisl, sollicitudin ac ultricies sit amet, eleifend in mi. Etiam in ante neque, ac rutrum lacus.</p>
	<span class="date">6/9/2011 11:34:51 AM  </span>
	<br />
	<a href="#" class="btn-watch"></a>
</div>