<!--Event groups-->

<div class="leftContentBox blogLeft-topTitle">
	<h3>Recent Events & Webinars</h3>
 </div>

<div class="leftContentBox participateLeftBox">
  <span class="title">Aenean ultrices</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisl, sollicitudin ac ultricies sit amet, eleifend in mi. Etiam in ante neque, ac rutrum lacus.</p>
  <span class="date">6/9/2011 11:34:51 AM  </span>
  <br/>
  <a href="#" class="btn-watch"></a>
</div>

<div class="leftContentBox participateLeftBox">
  <span class="title">Aenean ultrices</span>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisl, sollicitudin ac ultricies sit amet, eleifend in mi. Etiam in ante neque, ac rutrum lacus.</p>
	<span class="date">6/9/2011 11:34:51 AM  </span>
	<br />
	<a href="#" class="btn-watch"></a>
</div>

<div class="leftContentBox participateLeftBox">
	<span class="title">Aenean ultrices</span>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisl, sollicitudin ac ultricies sit amet, eleifend in mi. Etiam in ante neque, ac rutrum lacus.</p>
	<span class="date">6/9/2011 11:34:51 AM  </span>
	<br />
	<a href="#" class="btn-watch"></a>
</div>