<!--Event groups-->

    
<div class="leftContentBox blogLeft-topTitle">
<h3>Recent Events & Webinars</h3></div>


<div class="leftContentBox participateLeftBox">
  <span class="title">Cloudify for IBM InfoSphere BigInsights-  (Leon Katsnelson - IBM, Nati Shalom - GigaSpaces)</span>
  <p>Session: The Elephant in the Cloud at IBM Information on Demand</p>
<p>The massive computing and storage resources that are needed to support big data deployments in general, and Hadoop in particular, make cloud environments, public and private, an ideal fit.   

Managing your big data app, however, is no walk in the park - especially when considering the fact that these systems and application stacks often include other services beyond Hadoop such as: relational databases, other NoSQL databases and more, where each framework comes with its own management, installation, configuration, and scaling solutions.  This is where Cloudify fits in.  Cloudify provides consistent management that makes the provisioning, deployment, and scaling of your Hadoop system simple and consistent with the rest of your stack.  What's more, it enables cloud portability between bare-metal and public cloud offering for Hadoop/BigInsights making it possible to run your system on the right cloud for the job—public/virtualized environment for on-demand workloads and bare-metal for I/O intensive operations.
</p>
  <span class="date"></span>
  <br/>
  <a class="fancybox-media btn-watch" href="http://www.youtube.com/watch?v=opj24KnzrWo">Watch</a>
</div>

<div class="leftContentBox participateLeftBox">
  <span class="title">C* 2012: Lightning Talk #5 - Cassandra on ACID (DeWayne Filppi, GigaSpaces)</span>
  <p>Session: Lightning Talk #5 - Cassandra on ACID
Speaker: DeWayne Filppi (GigaSpaces)</p>
</p>
  <span class="date"></span>
  <br/>
  <a class="fancybox-media btn-watch" href="http://www.youtube.com/watch?v=lyeODmkRsaQ">Watch</a>
</div>


<div class="leftContentBox participateLeftBox">
  <span class="title">The Cube Cassandra Summit 2012 Uri Cohen</span>
  <p>In this video, Uri Cohen speaks to The Cube at the Cassandra Summit 2012 with John Furrier and Jeff Kelly on all things Cassandra, big data, and cloud.</p>
</p>
  <span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="flMWhLcGzCE" href="#">Watch</a>
</div>



<div class="leftContentBox participateLeftBox">
  <span class="title">C* 2012: Take Any App to the Cloud of Your Choice (Uri Cohen, GigaSpaces)</span>
  <p>Session: Take Any App to the Cloud of Your Choice
Speaker: Uri Cohen
Description: The massive computing and storage resources that are needed to support big data applications make cloud environments an ideal fit. Now more than ever, there is a growing number of choices of cloud infrastructure providers, from Amazon AWS, OpenStack offered by the likes of HP, Rackspace and soon even Dell, VMware vCloud as well as private cloud offerings based on OpenStack, CloudStack, vCloud, and more. There is also a new class of bare-metal clouds from SoftLayer and PistonCloud that provide high performance resources designed for I/O and CPU intensive applications that don't run as well on a virtualized resources. The recent announcements by Google & Microsoft about their new infrastructure as a service offerings, add additional significant players to this growing marketplace.

Given the diverse options, and the dynamic environments involved, it becomes ever more important to maintain the flexibility to choose the right cloud for the job.

In this session, you'll learn how to deploy and manage a Cassandra cluster on any Cloud, as well as manage the rest of your big data application stack using a new open source framework called "Cloudify."</p>
</p>
  <span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="WFX_vfRimIA" href="#">Watch</a>
</div>

<div class="leftContentBox participateLeftBox">
  <span class="title">Extending Chef to Manage the Entire Application Lifecycle</span>
  <p>Marrying DevOps and PaaS: Tools like Chef and Puppet have gained a lot of momentum in the last year or so. 

But the concept of DevOps and recipes can go well beyond setup, to actually accelerate the entire lifecycle of your applications, from setup, to monitoring, through maintaining high availability, and auto-scaling when required. In this session we'll see how to use Chef and Cloudify together to create a complete and powerful application level orchestration on any cloud, using Cloudify and Chef. 

More specifically, we'll learn how to automatically provision nodes on the cloud of your choice, based the requirements of your application, auto install Chef client on the provisioned VMs and run the proper Chef roles and recipe on them, and then monitor and auto scale the installed application.</p>
</p>
  <span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="XGYHXkD1g2k" href="#">Watch</a>
</div>

<div class="leftContentBox participateLeftBox">
  <span class="title">Big Data on the OpenStack Cloud</span>
  <p>Uri Cohen, at the San Francisco Cloud Mafia Meetup on June 21, 2012, on Deploying Your Big Data App on OpenStack.</p>

<span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="09OAf6ZVPdc" href="#">Watch</a>
</div>


<div class="leftContentBox participateLeftBox">
  <span class="title">Big Data in the Cloud</span>
  <p>In this webinar Uri Cohen, VP Product Management, presents the challenges involved with deploying and managing big data apps on the cloud and then, introduce Cloudify — our open source PaaS stack, and demonstrate how it facilitates this.</p>
  <span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="lYvKAFWC800" href="#">Watch</a>
</div>

<div class="leftContentBox participateLeftBox">
  <span class="title">How to Manage your Sharded MongoDB Setup on Any Cloud</span>
  <p>MongoDB supports an automated sharding architecture, enabling horizontal scaling across multiple nodes. 

With MongoDB you can convert to a sharded cluster, automatically managing failover and balancing of nodes, with few or no changes to the original application code. 

Managing a sharded mongo setup is no trivial task. 

In this webinar, Uri Cohen, VP Product Management will teach you how to easily set it up, monitor and scale it on any cloud environment using Cloudify.
</p>
  <span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="c9UvocOHnyI" href="#">Watch</a>
</div>


<div class="leftContentBox participateLeftBox">
  <span class="title">Introduction to Cloudify & Product Demo</span>
  <p>In this webinar, Uri Cohen, VP Product Management will tell you about Cloudify, how it works, and will show you a demo of Cloudify in action.</p>
  <span class="date"></span>
  <br/>
  <a class="youtube btn-watch" rel="W8siWpepCS0" href="#">Watch</a>
</div>
