<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<div id="wrapper">
   {% include header.html %}
   	

<section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">About</li>
                    </ul>
                </div>
              
            </div>          
        </div>
    </section>


    <section id="content">
    <div class="container">
            <div class="row">
                <div class="span3">
                    <aside class="left-sidebar">
                        <div class="widget">                        
                            <h5 class="widgetheading"><strong><font color="00B4DA"></font></strong></h5>
                            {% include menu_side_about.html %}
                            <!-- <ul class="pagination" id="myPager"></ul> -->
                        </div>
                        </aside>
                </div>

				<div class="span9">
					<div id="pageContent">
					{{content}} 

									</div>
				</div>
				
			</div>
            </div>
            </section>

	 <div class="clear"></div>  
   {% include footer.html %}   
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up"></i></a>
{% include footer_scripts.html %}	
<!--for pagination-->
<input type='hidden' id='current_page' />
<input type='hidden' id='show_event_per_page' />
<!--for pagination-->

<!--
<script>
/*
$(function() {    
//how much items per page to show
    var show_event_per_page = 3; 
    //getting the amount of elements inside content div
    var number_of_items = $('#eventsWrapper').children().size();
    //calculate the number of pages we are going to have
    var number_of_pages = Math.ceil(number_of_items/show_event_per_page);
    
    //set the value of our hidden input fields
    $('#current_page').val(0);
    $('#show_event_per_page').val(show_event_per_page);
    
    //now when we got all we need for the navigation let's make it '
    
    /* 
    what are we going to have in the navigation?
        - link to previous page
        - links to specific pages
        - link to next page
  
    var navigation_html = '<li><a class="previous_link" href="javascript:previous();">Prev</a></li>';
    var current_link = 0;
    while(number_of_pages > current_link){
        navigation_html += '<li><a class="page_link" href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a></li>';
        current_link++;
    }
    navigation_html += '<li><a class="next_link" href="javascript:next();">Next</a></li>';
    
    $('#page_navigation').html(navigation_html);
    
    //add active_page class to the first page link
    $('#page_navigation .page_link:first').addClass('active_page');
    
    //hide all the elements inside content div
    $('#eventsWrapper').children().css('display', 'none');
    
    //and show the first n (show_event_per_page) elements
    $('#eventsWrapper').children().slice(0, show_event_per_page).css('display', 'block');
	
	 if($('.active_page').parent().prev().children('.page_link').length!=true){
		$('.span8 .previous_link').hide();
		$('.span8 .next_link').show();
	}
	  if($('.active_page').parent().next().children('.page_link').length!=true){
		$('.span8 .next_link').hide();
		$('.span8 .previous_link').show();
	}
    
});
 
function previous(){
    $('.span8 .next_link').show();
    new_page = parseInt($('#current_page').val()) - 1;
    //if there is an item before the current active link run the function
    if($('.active_page').parent().prev().children('.page_link').length==true){
        go_to_page(new_page);
    }
    
}
 
function next(){
	$('.span8 .previous_link').show();
    new_page = parseInt($('#current_page').val()) + 1;
    //if there is an item after the current active link run the function
    if($('.active_page').parent().next().children('.page_link').length==true){
        go_to_page(new_page);
    }
    
}
function go_to_page(page_num){
    //get the number of items shown per page
    var show_event_per_page = parseInt($('#show_event_per_page').val());
    
    //get the element number where to start the slice from
    start_from = page_num * show_event_per_page;
    
    //get the element number where to end the slice
    end_on = start_from + show_event_per_page;
    
    //hide all children elements of content div, get specific items and show them
    $('#eventsWrapper').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
    
    /*get the page link that has longdesc attribute of the current page and add active_page class to it
    and remove that class from previously active page link
    $('.active_page').removeClass('active_page');
    $('.page_link[longdesc=' + page_num +']').addClass('active_page active');
    
    //update the current page input field
    $('#current_page').val(page_num);
	
	 if($('.active_page').parent().prev().children('.page_link').length!=true){
		$('.span8 .previous_link').hide();
		$('.span8 .next_link').show();
	}else{
	$('.span8 .previous_link').show();
	}
	  if($('.active_page').parent().next().children('.page_link').length!=true){
		$('.span8 .next_link').hide();
		$('.span8 .previous_link').show();
	}else{
	$('.span8 .next_link').show();
	}

}
   */  
</script> 
<script> 
/*var listElement = $('.watchWrapper');
var perPage = 3; 
var numItems = listElement.children().size();
var numPages = Math.ceil(numItems/perPage);

$('.pager').data("curr",0);

var curr = 0;
while(numPages > curr){
  $('<li><a href="#" class="page_link page_link2">'+(curr+1)+'</a></li>').appendTo('.pager');
  curr++;
  if(numPages <= curr){
  $('<li><a class="next_link" href="javascript:nextLink();">Next</a></li>').appendTo('.pager');
  }
}



$('.pager .page_link2:first').addClass('activePage');

listElement.children().css('display', 'none');
listElement.children().slice(0, perPage).css('display', 'block');

$('.pager li a.page_link2').click(function(){
$('.pager li a').removeClass('activePage');
  var clickedPage = $(this).html().valueOf() - 1;
  $(this).addClass('activePage');
  goTo(clickedPage,perPage);
});

function previousLink(){
  var goToPage = parseInt($('.pager').data("curr")) - 1;
  //if($('.active').prev('.page_link').length==true){
  if($('.activePage').parent().prev().find('.page_link2').length==true){
    goTo(goToPage);
  }
}

function nextLink(){
  goToPage = parseInt($('.pager').data("curr")) + 1;
  //if($('.activePage').next('.page_link2').length==true){
  if($('.activePage').parent().next().find('.page_link2').length==true){
	goTo(goToPage);
  }
}

function goTo(page){
  var startAt = page * perPage,
    endOn = startAt + perPage;
  
  listElement.children().css('display','none').slice(startAt, endOn).css('display','block');
  $('.pager').attr("curr",page);
}*/
/*
$.fn.pageMe = function(opts){
    var $this = this,
        defaults = {
            perPage: 7,
            showPrevNext: false,
            numbersPerPage: 5,
            hidePageNumbers: false
        },
        settings = $.extend(defaults, opts);
    
    var listElement = $this;
    var perPage = settings.perPage; 
    var children = listElement.children();
    var pager = $('.pagination');
    
    if (typeof settings.childSelector!="undefined") {
        children = listElement.find(settings.childSelector);
    }
    
    if (typeof settings.pagerSelector!="undefined") {
        pager = $(settings.pagerSelector);
    }
    
    var numItems = children.size();
    var numPages = Math.ceil(numItems/perPage);

    pager.data("curr",0);
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="previos_link">Prev</a></li>').appendTo(pager);
    }
    
    var curr = 0;
    while(numPages > curr && (settings.hidePageNumbers==false)){
        $('<li><a href="#" class="pageLink">'+(curr+1)+'</a></li>').appendTo(pager);
        curr++;
    }
  
    if (settings.numbersPerPage>1) {
       $('.pageLink').hide();
       $('.pageLink').slice(pager.data("curr"), settings.numbersPerPage).show();
    }
    
    if (settings.showPrevNext){
        $('<li><a href="#" class="nextpage_link">Next</a></li>').appendTo(pager);
    }
    
    pager.find('.pageLink:first').addClass('active');
    pager.find('.previos_link').hide();
    if (numPages<=1) {
        pager.find('.nextpage_link').hide();
    }
  	pager.children().eq(1).addClass("active");
    
    children.hide();
    children.slice(0, perPage).show();
    
    pager.find('li .pageLink').click(function(){
        var clickedPage = $(this).html().valueOf()-1;
        goTo(clickedPage,perPage);
        return false;
    });
    pager.find('li .previos_link').click(function(){
        previous();
        return false;
    });
    pager.find('li .nextpage_link').click(function(){
        next();
        return false;
    });
    
    function previous(){
        var goToPage = parseInt(pager.data("curr")) - 1;
        goTo(goToPage);
    }
     
    function next(){
        goToPage = parseInt(pager.data("curr")) + 1;
        goTo(goToPage);
    }
    
    function goTo(page){
        var startAt = page * perPage,
            endOn = startAt + perPage;
        
        children.css('display','none').slice(startAt, endOn).show();
        
        if (page>=1) {
            pager.find('.previos_link').show();
        }
        else {
            pager.find('.previos_link').hide();
        }
        
        if (page<(numPages-1)) {
            pager.find('.nextpage_link').show();
        }
        else {
            pager.find('.nextpage_link').hide();
        }
        
        pager.data("curr",page);
       
        if (settings.numbersPerPage>1) {
       		$('.pageLink').hide();
       		$('.pageLink').slice(page, settings.numbersPerPage+page).show();
    	}
      
      	pager.children().removeClass("active");
        pager.children().eq(page+1).addClass("active");
    
    }
};

$(document).ready(function(){
    
  $('.watchWrapper').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:3});
    
});
*/
</script> -->

</body>
</html>