<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<div class="WrapperBg">    
    <div class="Wrapper">
        {% include header.html %}
		
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
							<li class="active">{{ page.title }}</li>
						</ul>
					</div>
					<div class="span12">
						<div class="inner-heading"><br><br>
							<h1><i class="icon-edit"></i>The Cloudify <strong>Blog</strong></h1>
						</div>
					</div>
				</div>			
			</div>
		</section>
<!-- 	{% assign searchHdr="Blog Posts and Updates" %} -->
		<section id="content">
			<div class="container">
				<div class="row">
					<!-- Blog Right side posts -->
					<div class="span9">
						<div id="resultsDiv" class="DocumentsWrap"></div>
						<div id="pageContent" class="DocumentsWrapRight">
						{% assign posts = paginator.posts %}
						{% include post-listing.html %}										
				       	{{content}} 
						</div>			
					</div>	
					
					<!-- Blog Left side coll -->
					<div class="span3">
						<aside class="right-sidebar" >
							{% include posts_toc.html %}
						<br/>
						<div class="addthis_recommended_vertical"></div>
							<br/>
					<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fgetcloudify.org%2Fatom.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a>
					</aside>
					</div>
				</div>	
			</div>	
	</section>	
	<div class="clear"></div>
	<!--Start Footer -->
	{% include footer.html %}
			
	</div>
	{% include footer_scripts.html %}
</body>
</html>
