<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a>        
<div class="WrapperBg">
    <div class="Wrapper">
        {% include header.html %}
        <div class="contentWrap widget">
            <div class="clear"></div>
           <div class="breadcrumbs">Home Page > Cloudify Recipe Catalog</div>            
            <div class="clear"></div>


<!--Search-->    	
	    {% assign searchHdr="Cloudify Player" %}
            {% include search.html %}

	    <div id="resultsDiv" class="DocumentsWrapRight"></div>
            <div id="pageContent" class="contentNoRight">
              
                {{content}}
				 
            </div>
        </div>
        <div class="clear"></div>

        <!--Start Footer -->
        {% include footer.html %}

    </div>
    <!--End site wrapper -->


</div>
<!--End site bg top wrapper -->

</body>
</html>
