.bl-catalog {
    margin: 10px 70px 30px;
}

.bl-catalog .col-action {
    width: 170px;
}

.bl-catalog hr {
    border-top-color: #242323;
}

.bl-catalog .to-list {
    font-size: 50%;
}

.bl-catalog .versions-list {
    padding-bottom: 0;
}

.bl-catalog .versions-list select {
    margin-bottom: 0;
}

.bl-catalog .repos-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.bl-catalog .repos-list h4 {
    font-weight: bold;
}

.bl-catalog .search-repos {
    padding-right: 14px;
}

.bl-catalog .search-repos input {
    width: 100%;
}

.bl-catalog .modal-dialog .modal-body .archive-url select {
    margin-bottom: 0;
}
