---
layout: bt_about
title: Oracle Bare Metal Cloud Orchestration with Cloudify
description: We created a Cloudify plugin for orchestrating workloads on Oracle's Bare Metal Cloud.
category: cloud orchestration cloud automation
noindex: true
---

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Cloudify for Oracle Cloud</li>
				</ul>
				<br/>
			</div>
		</div>
	</div>
</section>

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span12">
					<div class="row">
					<div class="span6"><h1><strong>Oracle<sup>&reg;</sup> Cloud Orchestration with Cloudify</strong></h1>
						<p>Text will go here</p>

						<p>More text here</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p class="aligncenter"><a class="hover-wrap btn btn-blue btn-action btn-medium" href="#" target="_blank"><i class="icon-plus"></i>&nbsp; Try the Plugin</a></p>

						</div>
					<div class="span6 aligncenter"><img src="/img/oracle-logo.png" style="margin-left:10px; margin-top: 30px; width: 500px"></div>
						</div>
					
					</div>
				</div>
			</div>
		</section>

				
				
				<!--<section id="content">
				<div class="container">
				<div class="row">
				<div class="span12">
					<div class="pullquote-bottom"><h1><strong>Multi-Cloud Orchestration on Oracle<sup>&reg;</sup> BMC</strong></h1></div>
					<p></p>
						</div>
					</div>
				<div class="row">
				<div class="span6">
					<h2><strong></strong></h2>
					<p>Text will go here</p>

						<p>More text here</p>
					
		  			</div>
					
					

					<div class="span6">
					<h2><strong>Show Me the Code</strong></h2>	
					<p><script src="https://gist.github.com/yeshess/d413950c4ebf5fa5157ea0b70a0b4c6a.js"></script></p>
					</div>

					</div>
					</div>-->
				
				<div class="row">
				<div class="span12">
					<div class="pullquote-bottom"><h1><strong>Cloud-Native Kubernetes Orchestration on Oracle<sup>&reg;</sup> Cloud</strong></h1></div>
					<p></p>
						</div>
					</div>
				<div class="row">
				<div class="span6">
					<h2><strong></strong></h2>
					<p>Text will go here</p>

						<p>More text here</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p class="aligncenter"><a class="hover-wrap btn btn-blue btn-action btn-medium" href="#" target="_blank"><i class="icon-plus"></i>&nbsp; See the Blueprint</a></p>
		  			</div>
					
					

					<div class="span6">
					<h2><strong>Show Me the Code</strong></h2>	
					<p><script src="https://gist.github.com/yeshess/d413950c4ebf5fa5157ea0b70a0b4c6a.js"></script></p>
					</div>

					</div>
					</div>


				<div class="row">
				<div class="span12">

				<hr>
				
				<div class="aligncenter">
  					<font style="font-weight: bold; color: grey" size="5" face="Baskerville Old Face"><em>Read our blog post on how the <a href="#" target="_blank">Oracle Cloud plugin works.</a></em></font>

  				</div>
				</div>

				</div>
				</div>
				
				</section>	


	 <div class="clear"></div> 
	
	

		<section id="bottom">
			<div class="container">

		<div class="row">
		<div class="span12">
		<div class="aligncenter">
			
				<h2><strong>Try Oracle Cloud for free and get $300 in credits over 30 days!</strong></h2>
						<br/>
							<a class="btn btn-large btn-theme btn-rounded" id="downloadBtnInner" href="https://cloud.oracle.com/tryit"><i class="icon-arrow-right"></i>  GO</a>
							
						
						</div>
					</div>
					</div>
					</section>

					<div class="clear"></div>

<!--		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span6 no-margin">
						<h1><strong>Cloudify for OpenStack </strong></h1>
						<h2>Cloudify redesigned to fit natively into OpenStack project</h2>
						<p> Becoming <em><strong>OpenStack Native</em></strong> is a two part process - integrating with OpenStack components and core services - Nova, Neutron, Cinder, Keystone, Heat, and more, as well as following the implementation guidelines for OpenStack projects.</p>
						<p>With Cloudify, we took this need seriously and have rewritten our entire product in Python, and have implemented a similar stack and architecture to easily fit right in with any OpenStack project.</p>
													

													{% include downloadbuttons.html %}

					
						</div>
					<div class="span6"> -->
						<!-- start flexslider -->
<!--						<div class="flexslider">
							<ul class="slides">
								<li>
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify Your App on OpenStack Cloud" href="http://www.youtube.com/embed/byuYoplsabw?enablejsapi=1&wmode=opaque">
								<img src="img/OpenStackVid.png" alt="OpenStack Orchestration | OpenStack Architecture | OpenStack Native" /></a>
								</li>
							</ul>
						</div> -->
						<!-- end flexslider -->
<!--					</div>
				</div>
				</section>
				<section id="content">
				<div class="container">
				<div class="row">
				<div class="span12">
					<h1><strong>Core Features</strong></h1>
					
				<hr/>

				</div>
				</div>
				</div>
			</section>	


		
<section id="content">
	<div class="container">
					<div class="row">
							<div class="span5">
							<div class="aligncenter icon">
							<a name="Heat"></a>
							<a name="heat"></a>
									<img src="img/cloudifyopenstackheat.png" width="400">
							</div>
							</div>
								<div class="span7">
								<h4><strong>Support for OpenStack Orchestration (Heat)</strong></h4>
								<p>OpenStack Heat  provides an infrastructure orchestration framework and is a core service within OpenStack.</p>
								<p><strong><font color="#00B4DA" style="font-size:16px;">Cloudify integrates with Heat out of the box</font></strong></p>
								<ul>
								<li><strong>Cloudify Heat Template</strong>
								<p>Cloudify can be provisioned on an OpenStack environment using a Heat template. OpenStack users can use this template to modify and control the Cloudify manager configuration just like they would with any other service.</p>
								</li>
								<li><strong>Infrastructure Orchestration</strong>
								<p>Users can setup their OpenStack infrastructure (machines, storage, networking), directly through Heat and add Cloudify as a service on-top of that environment. Cloudify adds monitoring, logging, alerts, analytics,  workflow automation, software stack configuration, and dependency management just to name a few. The Cloudify Heat plugin can also be used to deploy any given Heat stack (in the event that it has not been deployed already), along with any other Cloudify component,through the same deployment commands.</p>
								</li>								
								</ul>
							</div>
							</div>

							<div class="row">
							<div class="span5">
							<div class="aligncenter icon">
									<img src="img/cloudifyopenstackneutron.png" width="400">
							</div>
							</div>
								<div class="span7">
								<h4><strong><font color="#00B4DA" style="font-size:16px;">Built-in Network Orchestration with Neutron</font></strong></h4>
								<p>Networking becomes a core service in any cloud deployment. Networking refers to any element under this general group of services, including security groups, private IPs, floating IPs, along with routers, DNS, vLANs, load balancers, and any other required networking function. Cloudify 3 includes support for all the networking elements, and can help automate the creation and management of these networking requirements all as part of the application deployment.</p>
															
							</div>
							</div>
						</div>
					</div>

				</div>
</section>			
	 <section id="content">
	<div class="container">
			<div class="row">
			<div class="span12">
				<div class="aligncenter">
				<img src="img/HPTile-Tools.png" width="400">
				<h2><strong><font color="#00B4DA" style="font-size:16px;">Integrating Your Entire Automation and Monitoring Tool Chain</font></strong></h2>
				</div>
				</div>
				<div class="row">
				<div class="span2"></div>

					<div class="span8">
						<div class="box alignjustify">
								<div class="text">
								<br/>								
								<p>A typical automated environment does not end with configuration management; it typically involves a varied and fluctuating toolchain to manage provisioning, configuration management, logging & monitoring, real-time analytics and workflow automation.</p>
								<p>Cloudify brings together a variety of tools that are used throughout the various stages of the application lifecycle:</p>
								<ul>
								<li>Configuration management tools, such as Chef, Puppet, Fabric and Docker</li>
								<li>Infrastructure orchestration tools, such as OpenStack Heat</li>
								<li>Logging and monitoring tools, such as logstash and elasticsearch</li>
								<li>Real-time analytics tools, such as Reimann.IO</li>
								</ul>
								<p>In doing so, Cloudify promotes common industry best practices, making it easy to integrate and use best of breed tools to manage your environment. . In addition, Cloudify 3 comes with a new plug-in architecture that allows to easily  integrate of a wide range of tools for monitoring, configuration management and cloud infrastructure.</p>
								
							</div>
						</div>
					</div>
					
					<div class="span2"></div>

				</div>
			</div>
		</div>
				
				</section>
	 <div class="clear"></div>  
	 
	 <section id="content">
	<div class="container">
	<div class="row">
	<div class="span12">
	<div class="aligncenter"><h2><strong>More OpenStack Goodness</strong></h2></div>
				</div>
				<div class="row">
						<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="img/openstack-one-color-alt.png"  width="121"/>
								</i>
							</div>
							<div class="text">
							<br/>
								<h4><strong><a href="{{ site.baseurl }}/guide/3.1/plugin-openstack.html#nova-net-support" target="_blank">Support for OpenStack Compute (Nova)</a></strong></h4>
								<p>Users can create machine instances, provision their software stack (even multi-tier stacks), manage their dependencies, add logging, monitoring, and policies on top, all using the OpenStack standard orchestration language - TOSCA.</p>
								
							</div>
						</div>
					</div>
							<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
							<a name="TOSCA"></a>
								<img src="img/topology-blue.png" width="150"/>
								</i>
							</div>
							<div class="text">
								<br/>
								<h4><strong><a href="http://docs.getcloudify.org/3.3.0/blueprints/spec-dsl-definitions/" target="_blank">TOSCA Support</a></strong></h4>
								<p>Cloudify 3 uses the<a href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=tosca" target="_blank"> TOSCA (Topology and Orchestration Specification for Cloud Applications)</a>  specification as its standard templating language. The current integration includes mapping of the current HOT template into the Cloudify/TOSCA format. We are also working with the Heat team to have official support for TOSCA as a standard templating language within Heat.</p>
							
							</div>
						</div>
		</div>			
		<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
									<img src="img/anyCloud.png"  width="200"/>
								</i>
							</div>
							<div class="text">
							<br/>
								<h4><strong><a href="{{ site.baseurl }}/vmware-hybrid-cloud.html" target="_blank">VMware Support</a></strong></h4>
								<p>Cloudify integrates seamlessly with VMware Integrated OpenStack, vSphere, as well as vCloud and vCloud Air.  The support for all three VMware environments provides users with a common management and automation framework. This makes it possible to easily build a hybrid cloud with VMware and OpenStack clouds. With Cloudify, users can create machine instances, provision their software stack (even multi-tier stacks), manage their dependencies, add logging, monitoring, and policies on top, all using a standard orchestration language - TOSCA.</p>
								
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box alignjustify">
							<div class="aligncenter icon">
							<a name="multi-cloud"></a>
									<img src="img/plugarch-blue.png"  width="185"/>
								</i>
							</div>
							<div class="text">
							<br/>
								<h4><strong>AWS and Other Public Cloud Support</strong></h4>
								<p>While OpenStack is becoming the de-facto standard for private cloud, the public cloud arena is still mostly dominated by AWS and GCE. Cloudify comes with built-in support for other public clouds making it simpler for OpenStack users to expand their OpenStack environment into AWS or other public clouds on-demand.</p>
								
							</div>
						</div>
					</div>
					
				
		</div>
		</div>			
		</div>
			</section>
			
	

		<section id="bottom">
			<div class="container">

				<div class="row">
				<div class="span12">
						<h1><strong>Getting Started</strong></h1>
						<hr/>
					<ul>
								<li><a href="{{ site.baseurl }}/guide/3.1/quickstart-openstack.html" target="_blank">Getting Started with Cloudify and OpenStack</a></li>
								<li><a href="{{ site.baseurl }}/2014/07/29/DevStack-Boostrap-Cloudify.html" target="_blank">Setting Up Cloudify on DevStack</a></li>
								<li><a href="{{ site.baseurl }}/2014/07/07/openstack-orchestration-heat-devstack.html" target="_blank">How to Bootstrap the Cloudify Manager with a Heat Template</a></li>
								</ul>
				<hr/>
				<div class="row">
		<div class="span2"></div>
		<div class="span8">
				<div class="aligncenter">
				<h2><strong>Learn more about Cloudify Premium<sup>TM</sup> or Download Now</sup></strong></h2></div>
										
							{% include downloadbuttons.html %}

							
						</div>
						</div>
						<div class="span2"></div>
					</div>
					</div>
					</section>
					<div class="clear"></div>
</section> -->