---
layout: null 
title: toc
category: toc
publish: false
abstract: toc
pageord: 1
---
<div class="leftContentBox">
{% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}
<h2 class="widgetheading">Cloudify 3.2</h2>
<div class="clear"></div>
<div id="sidebar" class="list-group docMenu"> 
{% for curPage in site.page_categories["none"] %}				  			  	  	
    {% if curPage.url contains currentVersion %}
		<a class="list-group-item" href="{{curPage.url}}" title="{{curPage.title}}">{{curPage.title}}</a>
    {% endif %}			  
{% endfor %}			  
{% for category in site.categories_3_2 %}
	<!--<h5 class="widgetheading">{{ category }}</h5>-->
	<a href="{{site.categories_3_2_root[forloop.index0]}}" data-toggle="#{{ category | replace:' ','_' }}" class="list-group-item titleHolder"  data-parent="#sidebar"><i class="icon-caret-right"></i>{{ category }}</a>

	<div id="{{ category | replace:' ','_' }}" class="list-group subitem none" class="list-group-item">
	{% for curPage in site.page_categories[category] %}
		{% if curPage.url contains currentVersion %}
			<a class="list-group-item" href="{{curPage.url}}" title="{{curPage.title}}">{{curPage.title}}</a>
		{% endif %}
	{% endfor %}
	</div>
{% endfor %}		
</div>
</div>


