#widgetPage{
  $MEDIA_SECTION_HEIGHT :310px;
  .media-section{
    height:$MEDIA_SECTION_HEIGHT;

    .butterfly-iframe{
      width: 100%;
      height: $MEDIA_SECTION_HEIGHT;
      margin-top: 34px;
      font-size: 32px;
      font-weight: lighter;
      iframe{
        width: 100%;
        height: $MEDIA_SECTION_HEIGHT;
      }

    }
    .youtube-iframe{
      height: $MEDIA_SECTION_HEIGHT;
      img{
        position: static;
        width: 700px;
        margin-top: 100px;
        padding-left: 44px;
        height: $MEDIA_SECTION_HEIGHT;
      }
    }
  }


}