body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
}
h1 {
    font-size: 2.5em;
    color: #213143;
}
h3 {
    font-size: 1.5em;
    color: #213143;
    margin-bottom: 4px;
    margin-left: 40px;
}
.centered {
    text-align: center;
}
.spacer {
    height: 30px;
}
.wrapper {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px;
}
.grey {
    background: #e1e3e4
}
.white {
    background: #fff;
}
.pad {
    padding: 30px;
}
.hdr {
    position: relative;
    min-height: 560px;
    /*background-image: url('http://i3.ytimg.com/vi/779OQH4R8Bk/maxresdefault.jpg');*/
    /*background-image: url('http://img.youtube.com/vi/sxymSXYEnnw/maxresdefault.jpg');*/
    /*background-position: top, center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    /*background: url('assets/bg-gradient.jpg') repeat-x #fff;*/
    /*background-repeat: repeat-x;*/
    position: relative;
    z-index: 1;
}
.main a {
    text-decoration: none;
    color: #439DDE;
}
.logo {
    position: relative;
    margin-top: 42px;
    margin-left: 48px;
    z-index: 1;
}
.logo img {
    width: 440px;
}
.bar {
    width: 100%;
    background-color: rgba(33,49,67,.8);
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 100px;
}
.tag {
    position: relative;
    left: 0;
    top: 4px;
    font-size: 18px;
    /*line-height: 30px;*/
    margin-left: 40px;
    min-height: 68px;
    max-height: 68px;
    /*width: 100%;*/
}

.tag p {
    display: block;
    width: 100%;
    /*line-height: 62px;*/
    /*position: relative;*/
    /*display: none;*/
    /*padding-top: 15px;*/
    position: absolute;
    margin-left: -100px;
    opacity: 0;
    /*top: 0;*/
}


ul.cb-slideshow {
    list-style-type: none;
    list-style: none;
    margin:0;
    padding: 0;
}

.cb-slideshow,
.cb-slideshow:after { 
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    /*background-position: center top; */
    background-repeat: no-repeat;
    z-index: 0;
}

.features, .options {
    background-color: #eee;
}

.block {
    float: left;
    width: 32%;
    margin-right: 16px;
    margin-bottom: 24px;
    /*border: 1px solid #ddd;*/
}

.block:nth-child(3) {
    margin-right: 0;
}

.block h2, .block-2 h2, .block-2-2 h2 {
    font-weight: normal;
    line-height: 1.2em;
}

.cta {
    float: right;
    position: relative;
    right: 0;
    margin-top: -44px;
    margin-right: 24px;
}

.cta-2 {
    margin-top: 30px;
}

.sellfy-buy-button-custom {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 26px 12px 26px;
  text-decoration: none;
}

.sellfy-buy-button-custom:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.subnav {
    text-align: center;
    margin-top: 40px;
}

.block-2 {
    float: left;
    width: 48%;
    margin-right: 28px;
    margin-bottom: 24px;
}

.block-2-2 {
    float: right;
    width: 48%;
}

.block-2-2 ul {
    padding-top: 0;
}

.over {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.6); /*dim the background*/
}

.modal {
    display: none;
    width: 290px;
    /*height: 210px;*/
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 11; /* 1px higher than the overlay layer */
}

.modal-support {
    display: none;
    width: 290px;
    /*height: 310px;*/
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 11; /* 1px higher than the overlay layer */
}

.modal-container {
    padding: 0 20px 40px 20px;
}

.hide {
    display:none;
}

.show {
    display: block !important;
}

.overlay-link {
    cursor: pointer;
    color: #2980b9;
}

.btn {
    cursor: pointer;
    background: #999;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
}


@media (max-width: 940px) {
    .cta {
        width: 100%;
        margin-right: 0;
        margin-top: 60px;
        text-align: center;
        z-index: 1;
    }
    .tag {
        text-align: center !important;
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }
    .subnav {
        visibility: hidden;
    }
}

@media (max-width: 900px) {
    .hdr {
        min-height: 460px;
    }
    .logo {
        margin-top: 36px;
    }
    .logo img {
        width: 384px;
    }
    .block {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        margin-top: 20px;
        margin-left: 0;
        border-bottom: 1px solid #ddd;
    }
    .block:nth-child(3) {
        border-bottom: none;
        margin-bottom: 10px;
    }
    .block h2 {
        text-align: left !important;
    }
    .icon {
        float: left;
        height: 180px;
    }
}

@media (max-width: 780px) {
    .block-2 {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .block-2-2 {
        float: none;
        width: 100%;
        padding-bottom: 40px;
    }
}


@media (max-width: 480px) {
    .hdr {
        min-height: 340px;
    }
    .logo {
        margin-top: 0;
        margin-left: 16px;
    }
    .logo img {
        width: 280px;
    }
    .icon {
        float: none;
        height: auto;
    }
    .block h2 {
        text-align: center !important;
    }
    .tag {
        font-size: 16px;
    }
    .cta {
        margin-left: 10px;
    }
    .mlvp-list-container {
        margin-right: -15px !important;
    }
}

@media (max-width: 560px) {

    .player-container h3 {
        margin-left: 0 !important;
    }

}