<script type="text/javascript">

//MANAGE AND TRACK DOWNLOADS
 $(function() {   

//Manage Downloads Gating;
//========================================//
var gotName = false;
var gotValidCaptcha = false;
var downloadHref="";
var strVar="";
var formEmail="";
var formName="";
var formcompany ="";
var dataBtnName=""; // this is the name of the mixpanel resource
var dataBtnSplit="";
var btnName="";

//Manage Downloads Gating modal pop up form;
//========================================//
var strVar="";
strVar += "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
strVar += "            <a  style=\"float:right \" class=\"gattingWrapperClose\" href=\"#\"><i class=\"fa fa-times\">&nbsp;&nbsp;<\/i> <\/a>";
strVar += "<div class=\"gattingWrapper\">";
strVar += "           <form id=\"regiterToDownload\" action=\"http:\/\/formspree.io\/hello@getcloudify.org\" method=\"POST\">";
strVar += "			<div class=\"regTitle\">Verify You're Human<\/div>";
strVar += "			<div style=\"position:relative\">";
strVar += "				<input  id=\"last_name\" name=\"last_name\" type=\"text\" class=\"cuInput\" placeholder=\"Your Name\" \/>";
strVar += "				<div class=\"cuValid\"><\/div>";
strVar += "			<\/div>";
strVar += "			<div style=\"position:relative\">";
strVar += "				<input  id=\"email\" name=\"email\"  type=\"text\"  placeholder=\"Your Email\"\/>";
strVar += "				<div class=\"cuValid\"><\/div>";
strVar += "			<\/div>";
strVar += "			<div style=\"position:relative\">";
strVar += "				<input  id=\"company\" name=\"company\"  type=\"text\"  placeholder=\"Your Company\"\/>";
strVar += "				<div class=\"cuValid\"><\/div>";
strVar += "			<\/div>";

strVar +="          <input id=\"website\" name=\"website\" type=\"text\" value=\"\"  \/>";
strVar += "			<input type=\"submit\" class=\"cuSendGatting btn btn-info\" name=\"submit\" value=\"Download\" \/>";
strVar += "   <br\/><br\/>";

strVar += "			<\/form>";
strVar += "        <\/div>";
strVar += "        <\/div>";


//Manage Downloads Gating collapse form ;
//========================================//
var strCollapse="";
strCollapse += "<div class=\"collapse\" id=\"myCollapse\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myCollapseLabel\" aria-hidden=\"true\">";
strCollapse += "<div class=\"gattingWrapper\" style=\"margin:0;\">";
strCollapse += "           <form id=\"regiterToDownload\" action=\"http:\/\/formspree.io\/hello@getcloudify.org\" method=\"POST\">";
strCollapse += "			<div class=\"regTitle\" style=\"text-align:left;\">Verify You're Human<\/div>";
strCollapse += "			<div style=\"position:relative\">";
strCollapse += "				<input  id=\"last_name\" name=\"last_name\" type=\"text\" class=\"cuInput\" placeholder=\"Your Name\" \/>";
strCollapse += "				<div class=\"cuValid\"><\/div>";
strCollapse += "			<\/div>";
strCollapse += "			<div style=\"position:relative\">";
strCollapse += "				<input  id=\"email\" name=\"email\"  type=\"text\"  placeholder=\"Your Email\"\/>";
strCollapse += "				<div class=\"cuValid\"><\/div>";
strCollapse += "			<\/div>";
strCollapse += "			<div style=\"position:relative\">";
strCollapse += "				<input  id=\"company\" name=\"company\"  type=\"text\"  placeholder=\"Your Company\"\/>";
strCollapse += "				<div class=\"cuValid\"><\/div>";
strCollapse += "			<\/div>";

strCollapse +="          <input id=\"website\" name=\"website\" type=\"text\" value=\"\"  \/>";
strCollapse += "			<input type=\"submit\" class=\"cuSendGatting btn btn-medium btn-theme-red btn-rounded\" name=\"submit\" value=\"Download\" \/>";
strCollapse += "   <br\/><br\/>";

strCollapse += "			<\/form>";
strCollapse += "        <\/div>";
strCollapse += "        <\/div>";



//Contact us Gating modal pop up form 
//=====================================//
var strContactForm="";
strContactForm += "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
strContactForm += "            <a  style=\"float:right \" class=\"gattingWrapperClose\" href=\"#\"><i class=\"fa fa-times\">&nbsp;&nbsp;<\/i> <\/a>";
strContactForm += "				<div class=\"gattingWrapper\">";
strContactForm += "				<form id=\"regiterToblueprint\" action=\"http:\/\/formspree.io\/hello@getcloudify.org\" method=\"post\" class=\"validateform\" name=\"send-contact\" >";
strContactForm += "				<input type=\"hidden\" name=\"_next\" value=\"\/thank_you_blueprint_composer.html\" \/>";
strContactForm += "				<input type=\"hidden\" name=\"_subject\" value=\"Request for Blueprint Composer\" \/>";
strContactForm += "				<input type=\"text\" name=\"_gotcha\" style=\"display:none\" \/>";
strContactForm += "					<div id=\"sendmessage\">";
strContactForm += "						 Your message has been sent. Thank you!";
strContactForm += "					<\/div>";


strContactForm += "			<div class=\"regTitle\">Cloudify Blueprint Composer<\/div>";
strContactForm += "			<div style=\"position:relative\">";
strContactForm += "				<input  id=\"first_name\" name=\"first_name\" type=\"text\" class=\"cuInput\" placeholder=\"Your Name\" \/>";
strContactForm += "				<div class=\"cuValid\"><\/div>";
strContactForm += "			<\/div>";
strContactForm += "			<div style=\"position:relative\">";
strContactForm += "				<input  id=\"email\" name=\"email\"  type=\"text\"  placeholder=\"Your Email\"\/>";
strContactForm += "				<div class=\"cuValid\"><\/div>";
strContactForm += "			<\/div>";
strContactForm += "			<div style=\"position:relative\">";
strContactForm += "				<input  id=\"company\" name=\"company\"  type=\"text\"  placeholder=\"Your Company\"\/>";
strContactForm += "				<div class=\"cuValid\"><\/div>";
strContactForm += "			<\/div>";
strContactForm += "			<div style=\"position:relative\">";
strContactForm += "				<textarea style=\"height:60px\" id=\"message\" rows=\"12\" name=\"message\" class=\"input-block-level\" placeholder=\"Give us a short explanation as to your business requirements.\" data-rule-required=\"true\" data-msg=\"Please write something\"><\/textarea>";
strContactForm += "				<div class=\"cuValid\"><\/div>";
strContactForm += "			<\/div>";
strContactForm +="          <input id=\"website\" name=\"website\" type=\"text\" value=\"\"  \/>";
strContactForm += "						<div class=\"span4 field\">";
strContactForm += "							<p>";
strContactForm += "								<button id=\"btnSndBlueprintForm\" class=\"btn btn-theme margintop10 pull-left\" type=\"submit\">Request Acces<\/button>";
strContactForm += "							<\/p>						";
strContactForm += "						<\/div>";
strContactForm += "					<\/div>";
strContactForm += "				<\/form>";
strContactForm += "<br><br>";
strContactForm += "	<\/div>";
strContactForm += "	<\/div>";

//Contact us Alert modal pop up form 
//=====================================//
var stralert="";
stralert += "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
stralert += "            <a  style=\"float:right \" class=\"gattingWrapperClose\" href=\"#\"><i class=\"fa fa-times\">&nbsp;&nbsp;<\/i> <\/a>";
stralert += "<div class=\"bs-callout bs-callout-warning\"><strong><p>It seems you have already requested information about the Blueprint Composer. We will get back to you as soon as possible.<\/p>";
stralert += "<\/strong>";
stralert += "<\/div>";
stralert += "<br><br>";
stralert += "	<\/div>";







//set download cookie
function openDownloadWindowFunction() {
    setCookie('cfydirect', formName + "," + formEmail + "," + formcompany);
    window.open("/downloads/get_cloudify_3x_abtest3_direct.html", "MsgWindow", "width=600, height=600 ,toolbar=yes,menubar=yes");
}

function setCookie(key, value) {
    var expires = new Date();
    expires.setTime(expires.getTime() + (180 * 24 * 60 * 60 * 1000));
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString()+';path=/';
}

function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
}






//Blocking Spam http://blog.supermedia.com/honeypot-technique/
$('#regiterToDownload').submit(function(){    
        if ($('input#website').val().length != 0) {
            return false;
        } 
});
//End Blocking Spam

$("body,.testimonial,modal").on('click', '.gattingWrapperClose', function(){
    $('#myModal').modal('hide');	
  });
  
  
  $(".download").bind("contextmenu",function(e){
       return false;
    }); 

//Checkbox Validation on before btn download.
$(':checkbox').click(function(){
  if(this.checked){
	$("#btnComposer").removeAttr("disabled");	
  }else{ 
	$("#btnComposer").attr("disabled", "disabled");		
  }  
});
$('#btnComposer').click(function(e){
  if($(':checkbox').is(':checked')){
		downloadHref = $(this).attr('href');
          dataBtnName = $(this).attr("data-btn-type");
          dataBtnSplit = $(this).attr("data-btn-split");
		  dataBtnId = $(this).attr("data-btn-id");
          if (getCookie('cfydirect') == null) {
          $("#myModal").remove();
          $("#wrapper").before(strVar);
          downloadValid();
          downloadFile(e);
		  } else {
			  directDownload(e);
		  }
  }else{ 
	e.preventDefault();	
  }  
});	
	
	
	

$(".downloadClps").click(function (e) {   
          downloadHref = $(this).attr('href');
          dataBtnName = $(this).attr("data-btn-type");
          dataBtnSplit = $(this).attr("data-btn-split");
          if (getCookie('cfydirect') == null) {
          $("#myCollapse").remove();
          //$("#wrapper").before(strCollapse);
		  $(this).closest("div.addFormAfter").after(strCollapse);
          downloadValid();
          downloadFile(e);
      } else {
          directDownload(e);
      }
});

$("#downloadme,.eaTitle,.downloadme,.download").click(function (e) {
      
          downloadHref = $(this).attr('href');
          dataBtnName = $(this).attr("data-btn-type");
          dataBtnSplit = $(this).attr("data-btn-split");
		  dataBtnId = $(this).attr("data-btn-id");
          if (getCookie('cfydirect') == null) {
          $("#myModal").remove();
          $("#wrapper").before(strVar);
          downloadValid();
          downloadFile(e);
      } else {
          directDownload(e);
      }
});

//strContactForm 
$(".blueComp").click(function (e) {  
          if (getCookie('cfybpcomp') == null) {
          $("#myModal").remove();
          $("#wrapper").before(strContactForm);
		  $('#myModal').modal('toggle');
		  downloadValid();
      } else {
		  $("#myModal").remove();
		  $("#wrapper").before(stralert); 
		  $('#myModal').modal('toggle');
      }
});





function track_contactForm() {
		//_gaq.push(['_trackEvent','Product Download', downloadme]);
       	//track mixpanel
		if (getCookie('cfybpcomp') == null) {
            var formEmail =  $("#regiterToblueprint #email").val();	
            var formName =  $("#regiterToblueprint #first_name").val();
			var formcompany =  $("#regiterToblueprint #company").val();
			mixpanel.identify(formEmail);
            mixpanel.alias(formName, formEmail, formcompany);
            mixpanel.name_tag(formName) ;
			mixpanel.register();
			
			mixpanel.people.set({
			$email: formEmail,
			$first_name: formName,
			$company: formcompany,
			$created: new Date(),
			});	
			//create cookie;
			setCookie('cfybpcomp', formName + "," + formEmail + "," + formcompany);	
        }else{
			var formEmail = getCookie('cfybpcomp').split(",")[1];
			mixpanel.identify(formEmail);
        }

		
}






function directDownload(e){
e.preventDefault();
var verName="";
verName=downloadHref.split("/")[dataBtnSplit]; 
//track google and mixpanel 
track_download(downloadHref);
$('#myModal').modal('hide');	
//self.delay(500); 
setTimeout(function() {
	window.location.href = downloadHref; 
	setTimeout(function() {
		//window.location.href = "/thank_you1.htm";
		switch(dataBtnId) {
    case "Centos 6.5 CLI 3.3.0":
		window.location.href ="/thank_you_centos_6_5.htm";
        break;
    case "Centos 7 CLI 3.3.0":
		window.location.href ="/thank_you_centos_7.htm";
        break;
    case "Windows CLI 3.3.0":
		window.location.href ="/thank_you_windows.htm";
        break;
    case "Pip Install CLI 3.3.0":
		window.location.href ="/thank_you_pip.htm";
        break;	
	case "Vagrant Trial Download 3.3.0":
		window.location.href ="/thank_you_vagrant.htm";
        break;
    case "Amazon AMI Download 0.0.1":
		window.location.href ="/thank_you_aws.htm";
        break;
	case "Composer Download 3.3.0":
		window.location.href ="/thank_you_composer.htm";
		break;			
    default:
         window.location.href = "/thank_you.htm";
}
	}, 1000);
}, 500);

//
}




//this function manage download process
function downloadFile(e)
	{
		try  {
			e.preventDefault();
			//Gating PopUp
			$('#myModal').modal('toggle');
			$('#myCollapse').addClass('in');
			if(gotName == false){
				//randomgen();
				if ($("#regiterToDownload").validate()==true){
				gotName = true;
				//track mixpanel
				var verName="";
				var downloadHref = $('a#downloadme').attr('href');
				verName=downloadHref.split("/")[dataBtnSplit]; 
				//track google and mixpanel 
				track_download(downloadHref);
				//self.delay(500); 
				setTimeout(function() {
					window.location.href = downloadHref; 
					setTimeout(function() {
						switch(dataBtnId) {
							case "Centos 6.5 CLI 3.3.0":
								window.location.href ="/thank_you_centos_6_5.htm";
								break;
							case "Centos 7 CLI 3.3.0":
								window.location.href ="/thank_you_centos_7.htm";
								break;
							case "Windows CLI 3.3.0":
								window.location.href ="/thank_you_windows.htm";
								break;
							case "Pip Install CLI 3.3.0":
								window.location.href ="/thank_you_pip.htm";
								break;
							case "Vagrant Trial Download 3.3.0":
								window.location.href ="/thank_you_vagrant.htm";
								break;	
							case "Amazon AMI Download 0.0.1":
								window.location.href ="/thank_you_aws.htm";
								break;	
							case "Composer Download 3.3.0":
								window.location.href ="/thank_you_composer.htm";
								break;		
							default:
								 window.location.href = "/thank_you.htm";
						}
					}, 1000);
				}, 500);
				}
						   
			}
	    } catch(e) {
	    	console.log(["Error while tracking download", e]);
	    }
	    return false; 
}

//this function track download data for mixpanel 
function track_download(downloadHref) {
		var downloadme=downloadHref.split("/")[dataBtnSplit]; 
		//downloadme="/downloads/cloudify-" + downloadme.split("\.zip")[0] + "/get_cloudify";
		_gaq.push(['_trackEvent','Product Download', downloadme]);
       	//track mixpanel
		var zipName="";
		zipName=downloadHref.split("/")[dataBtnSplit]; 
		mixpanel.track(dataBtnName, {'Zip Name':zipName, 'Source':document.URL});
		if (getCookie('cfydirect') == null) {
            formEmail =  $(".gattingWrapper #email").val();	
            formName =  $(".gattingWrapper #last_name").val();
			formcompany =  $(".gattingWrapper #company").val();
			mixpanel.identify(formEmail);
            mixpanel.alias(formName, formEmail, formcompany);
            mixpanel.name_tag(formName) ;
			mixpanel.register();
			//create cookie;
			setCookie('cfydirect', formName + "," + formEmail + "," + formcompany);
			
        }else{
			mixpanel.identify(formEmail);
        }

		mixpanel.people.set({
		"resource": zipName, // sets the property 'Resource' for this user to the boolean value true		
		$email: formEmail,
		$first_name: formName,
		$company: formcompany,
		$created: new Date(),
		});
		mixpanel.track('Resource', {'Zip Name':zipName, 'Source':'Download Page'});
		mixpanel.people.increment({
			"Number Of Resource Downloads": 1
		});
		
		
	}


function downloadValid(){

 $.validator.addMethod("regexp", function (value, element) {
    return this.optional(element) || /^[a-zA-Z\-_.,\s]+$/.test(value);
}, 'You can use only letters and those special characters (-_.,)');



  //Validation
   $('#regiterToDownload').validate({ // initialize the plugin
        errorLabelContainer: "#error-note",
        rules: {
            last_name: {
                required: true,
				regexp: true
            },
			email: {
                required: true,
                email: true
            },
			company: {
                required: true   
            }

			},
        messages: {
            last_name: {
                required: "Please enter your first name",
            },
            email: {
                required: "Please specify your email",
                email: "Correct format is name@domain.com"
            },
			company: {
                required: "Please enter your company name"
            }

        },
        submitHandler: function (form,e) { // for demo
            formalyzer_call_onclick(12206); 
            if ($('input#website').val().length != 0) {
                return false;
            } else {
                //setCookie('cfydirect', formName + "," + formEmail + "," + formcompany);
                directDownload(e);
            }
            //return false; // for demo
        }
    });
  //End Validation
  
  
  
  $('#regiterToblueprint').validate({ // initialize the plugin
        errorLabelContainer: "#error-note",
        rules: {
            first_name: {
                required: true,
				regexp: true
            },
			email: {
                required: true,
                email: true
            },
			company: {
                required: true   
            }

			},
        messages: {
            first_name: {
                required: "Please enter your first name",
            },
            email: {
                required: "Please specify your email",
                email: "Correct format is name@domain.com"
            },
			company: {
                required: "Please enter your company name"
            }

        },
        submitHandler: function (form,e) { // for demo
            formalyzer_call_onclick(12206); 
            if ($('input#website').val().length != 0) {
                return false;
            } else {
				 track_contactForm();
				 form.submit();
				return true;
            }
            //return false; // for demo
        }
    });
  //End Validation
  
  
  
  
}

//Blocking Spam http://blog.supermedia.com/honeypot-technique/
$('#regiterToDownload').submit(function(){    
        if ($('input#website').val().length != 0) {
            return false;
        } 
});
//End Blocking Spam



});



</script>
