<section id="bottom">
			<div class="container">

		<div class="row">
		<div class="span12">
		
					<div class="pullquote-bottom"><h1><strong>Multi-Cloud Resources</strong></h1></div>

					<div class="row">
					<div class="span3">
					<div class="pullquote-wp">
					<a href="/cloud-management-in-the-enterprise.html">
					<img src="img/resources/resourcetile3.png" width="268px">
					<div class="details background">
                      <p><strong>Cloud Management in the Enterprise</strong></p>
          					    <p>Learn about the cloud management landscape and the differences in the diversity of jargon - PaaS vs. CMP vs. Orchestration.</p>
								<p></p>           					 
        						<h2><i class="icon-arrow-right"></i> READ NOW</h2>

          					  </div>
          					  </a>
        						</div>
        						</div>

					<div class="span3">
					<div class="pullquote-wp">
					<a href="/whitepapers/intro-to-cloudify.html">
					<img src="/img/resources/resourcetile3.png" width="268px">
					<div class="details background">
          <p><strong>Introduction to Cloudify</strong></p>
           					 <p>A deep dive on the Cloudify technology, vision, and landscape.</p>
          					  <p></p>        					
          					  <h2><i class="icon-arrow-right"></i> READ NOW</h2>

							  </div>
          					  </a>
        						</div>
        						</div>

        						<div class="span3">
					<div class="pullquote-wp">
					<a href="/whitepapers/azure-migration-toolbox.html">
					<img src="/img/resources/resourcetile3.png" width="268px">
					<div class="details background">
                                <p><strong>The Azure Migration Toolbox</strong></p>

           					 <p>Exclusive Cloudify Quick-start Guide to Moving Workloads to Azure.</p>
          					  <p></p>        					
          					  <h2><i class="icon-arrow-right"></i> READ NOW</h2>

							  </div>
          					  </a>
        						</div>
        						</div>

        						<div class="span3">
        						<div class="pullquote-vid">
        						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="How to Bootstrap Cloudify Manager on OpenStack (Cloudify 3.4) " href="http://www.youtube.com/embed/aH7-oZfI79w?enablejsapi=1&amp;wmode=opaque"><img src="/img/resources/resourcetile1.png" alt="This demo video will explain to users how to easily bootstrap (install)  Cloudify Manager on OpenStack." style="display: inline; margin-right:10px;" width="268px">
        						<div class="details-vid background">
           					 <p>This demo video will explain to users how to easily bootstrap (install)  Cloudify Manager on OpenStack.</p>
          					  <p></p>
          					  <p></p>
        					<h2><i class="icon-play"></i> WATCH</h2>

          					  	</div>
          					  	</a>
        						</div>
        						</div>


        						</div>

							
						
						</div>
					</div>
					</div>
					</section>