	<footer style="position:relative;padding-top:30px;">
		<div class="container footerlist" style="margin-top:0px;">
		<div class="row">
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading"><strong>Browse pages</strong></h5>
					<ul class="link-list">
						<!-- <li><a href="{{ site.baseurl }}/cloudifyRecipeCatalog.html">Cloudify Test Drive</a></li> -->
						<li><a href="{{ site.baseurl }}/network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html">NFV Orchestration & Network Management with Cloudify</a></li>
						<li><a href="{{ site.baseurl }}/container-docker-kubernetes-orchestration-management-cloud-deployment-automation.html">Container Orchestration & Cloud Native with Cloudify</a></li>
						<li><a href="{{ site.baseurl }}/configuration_management_ssh_cloud_orchestration_puppet_ansible_chef_open_source.html">Cloudify and Configuration Management Tooling</a></li>
						<li><a href="{{ site.baseurl }}/openstack-architecture-cloudify.html">Cloudify - OpenStack Native</a></li>
						<li><a href="{{ site.baseurl }}/vmware-hybrid-cloud.html">Cloudify for VMWare</a></li>
						
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading"><strong>Important stuff</strong></h5>
					<ul class="link-list">
					<!--	<li><a href="#">Press & Coverage</a></li> -->
						<li><a href="{{ site.baseurl }}/about_us.html">About Us</a></li>
						<li><a href="{{ site.baseurl }}/partners.html">Our Partners</a></li>
						<li><a href="{{ site.baseurl }}/goPro.html">Cloudify Premium<sup>TM</sup></a></li>
						<li><a href="{{ site.baseurl }}/terms_of_use.html">Terms of Use</a></li>
						<li><a href="{{ site.baseurl }}/privacy_policy.html">Privacy Policy</a></li>
						
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading"><strong>Community stuff</strong></h5>
					<ul class="link-list">
				<li><a href="{{ site.baseurl }}/how-to-contribute.html">How to Contribute</a></li>
				<li><a href="{{ site.baseurl }}/how-it-works.html">How it Works</a></li>
						<li><a href="https://github.com/cloudify-cosmo" target="_blank">Github Repo</a></li>						
						<li><a href="{{ site.baseurl }}/contactus.html">Get in Touch with Us</a></li>
						<li><a href="http://www.gigaspaces.com/Careers" target="_blank">We're Hiring!</a></li>
						<!-- <li><a href="{{ site.baseurl }}/FAQ_cloud_devops_automation.html">FAQ</a></li> -->

				</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading"><strong>Where to get support</strong><br></h5>
					
					 	<p style="color:white">
						<i class="icon-comments-alt"></i><a href="https://groups.google.com/forum/#!forum/cloudify-users" target="_blank"> Users Mailing List</a><br>
						<i class="icon-envelope-alt"></i><a href="mailto:hello@getcloudify.org"> hello@getcloudify.org</a><br>
						<span>&nbsp;</span><i class="fa fa-stack-overflow"></i><a href="http://stackoverflow.com/questions/tagged/cloudify"target="_blank"> &nbsp;&nbsp;stackoverflow</a><br>
						<br/>
						<div class="subscribeForm">
							<form class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://cloudifysource.us4.list-manage.com/subscribe/post?u=5e963581396e0c0e43ed217f8&amp;id=b43defea9b">
							<input type="email" title="Please enter a valid email address." placeholder="Subscribe for Updates" id="mce-EMAIL" class="required subscribeTxt email" name="EMAIL">
							<input type="submit" class="btn btn-theme btn-rounded pull-right " id="mc-embedded-subscribe" name="subscribe" value="Go">
							<!-- LeadLander -->
							<script type="text/javascript">llfrmid=12206</script> 
							<script type="text/javascript" src="http://formalyzer.com/formalyze_init.js"></script> 
							<script type="text/javascript" src="http://formalyzer.com/formalyze_call.js"></script> 
							<!-- End LeadLander -->
							</form>
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
		<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="copyright">
						<p>
							<span>&copy; <a href="http://www.gigaspaces.com/" target="_blank">GigaSpaces Technologies</a> 2017, All Rights Reserved.</span>
						</p>
					</div>
				</div>
				<div class="span6">
						<ul class="social-network">
						
						<li><a href="https://www.facebook.com/GetCloudify/" data-placement="bottom" title="Facebook" target="_blank" class="socialbtn"><i class="fa fa-facebook-square"></i></a></li>
						<li><a href="https://twitter.com/intent/follow?screen_name=cloudifysource" data-placement="bottom" title="Twitter" target="_blank" class="socialbtn"><i class="fa fa-twitter-square"></i></a></li>
						<li><a href="http://www.tumblr.com/follow/cloudifysource" data-placement="bottom" title="Tumblr" target="_blank" class="socialbtn"><i class="fa-tumblr-square"></i></a></li>
						<li><a href="http://www.youtube.com/cloudifysource" data-placement="bottom" title="YouTube" target="_blank" class="socialbtn"><i class="fa-youtube-square"></i></a></li>
						<li><a href="http://getcloudify.org/atom.xml" data-placement="bottom" title="RSS" target="_blank" class="socialbtn"><i class="fa-rss-square"></i></a></li>	
						<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" width="70"/></a>	
						<li><a href="//www.jetbrains.com/idea/"><img src="http://getcloudify.org/img/intellijidea.jpg" alt="The best Java IDE" border="0" width="25"/></a></li>				
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="clear"></div>
	</footer>


