<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<section id="nav_menu-2" class="widget widget_nav_menu">
					<h4 class="widget_title no_stripe">Quick Links</h4>
					<div class="menu-footer-1-container">
						<ul id="menu-footer-1" class="menu">
							<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
								<a href="http://getcloudify.org/product/">Product</a>
							</li>
							<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
								<a href="http://getcloudify.org/why/">Why?</a>
							</li>
							<li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39">
								<a href="#">NFV</a>
							</li>
							<li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38">
								<a href="#">Download</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<section class="widget widget_nav_menu" id="nav_menu-3">
					<h4 class="widget_title no_stripe">Community</h4>
					<div class="menu-footer-2-container">
						<ul class="menu" id="menu-footer-2">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40" id="menu-item-40">
								<a href="#">Github Repo</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41" id="menu-item-41">
								<a href="#">User Groups</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42" id="menu-item-42">
								<a href="#">Slack</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43" id="menu-item-43">
								<a href="#">How to Contribute</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<section class="widget widget_nav_menu" id="nav_menu-4">
					<h4 class="widget_title no_stripe">Academy</h4>
					<div class="menu-footer-3-container">
						<ul class="menu" id="menu-footer-3">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44" id="menu-item-44">
								<a href="#">Academy</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45" id="menu-item-45">
								<a href="#">Labs</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46" id="menu-item-46">
								<a href="#">Videos &amp; Tutorials</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47" id="menu-item-47">
								<a href="#">Webinars</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48" id="menu-item-48">
								<a href="#">Documentation</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<section class="widget widget_nav_menu" id="nav_menu-5">
					<h4 class="widget_title no_stripe">Ressources</h4>
					<div class="menu-footer-4-container">
						<ul class="menu" id="menu-footer-4">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49" id="menu-item-49">
								<a href="#">Examples Catalog</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50" id="menu-item-50">
								<a href="#">Whitepapers</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51" id="menu-item-51">
								<a href="#">Case Studies</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52" id="menu-item-52">
								<a href="#">Customer Portal</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<section class="widget widget_nav_menu" id="nav_menu-8">
					<h4 class="widget_title no_stripe">Company</h4>
					<div class="menu-footer-5-container">
						<ul class="menu" id="menu-footer-5">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53" id="menu-item-53">
								<a href="#">About us</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-54" id="menu-item-54">
								<a href="#">Careers</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55" id="menu-item-55">
								<a href="#">Investors</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56" id="menu-item-56">
								<a href="#">Our Partners</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57" id="menu-item-57">
								<a href="#">Support</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-58" id="menu-item-58">
								<a href="#">Events</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59" id="menu-item-59">
								<a href="#">News &amp; Press Releases</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60" id="menu-item-60">
								<a href="#">Contact Us</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<section class="widget widget_nav_menu" id="nav_menu-9">
					<h4 class="widget_title no_stripe">Blog</h4>
				</section>
			</div>
		</div>
	</div>
</div>

<div class="copyright_row">
	<div class="container">
		<div class="copyright_row_wr">
			<div class="socials">
				<ul>
					<li>
						<a class="social-facebook" href="https://www.facebook.com/GetCloudify/" target="_blank"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a class="social-twitter" href="http://www.tumblr.com/follow/cloudifysource" target="_blank"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a class="social-youtube" href="http://www.youtube.com/cloudifysource" target="_blank"><i class="fa fa-youtube"></i></a>
					</li>
				</ul>
			</div>
			<div class="copyright">
				© GigaSpaces Technologies 2017, All Rights Reserved.
			</div>
		</div>
	</div>
</div>
