<!-- javascript footer_scripts
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/jquery.easing.1.3.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.js"></script>
<script src="{{ site.baseurl }}/js/jcarousel/jquery.jcarousel.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fancybox.pack.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fancybox-media.js"></script>
<script src="{{ site.baseurl }}/js/google-code-prettify/prettify.js"></script>
<script src="{{ site.baseurl }}/js/portfolio/jquery.quicksand.js"></script>
<script src="{{ site.baseurl }}/js/portfolio/setting.js"></script>
<script src="{{ site.baseurl }}/js/jquery.flexslider.js"></script>
<script src="{{ site.baseurl }}/js/jquery.nivo.slider.js"></script>
<script src="{{ site.baseurl }}/js/modernizr.custom.79639.js"></script>
<script src="{{ site.baseurl }}/js/jquery.ba-cond.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.slitslider.js"></script>
<script src="{{ site.baseurl }}/js/jquery.cslider.js"></script>
<script src="{{ site.baseurl }}/js/animate.js"></script>
<script src="{{ site.baseurl }}/js/custom.js"></script>
<script src="{{ site.baseurl }}/js/jquery.simplePagination.js"></script>
<script src="{{ site.baseurl }}/js/jquery.validate.min.js"></script>
<script src="{{ site.baseurl }}/js/validate.js"></script>
<script src="{{ site.baseurl }}/js/search/search.js"></script>
<script src="http://www.youtube.com/player_api"></script>


<!-- includes -->
{% include googleanalytics.html %}
{% include mixpanel.html %}	
{% include leadlander.html %}
{% include feedback.html %}
{% include hubspot.html %}