<!-- toggle top area -->

	
	<!-- end toggle top area -->
	<!-- start header -->
	<header class=" bgBlack fixed-top">
		<!--<div class="hidden-top">
		<div class="hidden-top-inner container">
			<div class="row">
				<div class="span12">
					<ul>
						<li><strong><i class="icon-briefcase"></i>Go Pro! Find out about</strong><a class="black" href="{{ site.baseurl }}/goPro.html"> Cloudify Premium<sup>TM</sup></a></li>
						</ul>
					</div>
			</div>
		</div>
	</div>-->
	<div class="container ">

		
			
				
			
				
		
		
			<!--<div class="logo navbar-toggle">
					<a href="{{ site.baseurl }}/"></a>
				</div>-->
			
			  <nav class="navbar navbar-default" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a href="//getcloudify.org" class="navbar-brand">
        <img src="http://docs.getcloudify.org/3.3.0/images/logo.png">
        <span class="gs-font">Cloudify</span>
      </a>
                    
                  </div>		
					<!--<<div class="cdnavbar navbar  navbar-default" role="navigation">
							
								<div class="navigation navigation-bottom">
								nav>-->
									<!-- <ul class="nav topnav bold">-->
                    <div class="cdnavbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                    
										<li class="dropdown topmenu">
										<a href="{{ site.baseurl }}/community-resources.html">Community</a>
										</li>
										<li class="dropdown topmenu">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Docs <i class="icon-angle-down"></i></a>
											<ul class="dropdown-menu bold" style="display: none;">
												<li class="topmenu"><a href="http://docs.getcloudify.org/3.4.2/">3.4.2 (GA)</a></li>
												<li class="topmenu"><a href="http://docs.getcloudify.org/3.4.1/">3.4.1</a></li>
												<li class="topmenu"><a href="http://docs.getcloudify.org/3.4.0/">3.4.0</a></li>
												<li class="topmenu"><a href="http://docs.getcloudify.org/3.3.1">3.3.1</a></li>
												<li class="topmenu"><a href="http://docs.getcloudify.org/3.3.0">3.3.0</a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/guide/3.2/">3.2 </a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/guide/3.1/">3.1</a></li>
											</ul>
										</li>
										<li class="dropdown topmenu">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Product  <i class="icon-angle-down"></i></a>
											<ul class="dropdown-menu bold">
												<li class="topmenu"> <a href="{{ site.baseurl }}/downloads/get_cloudify.html">Download Cloudify</a></li>
												<!-- <li class="topmenu"> <a href="{{ site.baseurl }}/widget.html" target="_blank">Try it Now</a></li> -->
												<li class="topmenu"><a href="{{ site.baseurl }}/cloud_orchestration_cloud_automation.html">About Cloudify</a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html">Network Orchestration</a></li> 
												<li class="topmenu"><a href="{{ site.baseurl }}/container-docker-kubernetes-orchestration-management-cloud-deployment-automation.html">Cloud Native Orchestration</a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/how-it-works.html">How it Works</a></li>
												<!-- <li class="topmenu"> <a href="{{ site.baseurl }}/cloudifyRecipeCatalog.html">Test Drive</a></li> -->
												
												<li class="topmenu"> <a href="{{ site.baseurl }}/cloudify-roadmap.html">Cloudify Roadmap</a></li>
			
												</ul>
										</li>
										<li class="dropdown topmenu">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Resources <i class="icon-angle-down"></i></a>
											<ul class="dropdown-menu bold">
												<li class="topmenu"> <a href="{{ site.baseurl }}/examples">Examples Catalog</a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/cloudifysourcetv.html">Videos & Tutorials</a></li>
												
											<!--	<li class="topmenu"><a href="{{ site.baseurl }}/community-resources/">Community Resources</a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/press-and-coverage/">Press & Coverage</a></li> -->
												<li class="topmenu"> <a target="_blank" href="http://getcloudify.org/whitepapers.html">Whitepapers</a></li>
												<li class="topmenu"> <a target="_blank" href="http://getcloudify.org/cloudify-use-cases.html">Use Cases</a></li>
												<!-- <li class="topmenu"><a href="{{ site.baseurl }}/FAQ_cloud_devops_automation.html">FAQ</a></li> -->
												<!-- <li class="topmenu"><a href="http://jobs.gigaspaces.com" target="_blank">Careers</a></li> -->
												<li class="topmenu"><a href="{{ site.baseurl }}/webinars.html">Webinars</a></li>
												<li class="topmenu"><a href="http://www.theopensourcepodcast.com" target="_blank">Podcast</a></li>
												<li class="topmenu"><a href="{{ site.baseurl }}/participate.htm">Events</a></li>
											</ul>
										</li>
										<li class="topmenu">
											<a href="{{ site.baseurl }}/blog/" >Blog</a>
										</li>
										<li class="topmenu">
											<a href="http://getcloudify.org/Cloudify-Academy.html" target="_blank"><strong>Academy <i class="fa fa-graduation-cap fa-pulsing" aria-hidden="true"></i></strong></a>
										</li>
 										
										<!-- <li class="topmenu">
											<a class="toggle-link tryBtn btn-rounded btn-small btn-green" href="{{ site.baseurl }}/widget.html" data-toggle="tooltip" data-placement="bottom" title="Try Cloudify">
											<i class="icon icon-dashboard"></i> <strong>TEST DRIVE</strong></a>
										</li> -->
									</ul>

		<div class="navbar-right">
		<div class="widget cdsearch">
			<form>
				<input type="text" id="st-search-input" class="st-search-input" />
			</form>
		</div>
        <a href="http://getcloudify.org/downloads/get_cloudify.html" class="hidden-xs hidden-sm">
          <button type="button" class="btn btn-primary navbar-btn btn-orange" title="Get Cloudify">
            <i class="fa fa-arrow-circle-o-down"></i> <span>free download</span>
          </button>
        </a>
        <a href="http://getcloudify.org/goPro.html">
          <button type="button" class="btn btn-action btn-blue navbar-btn" title="Cloudify Premium">
            <span>premium</span>
          </button>
        </a>

      </div>  
				</div> 
        <!-- /.navbar-collapse -->
</nav>
</div>
		
</header>	
<div class="fixedTopHeight"></div>
<!-- end header -->	
