<header id="header" style="padding-bottom: 0px;">
  <div class="header_top clearfix">
    <div class="container">
      <div class="logo media-left media-middle">
        <a href="http://getcloudify.org/"><img alt="Cloudify" src="/img/cloudify-logo.svg" style="width: 245px; height: 55px;"></a>
      </div>
      <div class="top_nav media-body media-middle">
        <div class="top_nav_wrapper clearfix">
          <ul class="main_menu_nav" id="menu-main-navigation">
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-16" id="menu-item-16">
              <a href="/product/">Product</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17" id="menu-item-17">
              <a href="/why/">Why?</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25" id="menu-item-25">
              <a href="/nfv">NFV</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26" id="menu-item-26">
              <a href="/community">Community</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27" id="menu-item-27">
              <a href="/academy">Academy</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28" id="menu-item-28">
              <a href="http://docs.getcloudify.org/">Docs</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29" id="menu-item-29">
              <a href="/about">About us</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30" id="menu-item-30">
              <a href="/blog">Blog</a>
            </li>
            <li class="highlighted menu-item menu-item-type-custom menu-item-object-custom menu-item-31" id="menu-item-31">
              <a href="/download">Download Now</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile_header">
    <div class="logo_wrapper clearfix">
      <div class="logo">
        <a href="http://getcloudify.org/"><img alt="Cloudify" src="/img/cloudify-logo.svg" style="width: 245px; height: 55px;"></a>
      </div>
      <div id="menu_toggle">
        <button></button>
      </div>
    </div>
    <div class="header_info">
      <div class="top_nav_mobile">
        <ul class="main_menu_nav" id="menu-main-navigation-1">
          <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-16">
            <a href="http://getcloudify.org/product/">Product</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17">
            <a href="http://getcloudify.org/why/">Why?</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
            <a href="/nfv">NFV</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26">
            <a href="/community">Community</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27">
            <a href="/academy">Academy</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28">
            <a href="http://docs.getcloudify.org/">Docs</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29">
            <a href="/about">About us</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30">
            <a href="/blog">Blog</a>
          </li>
          <li class="highlighted menu-item menu-item-type-custom menu-item-object-custom menu-item-31">
            <a href="/download">Download Now</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
