<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<div id="wrapper">
   {% include header.html %}
    <div id="resultsDiv" class="DocumentsWrap"></div>

	<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>				
						<li class="active">How It Works</li>
					</ul>
				</div>
				<div class="span12">
					<div class="inner-heading">
						<h1><i class="icon-cogs"></i>How It Works</h1>
					</div>
				</div>
			</div>			
		</div>
	</section>
	
	 <section id="content" class="howWrapper" >
		 <div class="howItsWorkWrap">
			{% include slidercontent.html %}
		</div>	 
	 </section>
	 <div class="clear"></div>  
   {% include footer.html %}   
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up"></i></a>
{% include footer_scripts.html %}	
{% include sliderjs.html %}
</body>
</html>












