<!--Event groups-->

<ul class="watchWrapper"> 

<li class="widget">
<a href="network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html#nfvorchestration"><h5 class="widgetheading">Cloudify for NFV Orchestration</h5>	

</li>

<p></p>
<li class="widget">
<a href="network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html#nfvusecase"><h5 class="widgetheading">Cloudify NFV Use Case</h5>	

</li>

<p></p>
<li class="widget">
<a href="network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html#nfvarchitecture"><h5 class="widgetheading">Cloudify NFV Architecture & ETSI</h5>	

</li>



<p></p>

<li class="widget">
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="NFV Orchestration - Live IMS Example with Cloudify & Clearwater" href="http://www.youtube.com/embed/p0uLz30XKm8?enablejsapi=1&wmode=opaque">
<h5 class="widgetheading">NFV Orchestration - Live IMS Example with Cloudify & Clearwater</h5>	

<!-- Thumb Image and Description -->
<img src="http://i.ytimg.com/vi/p0uLz30XKm8/maxresdefault.jpg" alt="See a real working example of how to build a robust IMS system using open source tooling.">
<p></p>
<p class="text-right">
	<span class="btn btn-inverse" ><i class="icon-play"></i> Watch</span>
</p>
</a>
</li>


<p></p>

<li class="widget">
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Online Meetup: Real World Application Orchestration Made Easy on VMware vCloud Air, vSphere and VMware Integrated OpenStack using TOSCA" href="http://www.youtube.com/embed/bbpJaGT5TgI?enablejsapi=1&wmode=opaque">
<h5 class="widgetheading">Webinar: Real World TOSCA Orchestration for VMware</h5>	

<!-- Thumb Image and Description -->
<img src="http://i.ytimg.com/vi/bbpJaGT5TgI/maxresdefault.jpg" alt="Looking for application orchestration in a hybrid or multi-cloud environment? You’ve got to hear about TOSCA orchestration. TOSCA (Topology and Orchestration Specification for Cloud Applications), brought to you by the same people who brought us XML, enables you to seamlessly migrate your workloads across environments or build a hybrid deployment that runs simultaneously across the VMware cloud offering.  Join our Cloud Online Meetup to learn how Cloudify’s TOSCA-compliant orchestration  can be your common management interface across the VMware cloud offering, OpenStack and heterogeneous cloud environments.">
<p></p>
<p class="text-right">
	<span class="btn btn-inverse" ><i class="icon-play"></i> Watch</span>
</p>
</a>
</li>


<!-- 

<li class="widget">
<h5 class="widgetheading">Why Can't I Nail That DevOps Interview?! - DevOps Days Tel Aviv (Nir Cohen, Ops Architect) | Nov 2014</h5>	
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Why Can't I Nail That DevOps Interview?! (Nir Cohen, Ops Architect)" href="https://player.vimeo.com/video/115514014">

<img src="https://i.vimeocdn.com/video/501611514_295x166.webp" alt="I'm far from being an HR specialist; Even so, I've interviewed approximately 30 people for an Ops Lead role and couldn't find even one to stand up to my requirements. I've also heard of many (many) bad questions and wrong decisions made by interviewers because of which they didn't get the right person for the job. I would like to present the problem of why, in my opinion, it is hard to find that right person; why interviewers should stop looking for "DevOps" and start looking for "Good, Technical People" and why, after all, 30 people didn't suffice.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> Watch</span>
</p>
</a>
</li>



<li class="widget">			
<h5 class="widgetheading">Online Meetup: Tales from the Summit (w/ Nati Shalom, GigaSpaces & Alex Freedland, Mirantis) | Nov 2014</h5>			
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Online Meetup: Tales from the Summit (w/ Nati Shalom, GigaSpaces & Alex Freedland, Mirantis)" href="http://www.youtube.com/embed/UEGrCHgfLYE?enablejsapi=1&wmode=opaque">

<img src="http://i.ytimg.com/vi/UEGrCHgfLYE/maxresdefault.jpg" alt="GigaSpaces' Nati Shalom is joined by Alex Freedland, Chairman Mirantis, to take a deep dive and recap on everything new from the OpenStack Design Summit Paris - November 2014.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> Watch</span>
</p>
</a>
</li>


<li class="widget">	
<h5 class="widgetheading">What's Next Panel Discussion - CloudStack Collaboration Conference Europe 2014 (Funs Kessen &  Roeland Kuipers, Schuberg Philis) | Nov 2014</h5>					
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="What's Next Panel Discussion - CloudStack Collaboration Conference Europe 2014 (Funs Kessen &  Roeland Kuipers, Schuberg Philis) | Nov 2014" href="http://www.youtube.com/embed/1vHL_ldWUOE?enablejsapi=1&wmode=opaque">
<img src="http://i.ytimg.com/vi/1vHL_ldWUOE/maxresdefault.jpg" alt="Funs Kessen &  Roeland Kuipers of Schuberg Philis talk the future of Cloudstack and open source tooling with a demo of Cloudify.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
</li>



<li class="widget">
<h5 class="widgetheading">Deployment Automation on CloudStack with TOSCA and Cloudify - CloudStack Collab Conference Europe 2014 (Uri Cohen, GigaSpaces) | Nov 2014</h5>
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Deployment Automation on CloudStack with TOSCA and Cloudify - CloudStack Collab Conf, Uri Cohen | Nov 2014" href="http://www.youtube.com/embed/cRzh2-_Bm-M?enablejsapi=1&wmode=opaque">
<img src="https://i.ytimg.com/vi/cRzh2-_Bm-M/maxresdefault.jpg" alt="In this video, Uri Cohen speaks about TOSCA (Topology and Orchestration Specification for Cloud Applications) that is an emerging standard for modeling complete application stacks and automating their deployment and management. In this session he'll discuss what TOSCA is all about, why it makes sense in the context of CloudStack, and how we can take it farther up the stack to handle complete applications, both during and after deployment, on top of CloudStack.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> Watch</span>
</p>
</a>
</li>


<li class="widget">	
<h5 class="widgetheading">Automation, Orchestration, Confusion? Taking the Discussion Up the Stack - OpenStack Design Summit Atlanta (Nati Shalom, GigaSpaces) | May 2014</h5>					
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Automation, Orchestration, Confusion? Taking the Discussion Up the Stack - OpenStack Design Summit Atlanta (Nati Shalom, GigaSpaces) | May 2014" href="http://www.youtube.com/embed/RhkArGEIAz8?enablejsapi=1&wmode=opaque">
<img src="http://i.ytimg.com/vi/RhkArGEIAz8/maxresdefault.jpg" alt="Automation, Orchestration, Confusion? Taking the Discussion Up the Stack features Nati Shalom of GigaSpaces Technologies, Red Hat's Steve Baker, hastexo's Florian Haas, Mirantis' Georgy Okrokvertskhov and Rackspace's John Yi. 
">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> Watch</span>
</p>
</a>
</li>

-->

</ul> 

<!--
<div class="pagination">
	<ul class="pager" id="myPager"></ul>
</div> -->


