<section id="bottom">
			<div class="container">

		<div class="row">
		<div class="span12">
		
					<div class="pullquote-bottom"><h1><strong>NFV Resources</strong></h1></div>

					<div class="row">
					<div class="span3">
					<div class="pullquote-wp">
					<a href="/from-virtual-appliance-to-cloud-native-vnf-whitepaper.html">
					<img src="/img/resources/resourcetile3.png" width="268px">
					<div class="details background">
                      <p><strong>From Virtual Appliance to Cloud Native VNF</strong></p>

          					    <p>Learn about the transition from physical, to virtual, then Cloud Native VNFs.</p>
								<p></p>           					 
        						<h2><i class="icon-arrow-right"></i> READ NOW</h2>

          					  </div>
          					  </a>
        						</div>
        						</div>

					<div class="span3">
					<div class="pullquote-wp">
					<a href="/whitepapers/nfv-mano-heavy-reading-report.html">
					<img src="/img/resources/resourcetile3.png" width="268px">
					<div class="details background">
                    <p><strong>vCPE/SD-WAN Network Orchestration</strong></p>
           					 <p>This white paper will dive into all the buzz and buzzwords around NFV and help clarify some of the confusion.</p>
          					  <p></p>        					
          					  <h2><i class="icon-arrow-right"></i> READ NOW</h2>

							  </div>
          					  </a>
        						</div>
        						</div>

        						<div class="span3"><div class="pullquote-vid">
        						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Interop Tokyo Winner: Cloudify & Athonet vIMS & vEPC Live Demo with Group Scale" alt="IN THIS DEMO YOU WILL SEE THE  ONBOARDING OF ATHONET vIMS AND vEPC VNFs ON VMWARE PRIVATE vCLOUD DIRECTOR WITH A SIMPLE CLOUDIFY BLUEPRINT.  THE vIMS PROVIDES VIDEO CALLING &  vEPC ADDS CELLPHONE CONNECTIVITY. FOLLOWING THE  ONBOARDING THE VNFs ARE THEN CHAINED TO PHYSICAL DEVICES  PROVIDING A LAB CELLPHONE TOWER THAT REAL CELLPHONES CAN CONNECT TO ALONG WITH OTHER SERVICES. SCALING OF THE vIMS AND vEPC AS PODS (GROUP SCALING) IS THEN DEMONSTRATED BY USING THE LATEST CLOUDIFY 3.4 GROUP SCALING FEATURE. AT THE END YOU WILL SEE TWO CELLPHONES CONNECTED TO TWO INSTANCES OF THE vIMS AND vEPC AFTER SCALING." href="http://www.youtube.com/embed/6YqlqfdEuMQ?enablejsapi=1&amp;wmode=opaque"><img src="/img/resources/resourcetile1.png" width="268px">
        						<div class="details-vid background">
           					 <p>Watch this demo and see Cloudify onboard a vEPC and vIMS to vCloud Director and group scale during runtime.</p>
          					  <p></p>           					  
          					  <p></p>       					
          					  <h2><i class="icon-play"></i> WATCH</h2>
          					  </div>
          					  </a>
        						</div>
        						</div>

        						<div class="span3">
        						<div class="pullquote-vid">
        						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Metaswitch Demo - Orchestration in an NFV Environment with Cloudify " href="http://www.youtube.com/embed/T37cNUQVYac?enablejsapi=1&amp;wmode=opaque"><img src="/img/resources/resourcetile1.png" alt="This demo shows how Metaswitch uses Cloudify to orchestrate the Clearwater Core IMS, Perimeta, and MetaView SAS VNFs on OpenStack with self-healing and auto-scaling." style="display: inline; margin-right:10px;" width="268px">
        						<div class="details-vid background">
           					 <p>See how Metaswitch uses Cloudify to orchestrate the Clearwater Core IMS, Perimeta, and MetaView SAS VNFs on OpenStack with self-healing & auto-scaling.</p>
          					  <p></p>
          					  <p></p>
        					<h2><i class="icon-play"></i> WATCH</h2>

          					  	</div>
          					  	</a>
        						</div>
        						</div>


        						</div>

							
						
						</div>
					</div>
					</div>
					</section>