
<div class="row">
	<div class="span9">
	
		<div class="span1 postedBySection">
			 <div class="post-image">
				<div data-brackets-id="1692" class="author">
					<img data-brackets-id="1693" title="{{ post.author }}" width="80" height="96" src="/images/{{ post.image }}"   class=" bordered"  alt="{{ post.author }} "/>
					<p data-brackets-id="1694" class="name">
					   By {{ post.author }} 
					</p>
				</div>
			</div>
		</div>

		<div class="span8">
			<div class="post-heading">
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			<p>
				{% if post.summary %}	
						<p>{{ post.summary | strip_html | truncatewords: 150 }}</p>
					{% elsif post.description %}
						<p>{{ post.description | strip_html | truncatewords: 100 }}</p>
					{% else %}
						<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
				{% endif %}		  
			</p> 
		</div>
		
		<div class="row">
			<div class="span9">
				<div class="bottom-article">
					<ul class="meta-post">
						<li><i class="icon-calendar"></i><a href="#">  {{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }} </a></li>
						<!--<li><i class="icon-user"></i><a href="#">{{ post.author }} </a></li>
						<li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>-->
						 {% if post.tags | size %} <li><i class="icon-tags"></i>{% endif %}	
						{% assign tagsCounter = post.tags.size %}	
						{% for tag in post.tags %}
						{%  if page.tag != tag %}
						<a class="postTag" style="text-decoration:none;" href="/tags/{{ tag  | slugize}}"><span class="label label-default">{{ tag }} ({{site.tags[tag] | size }})</span>&nbsp;&nbsp;</a>
						{% endif %}	
						{% endfor %}
						</span>
						</li>
					</ul>
					<a href="{{ post.url }}" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clear" ></div>    


