<!--Event groups-->
<!--<div class="leftContentBox blogLeft-topTitle">


	<h3>Recent Posts</h3>
</div>


<div class="leftContentBox blogLeftBox"> 
 {% for post in site.posts limit:3 %}  
	<a href="{{ post.url }}">{{ post.title }} 
	 <img class="noMargin" src="{{ site.baseurl }}/images/arrow-right-blue.png" /></a><br />
	<span class="date">{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>  
	<br/><br/>
{% endfor %}		
</div>
-->


<hr/>
<div class="aligncenter">
<a href="http://getcloudify.org/whitepapers/azure-migration-toolbox?utm_source=blog&utm_campaign=azure-migration&utm_medium=banner" target="_blank" class="downloadHeavy" data-btn-split="4" data-btn-id="Achieve True Hybrid Cloud with Azure"><img src="{{ site.baseurl }}/img/azure-migration-toolbox-cta.jpg" width="214" alt="Hybrid Cloud Management with Azure"></a>
</div>
  <br/>
  <hr/>

<ul class="watchWrapper">

<li class="widget">
<div class="aligncenter" style="margin: 0,0,0,0">
<a href="http://getcloudify.org/cloud-management-in-the-enterprise.html" target="_blank" class="downloadNfvOrc" data-btn-split="4" data-btn-id="NFV White Paper April 2015" data-btn-type="NFV White Paper April 2015" data-thanks-page="" title="Orchestration vs. PaaS vs. CMP White Paper August 2016"><img style="-webkit-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); -moz-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); box-shadow: 8px 8px 15px -5px rgba(0,0,0,1);" src="{{ site.baseurl }}/img/Cloud-Management-Enterprise.jpg" width="180" alt="NFV | Network Function Virtualization | MANO"></a></div><br>
<h5 class="widgetheading">Cloud Management in the Enterprise: An Overview of Orchestration vs PaaS vs CMP</h5></li>

<li class="widget">
<div class="aligncenter" style="margin: 0,0,0,0">
<a href="http://getcloudify.org/webinars/tosca-training-videos.html#register" target="_blank" class="directDownload" title="TOSCA in Practice Training Videos"><img style="-webkit-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); -moz-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); box-shadow: 8px 8px 15px -5px rgba(0,0,0,1);" src="{{ site.baseurl }}/img/TOSCA-training-banner.jpg" width="180" alt="TOSCA in Practice"></a></div><br>
<h5 class="widgetheading">Learn TOSCA in Practice - Two in-depth videos!</h5></li>

<li class="widget">
<div class="aligncenter" style="margin: 0,0,0,0">
<a href="http://getcloudify.org/from-vnf-to-cloud-native-vnf-whitepaper.html" target="_blank" class="directDownload" title="From Virtual Appliance to Cloud Native VNF"><img style="-webkit-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); -moz-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); box-shadow: 8px 8px 15px -5px rgba(0,0,0,1);" src="{{ site.baseurl }}/img/vnfwpcover.png" width="180" alt="Building a Cloud Native VNF"></a></div><br>
<h5 class="widgetheading">From Virtual Appliance to Cloud Native VNF: Requirements for a Cloud Native Network Function</h5></li>


<li class="widget">
<div class="aligncenter">
<a href="http://getcloudify.org/whitepapers/nfv-mano-heavy-reading-report" target="_blank" class="downloadHeavy" data-btn-split="4" data-btn-id="Heavy Reading NFV MANO Cloudify Snapshot" data-btn-type="Heavy Reading NFV MANO Cloudify Snapshot" data-thanks-page="" title="Heavy Reading NFV MANO Cloudify Snapshot"><img src="{{ site.baseurl }}/img/heavyreadingcloudify.png" width="214" alt="NFV | Network Function Virtualization | MANO"></a></div>
<h5 class="">Heavy Reading on Cloudify
<br/>NFV MANO: What's Wrong & How to Fix It</h5></li>
<hr>
<li class="widget">
<div class="aligncenter" style="margin: 0,0,0,0">
<a href="http://getcloudify.org/whitepapers/intro-to-cloudify.html" target="_blank" class="directDownload" title="Intro to Cloudify: Cloud Orchestration in Today’s Landscape"><img style="-webkit-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); -moz-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); box-shadow: 8px 8px 15px -5px rgba(0,0,0,1);" src="{{ site.baseurl }}/img/Intro_to_Cloudify_wp.jpg" width="180" alt="Intro to Cloudify: Cloud Orchestration"></a></div><br>
<h5 class="widgetheading">Intro to Cloudify: Cloud Orchestration in Today’s Landscape</h5></li>

</ul>

<p><strong>Where to Follow Us</strong></p>
 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_vertical_follow_toolbox"></div>

<hr/>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>

<div class="leftContentBox blogLeft-topTitle">
	<h3>Archived Posts</h3>
</div>

 <ul class="blog-archive-list">
 {% assign posts_collate = site.posts %}
 {% include posts_months.html %}
 </ul>
 
 