<!--Event groups-->
<!--<div class="leftContentBox blogLeft-topTitle">


	<h3>Recent Posts</h3>
</div>


<div class="leftContentBox blogLeftBox"> 
 {% for post in site.posts limit:3 %}  
	<a href="{{ post.url }}">{{ post.title }} 
	 <img class="noMargin" src="{{ site.baseurl }}/images/arrow-right-blue.png" /></a><br />
	<span class="date">{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>  
	<br/><br/>
{% endfor %}		
</div>
-->


<hr/>
<a class="btn btn-large btn-theme btn-rounded" id="downloadBtnTOC" href="http://getcloudify.org/webinars.html" target="_blank"><i class="icon-plus"></i> Join a Webinar</a></span>
  <br/>
  <hr/>

<h2> Download a Whitepaper</h2>
<li class="widget">
<div class="aligncenter">
<a href="http://getcloudify.org/cloud-management-in-the-enterprise.html" target="_blank" class="directDownload" title="Cloud Management in the Enterprise - from PaaS to CMP to Orchestration"><img style="-webkit-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); -moz-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); box-shadow: 8px 8px 15px -5px rgba(0,0,0,1);" src="http://getcloudify.org/img/Cloud-Management-Enterprise.jpg" width="180" alt="Cloud Management in the Enterprise"></a></div><br>
<h5 class="widgetheading">Cloud Management in the Enterprise - Read our whitepaper roundup of PaaS, Cloud Management Platforms, and Orchestration systems</h5></li>

<li class="widget">
<div class="aligncenter">
<a href="http://getcloudify.org/from-vnf-to-cloud-native-vnf-whitepaper.html" target="_blank" class="directDownload" title="From Virtual Appliance to Cloud Native VNF"><img style="-webkit-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); -moz-box-shadow: 8px 8px 15px -5px rgba(0,0,0,1); box-shadow: 8px 8px 15px -5px rgba(0,0,0,1);" src="http://getcloudify.org/img/vnfwpcover.png" width="180" alt="Building a Cloud Native VNF"></a></div><br>
<h5 class="widgetheading">From Virtual Appliance to Cloud Native VNF</h5></li>

<li class="widget">
<div class="aligncenter">
<a href="{{ site.baseurl }}/brochures/Heavy Reading NFV MANO Cloudify Snapshot.pdf" target="_blank" class="directDownload" data-thanks-page="" title="Heavy Reading NFV MANO Cloudify Snapshot"><img src="http://getcloudify.org/img/Heavy-Reading-NFV-MANO-Cloudify.jpg" width="214" alt="NFV | Network Function Virtualization | MANO"></a></div>
<h5 class="widgetheading">
<br/>NFV MANO: What's Wrong & How to Fix It</h5></li>

<hr/>
<br/>
<p><strong>Where to Follow Us</strong></p>
 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_vertical_follow_toolbox"></div>
<br/>
<hr/>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536b49f755961db3"></script>

<div class="leftContentBox blogLeft-topTitle">
	<h3>Archived Posts</h3>
</div>

 <ul class="blog-archive-list">
 {% assign posts_collate = site.posts %}
 {% include posts_months.html %}
 </ul>
 
