{% if currSearchClass %} 
  {% assign currClass=currSearchClass %}
{% else %}
 {% assign currClass="learnFrom" %}
{% endif %}
<div class="{{currClass}}">
    <h2>{{ searchHdr }}</h2>

    <div class="searchWrap">
        <form id="searchForm" action="#" method="get">
            <input id="search" class="searchTxt" type="text" placeholder="Search..."/>
            <input id="goBtn" class="searchBtn" type="button" value="Go"/>
        </form>
    </div>
</div>
{% if currSearchClass !="learnFromFull" %} 
<div class="hp-right-col">
 		<a class="hp-btn-getCloudify" href="/downloads/get_cloudify">Get Cloudify!</a>
</div>
{% endif %}

{% assign currSearchClass = null %}
