               <!--start -->
                 <div class="leftContentBox blogLeft-topTitle blog-left-title2 tumblr">
                        <h3>CloudifySource on Tumblr</h3>
                 </div>   
                <div class="leftContentBox tumblrFeed">                     
                <!-- Tumblr -->
							<script type="text/javascript" src="http://cloudifysource.tumblr.com/api/read/json"></script>
						
						<script>
							// Use tumblr_api_read.

							for (var i=0;i<3;i++) {
								var thisPost = tumblr_api_read.posts[i]['url'];
								var thisTitle = tumblr_api_read.posts[i]['regular-title'];
								var linkText = tumblr_api_read.posts[i]['link-text'];
								if(thisTitle==undefined){
								 document.write(
								  '<a target="_blank" href="'+thisPost+'"><i class="fa fa-quote-left"></i> '+linkText+' <i class="fa fa-quote-right"></i></a><br/><br/>'
								 );
								}else{
								 document.write(
								  '<a target="_blank"  href="'+thisPost+'"><i class="fa fa-quote-left"></i> '+thisTitle+' <i class="fa fa-quote-right"></i></a><br/><br/>'
								 );
								}
							}
						</script>
						
						<!-- End Tumblr -->
                </div>
<!--end-->
