<!--Event groups-->

<ul class="watchWrapper"> 
<li class="widget">
<h5 class="widgetheading">Cloudify for IBM InfoSphere BigInsights- The Elephant in the Cloud at IBM Information on Demand</h5>	
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify for IBM InfoSphere BigInsights- The Elephant in the Cloud at IBM Information on Demand" href="http://www.youtube.com/embed/BRpYzpfQUJQ?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/BRpYzpfQUJQ/0.jpg" alt="The massive computing and storage resources that are needed to support big data deployments in general, and Hadoop in particular, make cloud environments, public and private, an ideal fit.
Managing your big data app, however, is no walk in the park - especially when considering the fact that these systems and application stacks often include other services beyond Hadoop such as: relational databases, other NoSQL databases and more, where each framework comes with its own management, installation, configuration, and scaling solutions. This is where Cloudify fits in. Cloudify provides consistent management that makes the provisioning, deployment, and scaling of your Hadoop system simple and consistent with the rest of your stack. What's more, it enables cloud portability between bare-metal and public cloud offering for Hadoop/BigInsights making it possible to run your system on the right cloud for the job—public/virtualized environment for on-demand workloads and bare-metal for I/O intensive operations.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>

<!-- End Item Project -->
</li>

<li class="widget">			
<h5 class="widgetheading">C* 2012: Lightning Talk #5 - Cassandra on ACID (DeWayne Filppi, GigaSpaces)</h5>			
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="C* 2012: Lightning Talk #5 - Cassandra on ACID (DeWayne Filppi, GigaSpaces)" href="http://www.youtube.com/embed/lyeODmkRsaQ?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/lyeODmkRsaQ/0.jpg" alt="Session: Lightning Talk #5 - Cassandra on ACID Speaker: DeWayne Filppi (GigaSpaces).">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>
<li class="widget">
<h5 class="widgetheading">The Cube Cassandra Summit 2012 Uri Cohen</h5>
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Install an application on the HP cloud and store its data on S3 with Cloudify" href="http://www.youtube.com/embed/flMWhLcGzCE?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/flMWhLcGzCE/0.jpg" alt="In this video, Uri Cohen speaks to The Cube at the Cassandra Summit 2012 with John Furrier and Jeff Kelly on all things Cassandra, big data, and cloud.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>

<!-- End Item Project -->
</li>

<li class="widget">	
<h5 class="widgetheading">C* 2012: Take Any App to the Cloud of Your Choice (Uri Cohen, GigaSpaces)</h5>					
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="C* 2012: Take Any App to the Cloud of Your Choice (Uri Cohen, GigaSpaces)" href="http://www.youtube.com/embed/WFX_vfRimIA?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/WFX_vfRimIA/0.jpg" alt="The massive computing and storage resources that are needed to support big data applications make cloud environments an ideal fit. Now more than ever, there is a growing number of choices of cloud infrastructure providers, from Amazon AWS, OpenStack offered by the likes of HP, Rackspace and soon even Dell, VMware vCloud as well as private cloud offerings based on OpenStack, CloudStack, vCloud, and more. There is also a new class of bare-metal clouds from SoftLayer and PistonCloud that provide high performance resources designed for I/O and CPU intensive applications that don't run as well on a virtualized resources. The recent announcements by Google & Microsoft about their new infrastructure as a service offerings, add additional significant players to this growing marketplace.
Given the diverse options, and the dynamic environments involved, it becomes ever more important to maintain the flexibility to choose the right cloud for the job.
In this session, you'll learn how to deploy and manage a Cassandra cluster on any Cloud, as well as manage the rest of your big data application stack using a new open source framework called "Cloudify." (Visit cloudifysource.org)">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>



<li class="widget">	
<h5 class="widgetheading">Extending Chef to Manage the Entire Application Lifecycle</h5>					
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Extending Chef to Manage the Entire Application Lifecycle" href="http://www.youtube.com/embed/dD8XbBPb_Vg?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/dD8XbBPb_Vg/0.jpg" alt="Marrying DevOps and PaaS: Tools like Chef and Puppet have gained a lot of momentum in the last year or so. But the concept of DevOps and recipes can go well beyond setup, to actually accelerate the entire lifecycle of your applications, from setup, to monitoring, through maintaining high availability, and auto-scaling when required. In this session we'll see how to use Chef and Cloudify together to create a complete and powerful application level orchestration on any cloud, using Cloudify and Chef. More specifically, we'll learn how to automatically provision nodes on the cloud of your choice, based the requirements of your application, auto install Chef client on the provisioned VMs and run the proper Chef roles and recipe on them, and then monitor and auto scale the installed application.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>



<li class="widget">	
<h5 class="widgetheading">Big Data on the OpenStack Cloud</h5>					
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Big Data on the OpenStack Cloud" href="http://www.youtube.com/embed/09OAf6ZVPdc?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/09OAf6ZVPdc/0.jpg" alt="Uri Cohen, at the San Francisco Cloud Mafia Meetup on June 21, 2012, on Deploying Your Big Data App on OpenStack.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>

<li class="widget">	
<h5 class="widgetheading">Big Data in the Cloud</h5>					
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Big Data in the Cloud" href="http://www.youtube.com/embed/lYvKAFWC800?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/lYvKAFWC800/0.jpg" alt="In this webinar Uri Cohen, VP Product Management, presents the challenges involved with deploying and managing big data apps on the cloud and then, introduce Cloudify — our open source PaaS stack, and demonstrate how it facilitates this.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>

<li class="widget">	
<h5 class="widgetheading">How to Manage your Sharded MongoDB Setup on Any Cloud</h5>					
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="How to Manage your Sharded MongoDB Setup on Any Cloud" href="http://www.youtube.com/embed/c9UvocOHnyI?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/c9UvocOHnyI/0.jpg" alt="MongoDB supports an automated sharding architecture, enabling horizontal scaling across multiple nodes. With MongoDB you can convert to a sharded cluster, automatically managing failover and balancing of nodes, with few or no changes to the original application code. Managing a sharded mongo setup is no trivial task. In this webinar, Uri Cohen, VP Product Management will teach you how to easily set it up, monitor and scale it on any cloud environment using Cloudify.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>


<li class="widget">	
<h5 class="widgetheading">Introduction to Cloudify & Product Demo</h5>					
<!-- Fancybox - Gallery Enabled - Title - Full Image -->
<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Introduction to Cloudify & Product Demo" href="http://www.youtube.com/embed/W8siWpepCS0?enablejsapi=1&wmode=opaque">

<!-- Thumb Image and Description -->
<img src="http://img.youtube.com/vi/W8siWpepCS0/0.jpg" alt="In this webinar Uri Cohen, VP Product Management, presents the challenges involved with deploying and managing big data apps on the cloud and then, introduce Cloudify — our open source PaaS stack, and demonstrate how it facilitates this.">
<p></p>
<p class="text-right">
	<span class="btn btn-blue" ><i class="icon-play"></i> watch</span>
</p>
</a>
<!-- End Item Project -->
</li>

</ul>

<div class="pagination">
	<ul class="pager" id="myPager"></ul>
</div>



