<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head_section.html %}
<body>
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a>        
<div class="WrapperBg">
    <div class="Wrapper">
        {% include header.html %}
        <div class="contentWrap">
            <div class="clear"></div>
           <div class="breadcrumbs">Home Page > Cloudify Recipe Catalog</div>            
            <div class="clear"></div>


<!--Search-->  		
	    {% assign searchHdr="Cloudify Widget" %}
            {% include search.html %}

	    <div id="resultsDiv" class="DocumentsWrapRight"></div>
            <div id="pageContent" class="contentNoRight">
              
                {{content}}
				 {% include slidercontent.html %}
            </div>
        </div>
        <div class="clear"></div>

        <!--Start Footer -->
        {% include footer.html %}

    </div>
    <!--End site wrapper -->


</div>
<!--End site bg top wrapper -->

</body>
</html>
