---
layout: blogpost
---

<h1>{{ page.month | to_month }} {{ page.year }}</h1>
<ol class="archive">
  {% for d in (1..31) reversed %}
    {% if site.collated_posts[page.year][page.month][d] %}
      {% for post in site.collated_posts[page.year][page.month][d] reversed %}
      <li>
        <div class="excerpt">
          <strong class="entry-title">
            <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
          </strong>
          <span class="date small">
            <abbr class="published" title="{{ post.date }}"> - {{ post.date | date_to_string }}</abbr>
          </span>
          <p class="alt-font">
            Posted in&nbsp;
            {% for category in post.categories %}
            <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
            {% endfor %}
          </p>
          <!--<p class="comments-link">
            <a href='{{post.url}}#disqus_thread'>Comments</a>
          </p> -->
        </div>
      </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ol>