<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<div class="WrapperBg">    
    <div class="Wrapper">
        {% include header.html %}
		
<section id="inner-headline">
	<div class="container">
		<div class="row">			
			<div class="span12" style="float:right;">
				<ul class="breadcrumb">
					<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="/blog">Blog</a><i class="icon-angle-right"></i></li>
					<li class="active">{{ page.title }}</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	{% assign searchHdr="Blog Posts and Updates" %}
	<section id="content">
	<div class="container">
			<div class="row">
				<!-- Blog Right side posts -->
				<div class="span9">
					<div id="resultsDiv" class="DocumentsWrap"></div>
					<div id="pageContent" class="DocumentsWrapRight">
					
					<h1 class="pageTitle">{{ page.title }}</h1>
					{% if page.title %} 
					  <span class="blogPostInfo">Posted By: <a href="#">{{ page.author }}</a>  on {{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}  
					  </span>
					  <br/><br/><br/>
					 {% endif %}
                    {{content}}
					
					
					<!-- Pagination links -->
					<div class="pagination">
					{% if page.previous %} 
							<span class="prev">&laquo;&nbsp;<a rel="prev" href="{{ page.previous.url }}">Previous Post</a></span>
						{% endif %}
						{% if page.next %} 
							<span class="next" style="float:right;"><a rel="next" href="{{ page.next.url }}">Next Post</a>&nbsp;&raquo;</span>
						{% endif %}
					</div>	
					<div class="clear"></div>

					{% include addthis.html %}	
                   				
                    {% include disqus.html %}
					
					
					</div>			
				</div>	
				
				<!-- Blog Left side coll -->
				<div class="span3">
					<aside class="right-sidebar" >
						{% include posts_toc.html %}
						<br/>
							<br/>
							<div class="addthis_recommended_vertical"></div>
							<br/>
					<a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fgetcloudify.org%2Fatom.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a>
					
					</aside>
				</div>
			</div>	
	</div>	
	</section>	
	<div class="clear"></div>
	<!--Start Footer -->
	{% include footer.html %}
			
	</div>
	{% include footer_scripts.html %}	
</body>
</html>
