<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}
<body>
<div id="wrapper">
   {% include header.html %}
		<section id="inner-headline">
			<div class="container">
				<div class="row marginbot30">
					<div class="span12">
					    <div id="resultsDiv" class="DocumentsWrap"></div>
						<div id="pageContent" >
							{{content}}  
						</div>
					</div>
				</div>
			</div>
		</section>
	 <div class="clear"></div>  
   {% include footer.html %}   
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up"></i></a>
{% include footer_scripts.html %}	
</body>
</html>
