<!DOCTYPE html>
<html lang="en">
{% assign needVersions="needVersions" %}
{% assign needExpandBtn="needExpandBtn" %}
{% include head_section.html %}
{% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}

<body>
<script src="/js/doc-layout.js"></script>
<div id="wrapper">
	<!-- start header -->
	{% include header.html %}
	<!-- end header -->

	<section id="inner-headline">		
		<div class="container">
			<div class="span12">
				<div class="row bt_wiki-breadcrumb">
					<ul class="breadcrumb">{% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}
						<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
						<li><a href="/guide">Docs</a><i class="icon-angle-right"></i></li>
						<li><a href="/guide/{{currentVersion}}">{{currentVersion}}</a><i class="icon-angle-right"></i></li>						
						<li class="active">{{ page.title }}</li>
					</ul>
				</div>
				<div class="row bt_wiki-tocrow">
					<div class="span3 bt_wiki-tocspan">				
						<aside id="tocAside" class="left-sidebar" style="display:none;"></aside>
					</div>
					<div class="span9 bt_wiki-docswrap" id="docsWrap">
						<div id="resultsDiv" class="DocumentsWrap"></div>
						<div id="pageContent">
							<button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default" style="float: right;"><i class="icon-github-alt icon-large"></i>&nbsp;&nbsp;Edit</button>
							<h1 style="font-weight: bold;padding-top:0px">{{ page.title }}</h1>		
							{{content}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- start footer-->
	{% include footer.html %}
	<!-- end footer-->

</div>
<a href="#" class="scrollup"><i class="icon-chevron-up"></i></a>

<!-- javascript footer_scripts-->
{% include footer_scripts.html %}
<script src="/js/cookie.js"></script>
<script src="/js/wikipage-layout.js"></script>

<!-- javascript footer_scripts-->

</body>
</html>