<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cloudify - {{ page.cat }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/template.css" type="text/css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.js"></script>
	<script type="text/javascript" src="/scripts/jquery.jstree.js"></script>
	<script type="text/javascript" src="/scripts/cloudify_default.js"></script>	
</head>

<body>
<div id="WrapperBg">
    <div id="Wrapper">
        {% include header.html %}
        <div id="contentWrap">
            <div class="breadcrumbs">HomePage > Cloudify Documentation</div>
            <div class="clear"></div>

            <!--Search-->
            {% include search.html %}


            <div id="content">
                <h1 class="pageTitle">{{ page.title }}</h1>

                <div class="left">
                    <a class="btnGetCloudifyFreeEdition" href="#"></a>
                    {% include toc.html %}

                </div>

                <!--Start left content -->

                <div class="DocumentsWrap">
                    {{content}}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--Start pagination -->

        <div class="clear"></div>

        <!--Start Footer -->

        {% include footer.html %}

    </div>
    <!--End site wrapper -->


</div>
<!--End site bg top wrapper -->
</body>
</html>
