<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% assign needVersions="needVersions" %}
{% assign needExpandBtn="needExpandBtn" %}
{% include head_section.html %}
<body>
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a>
<div class="WrapperBg">
    	
    <div class="Wrapper">
        {% include header.html %}
        <div class="contentWrap">
			<div class="breadcrumbs">Home Page > Cloudify Documentation > {{ page.title }}</div>            
            <div class="clear"></div>

            <!--Search-->
			{% assign searchHdr="Search our Knowledge Base" %}			
            {% include search.html %}


            <div class="content">
                <div class="left">
                    {% capture currentVersion %}{{ page.url | remove: "/guide/" | split:"/" | first }}{% endcapture %}
					{% case currentVersion %}
						{% when "2.1" %}
							{% include toc2.1.html %}
						{% when "2.2" %}
							{% include toc2.2.html %}
						{% when "2.3" %}
							{% include toc2.3.html %}
						{% else %}
							{% include toc2.1.html %}
					{% endcase %}																	
                </div>

                <!--Start left content -->

                <div id="resultsDiv" class="DocumentsWrap"></div>
                <div id="pageContent" class="DocumentsWrapRight">
                    <h1 class="pageTitle">{{ page.title }}</h1>
					<span id="pageVersion"></span>
                    {{content}}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--Start pagination -->

        <div class="clear"></div>

        <!--Start Footer -->

        {% include footer.html %}

    </div>
    <!--End site wrapper -->


</div>
{% capture ppp %}{{ page.url }}{% endcapture %}
{% capture xxx %}{{ page.url | remove: "/guide/" | remove: "/html/" | split:"/" | first }}{% endcapture %}
{% capture xx2 %}{{ page.url | remove: "/guide/" | remove: "/html/" | split:"/" | first }}{% endcapture %}
{% capture xx3 %}{{ page.url | remove: "/guide/" | remove: "/html/" | split:"/" | first }}{% endcapture %}
{% capture yyy %}{{ page.url | remove: "/guide/" | remove: "/.html/"| split:"/" | first }}{% endcapture %}
{% capture yy2 %}{{ page.url | remove: "/guide/" | remove: "/.html/"| split:"/" | first }}{% endcapture %}
{% capture yy2 %}{{ page.url | remove: "/guide/" | remove: "/.html/"| split:"/" | first }}{% endcapture %}
{% capture zzz %}{{ page.url | remove: "/guide/" | remove: "/\.html/"| split:"/" | first }}{% endcapture %}
{% capture zz2 %}{{ page.url | remove: "/guide/" | remove: "/\.html/"| split:"/" | first }}{% endcapture %}
{% capture zz2 %}{{ page.url | remove: "/guide/" | remove: "/\.html/"| split:"/" | first }}{% endcapture %}
<span>ppp-{{ppp}}-ppp</span>
<span>aaa-{{currentVersion}}-vv</span>
<span>xxx-{{xxx}}-xxx</span>
<span>xx2-{{xx2}}-xxx</span>
<span>xx3-{{xx3}}-xxx</span>
<span>yyy-{{yyy}}-yyy</span>
<span>yyy-{{yy2}}-yyy</span>
<span>yyy-{{yy3}}-yyy</span>
<span>zzz-{{zzz}}-zzz</span>
<span>zz2-{{zz2}}-zzz</span>
<span>zz3-{{zz3}}-zzz</span>
<!--End site bg top wrapper -->
</body>
</html>
