<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head_section_home.html %}
<body class="bodyClass"  onload="prettyPrint()">
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a>
<div class="WrapperBg">
 {% include homesearch.html %}
  <!--<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a> -->   
  <div class="Wrapper-home">
   {% include header.html %}
   <div class="contentWrap">
     <div class="clear"></div>  
   
	
     <div class="contentWrapHome">   

	 <div id="resultsDiv" class="DocumentsWrap"></div>
     {{content}}  
    </div>	
    <div class="clear"></div>  
	<script type="text/javascript">
      mixpanel.track('HomePage zzz');
	  
	  mixpanel.track_links('#hpdownload a', 'xx clicked hpdownload linktttt');	
	mixpanel.track_links('.hp-banner-getCloudify a', 'hp-banner clicked hpdownload linkaaa');	
	mixpanel.track_links('hp-banner-getCloudify a', 'ggg hp-banner clicked hpdownload linkaaa');	
	mixpanel.track_links('hp-banner-getCloudify', 'yy hp-banner clicked hpdownload linkbbb');	
	  	  
	  function mixFunction() {		
		mixpanel.track_links('#hpdownload a', 'xx clicked hpdownload link23');	
		mixpanel.track_links('.hp-banner-getCloudify a', 'hp-banner clicked hpdownload link43');	
		mixpanel.track_links('hp-banner-getCloudify a', 'ggg hp-banner clicked hpdownload link45');	
		mixpanel.track_links('hp-banner-getCloudify', 'yy hp-banner clicked hpdownload link64');	
	}
	</script>
   {% include footer.html %}  
  </div>     
</div>

</body>
</html>
