<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head_section_home.html %}
<body>
<div class="WrapperBg">
 <!--{% include homesearch.html %} -->
  <!--<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a> -->   
  <div class="Wrapper">
   {% include header.html %}
   <div class="contentWrap">
     <div class="clear"></div>  
   
	
     <div class="contentWrapHome">   

	 <div id="resultsDiv" class="DocumentsWrap"></div>
     {{content}}  
    </div>	
    <div class="clear"></div>       
   {% include footer.html %}  
  </div>     
</div>

</body>
</html>
