<!DOCTYPE html>
<html lang="en">
{% include head_section.html %}

<body>
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a> 
<div class="blockBg" style="display:none"></div>
<div class="WrapperBg">
           
    <div class="Wrapper">
        {% include header.html %}
        <div class="contentWrap">
            <div class="clear"></div>          
            <div id="resultsDiv" class="DocumentsWrapRight"></div>
            <div id="pageContent" class="contentNoRight">
                {{content}}
            </div>
        </div>
        <div class="clear"></div>

       

    </div>
    <!--End site wrapper -->
 <!--Start Footer -->
        {% include footer.html %}

</div>
<!--End site bg top wrapper -->

</body>
</html>
