---
layout: mainblog
---

{% if page.related %}
<span id="related">
<h1 > Related Tags : </h1>
<ul>
{% for tag in page.related %}
	<li>
		<a href="/tag/{{ tag }}">{{ tag }}</a>
	</li>
{% endfor %}
</ul>
</span>
{% endif %}


{% for post in site.tags[page.tag] %}

<div class="blogtPostBox">
  <div class="blogInfoLeft">
    <img title="{{ post.author }}" width="100" height="120" src="/images/{{ post.image }}" />
  </div>  
  <div class="blogInfoRight">
    <a class="title">{{ post.title }}</a>
	  <div class="blogPostInfo">
	  <br/>	  	 
	    <span>Posted By: <a href="#">{{ post.author }}</a>  on  {{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}  <!--|  in <a href="/categories/{{ post.category | slugize }}">{{ post.category }}</a> --></span>
	  </div>	  	  	
      <p>
		{% if post.summary %}	
			<p>{{ post.summary | strip_html | truncatewords: 150 }}</p>
		{% elsif post.description %}
			<p>{{ post.description | strip_html | truncatewords: 100 }}</p>
		{% else %}
			<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
		{% endif %}	
		<p class><a href="{{ post.url }}">Read more...</a></p>	  	  
	  </p>{% assign tagsCounter = post.tags.size %}
		<span> {% if tagsCounter > 1 %} Additional Tags: {% endif %}		
			{% for tag in post.tags %}
				{%  if page.tag != tag %}
			     <a class="postTag" href="/tags/{{ tag  | slugize}}">{{ tag }} ({{site.tags[tag] | size }})</a>
			   {% endif %}	
			{% endfor %}
		</span>
	    
  </div>
  <div class="clear" ></div>    
</div>  

{% endfor %}

