<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head_section_video.html %}
<body>
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a>
<div class="WrapperBg">
    	
    <div class="Wrapper">
        {% include header.html %}
        <div class="contentWrap  cloudifysourcetv">
			<div class="breadcrumbs">Home Page > {{ page.title }}</div>            
            <div class="clear"></div>
			

            <!--Search-->			
	
			{% assign searchHdr="Watch and Learn" %}
            {% include search.html %}
            
                <!--Start left content -->                 		
		<h1 class="pageTitle">{{ page.title }}</h1>
		<div id="alTag_videoTopText"></div>
		    <div id="resultsDiv" class="DocumentsWrap"></div> 
                    {{content}}
                    <div id="alTag_videoBottomText"></div>
                <div class="clear"></div>
                
        </div>
        <!--Start pagination -->

        <div class="clear"></div>

        <!--Start Footer -->

        {% include footer.html %}

    </div>
    <!--End site wrapper -->


</div>
<!--End site bg top wrapper -->

<!--leadlander tracking script -->
{% include leadlander.html %}

 <script>
 var currentId;
	$(function() {
		
		//end popup contact form

	<!--this code make the playlist-->		
	var playListURL = 'http://gdata.youtube.com/feeds/api/playlists/D470957921551B9A?enablejsapi=1&max-results=50&v=2&alt=json&callback=?';
	var videoURL= 'http://www.youtube.com/watch?v=';
	$.getJSON(playListURL, function(data) {
		var list_data="";
		var showDescription="";
		var movieTitle="";
		var updated="";
		$.each(data.feed.entry, function(i, item) {
			var feedTitle = item.title.$t;
			var deScrip = item.media$group.media$description.$t;
			var upDate = item.published.$t;
			var feedURL = item.link[1].href;
			var fragments = feedURL.split("/");
			var videoID = fragments[fragments.length - 2];
			var url = videoURL + videoID;
			var thumb = "http://img.youtube.com/vi/"+ videoID +"/0.jpg";
			//var description = item.description.$s;
			var dateFor = new Date(upDate);
			list_data += '<li id="'+videoID+'" class="videoThumbBox"><div class="vidThumb"><a href="'+ url +'" title="'+ feedTitle +'"><img alt="'+ feedTitle+'" src="'+ thumb +'"></a></div> <h4>'+feedTitle+'</h4><span class="mainVidDate">'+dateFor.toDateString('dd')+'</span><div class="clear"></div></li>';
			showDescription += '<p class="'+videoID+'" style="display:none" >'+deScrip+'</p>';
			movieTitle += '<h3 class="'+videoID+'" style="display:none"> '+feedTitle+'</h3>';
			updated += '<span class="'+videoID+'" style="display:none">'+dateFor.toDateString('dd')+'</span>';
		});
		
				
			$(list_data).appendTo(".videoThumbs");<!-- push li to ul.videoThumbs -->
			//load the first description	
		//$(list_data).appendTo(".videoThumbs");<!-- push li to ul.videoThumbs -->
		
		<!--make the prev next pageination-->
		$('#paging_container3').pajinate({
			num_page_links_to_display : 10,
			items_per_page : 5,
			wrap_around: true,
			show_first_last: false,
			item_container_id : '.videoThumbs',
			nav_panel_id : '.alt_page_navigation'

		});
		
		
		
		
		$('.videoDesc').empty();
		$(showDescription).appendTo(".videoDesc");<!-- push movie description  -->
		$(movieTitle).appendTo("div.clipTitle");<!-- push movie title  -->
		$(updated).appendTo(".mainVidDate div");<!-- push movie title  -->
			
       	//load the first description	

		 if(document.location.hash != "")
		 {
            currentId = document.location.hash.replace('#','');
         }else{
			currentId = $('li.videoThumbBox').attr('id');
         }		 
		//var currentId = $('li.videoThumbBox').attr('id');
		$('p.'+currentId+'').show();
		$('h3.'+currentId+'').show();
        	$('span.'+currentId+'').show();

	
	

		
		
		
		
	
	

	
	//this code show the right description after we click on playlist link
	//$('.vidThumb a').click(function(event) {
	  

$(document).on("click",".vidThumb a", function(event) {
    event.preventDefault();
	


		$('p , div.clipTitle h3 , div.mainVidDate span ').hide();
		currentId = $(this).parent().parent().attr('id');
		 document.location.hash = currentId;
		$('p.'+currentId+' , div.clipTitle h3.'+currentId+' , div.mainVidDate span.'+currentId+'' ).show(); 
                var mixPanelVideoTitle = $(this).attr('title');
		//mixpanel.track("Watched Video",{'page name' : document.title, 'url' : mixPanelVideoTitle });
//var tag = document.createElement('script');
  //  tag.src = "https://www.youtube.com/iframe_api";
    //var firstScriptTag = document.getElementsByTagName('script')[0];
   // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		 player.stopVideo();
		 player.loadVideoById(currentId);
		 //player = new YT.Player('player', {
          //    height: '390',
          //    width: '640',
          //    videoId: currentId,
          //    events: {
          //      'onReady': onPlayerReady,
          //      'onStateChange': onPlayerStateChange
          //    }
          //  });	  
			
			// autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {        
            if(event.data === 0) {          
                alert('done');
            }
        }
	  
		
	});
	
	
	 
	
	
//for top menu current


    	var url = window.location.pathname, 
        urlRegExp = new RegExp(url.replace(/\/$/,'') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
        // now grab every link from the navigation
        $('li.topmenuli a').each(function(){
            // and test its normalized href against the url pathname regexp
            if(urlRegExp.test(this.href.replace(/\/$/,''))){
                $(this).parent().addClass('active');
            }
        });	
	
	
	
	
	
	
});
		
		
			});
		
  


	
	
	
	
	

    </script>		
	
	
<!-- 	<script src="http://www.youtube.com/player_api"></script> -->
	<script>

			// Load the YouTube API asynchronously
	var tag = document.createElement('script');
	tag.src = "/scripts/ytPlayerApi.js";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	
	var player;			
	window.onYouTubeIframeAPIReady = function () {
				 //var currentId;	
				 if(document.location.hash != "")
				 {
		            currentId = document.location.hash.replace('#','');
		         }else{
					currentId = "MyYQQQhcCZI"; //$('li.videoThumbBox').attr('id');
		         }	



	// create youtube player
		            player = new YT.Player('player', {
		              height: '390',
		              width: '640',
		              videoId: currentId,
		              events: {
		                'onReady': onPlayerReady,
		                'onStateChange': onPlayerStateChange
		              }
		            });
					
}; 	//End onYouTubeIframeAPIReady

	// autoplay video
		        function onPlayerReady(event) {
		            event.target.playVideo();
		        }

		        // trigger when video is end
		        function onPlayerStateChange(event) {        
		            if(event.data === 0) {          
		               
						var videoTitle= $(".clipTitle h3."+currentId).text();
						var videoWatchDuration = player.getCurrentTime().toString();
						var getDistinctId = mixpanel.get_distinct_id();
						
						mixpanel.people.set({
							"Video Name": videoTitle,
							"Video Watch Duration": videoWatchDuration
						});
						
						mixpanel.identify(getDistinctId) ;
						
						mixpanel.people.increment({
							"Watched Video Counter": 1
						}); 
						
						mixpanel.track("Watched Video",{'page name' : document.title, 'url' : videoTitle });
		            }
		        } 
		     

    </script>		
</body>
</html>
