<!DOCTYPE html>
<html lang="en">
{% include head_section_video.html %}
<body>
<a class="fork-guide" target="_blank" href="https://github.com/CloudifySource/cloudify"></a>
<div class="WrapperBg">
    	
    <div class="Wrapper">
        {% include header.html %}
        <div class="contentWrap  cloudifysourcetv">
			<div class="breadcrumbs">Home Page > {{ page.title }}</div>            
            <div class="clear"></div>
			

            <!--Search-->			
	
			{% assign searchHdr="Watch and Learn" %}
            111{% include search.html %}
            
                <!--Start left content -->                 		
		<h1 class="pageTitle">{{ page.title }}</h1>
		<div id="alTag_videoTopText"></div>
                    {{content}}
                    <div id="alTag_videoBottomText"></div>
                <div class="clear"></div>
                
        </div>
        <!--Start pagination -->

        <div class="clear"></div>

        <!--Start Footer -->

        {% include footer.html %}

    </div>
    <!--End site wrapper -->


</div>
<!--End site bg top wrapper -->
</body>
</html>
