---
layout: bt_default
title: Cloudify Client Use Cases and Testimonials
description: See how Cloudify is helping enable smart business and IT decisions on a wide range of leading companies, from Service Providers, to Large banks. 
category: Use Cases
---



<div class="jumbotron subhead" id="overview">
    <h5 class="dwnCenter"></h5>
    <div class="container dwnTopBanner">
        <p>&nbsp;</p>        
        <h1>Cloudify Client Use Cases</h1>
        <p>&nbsp;</p>
        <p>&nbsp;</p>        


		
		<div class="row-fluid">
            <div class="span10">
            <a class="regBtn" href="#enterprise"><i class="icon-plus"></i>&nbsp;Enterprise</a>&nbsp;&nbsp;<a class="regBtn" href="#NFV"><i class="icon-plus"></i>&nbsp;NFV</a>
        <p>&nbsp;</p>        
        <p>&nbsp;</p>        


            </div>
            </div>
        
        </div>
    </div>
</div>
</div>
	


			<a name="#enterprise"></a>
			<section id="content">
			<div class="container">
				<div class="row">
					<div class="span12">
					<div class="pullquote-bottom"><h1><strong>Tier-1 Worldwide Reinsurance Company (Production)</strong></h1></div>
					<p></p>
					<p>The company is one of the largest reinsurance companies in the world and offers a wide range of primary and health insurance products to businesses and private individuals as well as asset management. 
					<ul>
					<li>A publicly traded company currently has over 40,000 employees around the world</li>
					<li>Revenue of over $50 billion over its 4 business units</li>	
					</ul>
					</p>
					<h3><strong>Challenge:</strong></h3>
					<p>This tier-1 reinsurance company has big data computational requirements for actuarial calculations which are performed against a diversity of databases constantly.  These databases run on nearly 600 OpenStack VMs, and need to continually be managed, monitored, and upgraded all while enabling continuous integration and development in testing and production environments.</p>   

					<h3><strong>Solution:</strong></h3>
					<p>Cloudify enabled this company to deploy databases on demand, manage them, upgrade them as needed through a simple application blueprint while tying all of the pieces of the infrastructure and application together.  The complex architecture contains a management portal to request environment provisioning, an existing IaaS orchestrator that sends JSON requests to Cloudify, a DNS/DHCP that receives the IPs, OpenStack cloud, NetApp storage, Chef for application deployment, alongside 6+ backup and monitoring tools. </p>
					<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModaluc-1">
					<i class="fa fa-file-pdf-o"></i> Download PDF</button></p>
					<div id="myModaluc-1" class="modal fade" role="dialog" style="display: none;">
         			 <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title"><strong>Register to Download</strong></h4>
								      </div>
								      <div class="modal-body">
								        <p> 	<!--[if lte IE 8]>
											<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
											<![endif]-->
											<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
											<script>
											  hbspt.forms.create({ 
											    portalId: '1918719',
											    formId: '1e31b56c-727d-4af3-b630-89794314beb2'
											  });
											</script>
											</p>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      
								      </div>
								    </div>
								    </div>
                
          </div>
          </div>


					</div>
					</div>

					<div class="row">
					<div class="span12">
					<div class="pullquote-bottom"><h1><strong>Tier-1 North American Bank (Production)</strong></h1></div>
					<p></p>

					<p>The client is one of the largest banks in North America, and the world (based market capitalization)</p>
					<ul>
					<li>With about 90 billion USD in assets</li>
					<li>Over 85,000 employees</li>
					<li>Over 25 million clients worldwide</li>
					<li>With more than 2,300 branches across North America</li>
					<li>Providing hundreds of services under three main business lines, two retail and one wholesale banking. </li>
					<li>Their services include digital banking, lending, investing, asset management, insurance, and more.</li>
					</ul>					
					
					<h3><strong>Challenge:</strong></h3>
					<p>The organization was facing challenges with accumulating too much technology, in business siloes, that was not standardized and was fragmented across business units.  The need to create a single source for their diversity of technology, along with a deployment model that was easily consumable yet scalable, by developers and operations alike across hybrid stacks and infrastructure.

					<h3><strong>Solution:</strong></h3>
					<p>The Cloudify team helped the banks’s team build a standardized selection of “certified” blueprints, that the client would be able to provide their 10+ lines of business (LOBs), in a simple web-based catalog for one-click consumption. This catalog gave the bank’s developers a simple method to configure and provision environments on demand to test their hundreds of applications and rollout new services, without the former time-consuming procurement cycles, or bottleneck of IT provisioning. Since the blueprints are written in simple YAML, developers were also able to modify and customize the blueprints to match the configuration needed for each particular environment, enabling level of flexibility a human operator would be able to provide.</p>

					<p>The work of the Cloudify team enabled technology standardization across the entire business and all LOBs, in a multinational corporation, ultimately <strong>lowering the bank’s costs <em>by 40%</em></strong>, enabling them to <strong>deploy over 5000 nodes</strong> on OpenStack in production, helped them <strong>introduce over 50 new digital services</strong> and technologies to their internal end-users and clientele, and <strong>seven new platforms</strong>, all in <em>under one year</em>.</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>        


					<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModaluc-2">
					<i class="fa fa-file-pdf-o"></i> Download PDF
					</button>
					</p>

					<div id="myModaluc-2" class="modal fade" role="dialog" style="display: none;">
         			 <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title"><strong>Register to Download</strong></h4>
								      </div>
								      <div class="modal-body">
								        <p>
											<!--[if lte IE 8]>
												<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
												<![endif]-->
												<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
												<script>
												  hbspt.forms.create({ 
												    portalId: '1918719',
												    formId: '3f554a53-c5eb-4646-98ed-3e60204ba360'
												  });
												</script>


											</p>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								      
								      </div>
								    </div>
								    </div>

					</div>
					</div>
					

					</div>					
					</div>
					</div>
					</section>

			{% include ent_resources.html %}
					<a name="NFV"></a>


			<section id="content">
			<div class="container">
				
					<p></p>
					<p></p>
					<div class="row">
					<div class="span12">
					<p>&nbsp;</p>
					<p>&nbsp;</p>        
      

					<div class="pullquote-bottom"><h1><strong>Leading EMEA Operators (Two Companies - One Deployment, One PoC)</strong></h1></div>
					<p></p>

					<p><strong><font color="#2bade0">First Company - Deployment Phase</font></strong></p>
					<p><strong>3M+ Subscribers</strong></p>
					<h3><strong>Challenge:</strong></h3>
					<p>Building a portfolio of unique and innovative services and migrating from their legacy turn-key vendor.</p>

					<h3><strong>Solution:</strong></h3>
					<p>The open and model-driven solution provided by Cloudify enabled this company to build a best of breed NFV stack, leveraging open solutions to provide a catalog of innovative VNF services on demand through a one-click consumable model - providing a self-service portal for on-demand services such as vCPE and SD-WAN. </p>
					<p>The open nature of Cloudify, and its vCPE service, enables end users to model their architecture, configure, provision, deploy, and monitor their NFV and SDN applications.</p>

					<p><strong><font color="#2bade0">Second Company - PoC</font></strong></p>
					<ul>
					<li>One of the largest telephone companies in the Nordics</li>
					<li>More than 8.5 million customer relations</li>
					<li>~$3.5bn in 2015</li>
					<li>Networking: Mainly a Juniper shop (but also Cisco is there)</li>
					<li>Long time VMWare customer</li>
					</ul>
					
					<h3><strong>Challenge:</strong></h3>
					<p>The company presented a number of business, telco, and IT challenges it was looking to PoC in the trial including:</p>
					
					 
					
					<ul>
					<li>Self-service, end to end automation, "order to delivery" is measured in seconds</li>
					<li>Agility, decreasing time to market</li>
					<li>Flexibility, efficient handling of variability</li>
					<li>Cost, scaling effectively from small to large solutions</li>
					<li>Scales from a 100% manually configured solution to a complete self-service solution. Same SW/interfaces used. </li>
					<li>Customer specific report on the utilization of their service on relevant KPI’s</li>
					<li>Service Modeling</li>
					<li>That it is easy to add new features</li>
					<li>End-to-end orchestration across NFV and SDN</li>
					<li>Instant activation of the NFV</li>
					<li>Service Chaining</li>
					<li>99.999% availability</li>
					<li>High performance in all of the layers in the data center</li>
					<li>DC integration to the back bone</li>
					<li>How to handle the split between initial operator configurations and customer configurations</li>
					<li>End-to-end monitoring</li>
					<li>Operational tools</li>
					<li>Troubleshooting tools</li>
					<li>Capacity management</li>
					<li>Scalability</li>
					<li>Security including logging on all levels</li>
					<li>Protocols / standards used, including openness for 3 party delivered services</li>
					<li>Maturity of the involved technologies and standards</li>
					<li>The split between which services to realize centralized, and which needs to remain on the CPE</li>
					</ul>

					

					<h3><strong>Solution:</strong></h3>
					<p>Cloudify integrated all of the parts of the solution including connecting greenfield and brownfield environments, by providing:</p>
					<ul>
					<li>Self service of the various parts of the solution (IP addressing, firewall , DNS )</li>
					<li>LAN / WAN dashboard – reporting and real-time overview of the solution, traffic etc.</li>
					<li>Integration with legacy OSS is emulated</li>
					<li>Integration of CPE required</li>
					<li>How to control the customer solution using customer profiles </li>
					</ul>


					<p>All of this based on standardized telco ETSI cloud, with out of the box service function chaining, across multiple locations.</p>

					<p>This PoC successfully demoed all of the requested use cases and showed how performance gains of up to 450 %can be achieved on the same lines and CPE equipment by offloading work to the vCPE.</p>
					</div>
					</div>

					<div class="row">
					<div class="span12">
					<div class="pullquote-bottom"><h1><strong>Tier-1 North American Operator (#1 Operator in the United States) - (Deployment Phase)</strong></h1></div>
					<p></p>

					<p>The global integrated telecom company offers satellite and digital television, fixed and mobile telephony, broadband access and fixed-line internet services, IoT and other advanced services to millions of customers around the world. The company delivers various services to most of the Fortune 1000 companies as well as over 3 million worldwide businesses.</p>

					<h3><strong>Challenge:</strong></h3>
					<p>The challenge for the company is to seamlessly transition to a “Telecom 2.0” service provider in the mobile, broadband, television, IoT, and vCPE areas. At the heart of this goal is the necessity to integrate their NFV system by introducing an open source, standard-based NFV orchestrator capable of managing the scale and efficiency required for this next generation telecommunications networking.</p>

					<h3><strong>Solution:</strong></h3>
					<p>The solution centered around delivering five primary business cases:</p>
					<ul>
					<li>High Availability of a diversity of components (including InfluxDB Cluster, ElasticSearch Cluster, RabbitMQ Cluster, REST Service Cluster, all with Manager blueprint integration)</li>
					<li>Disaster Recovery Support</li>
					<li>Offline Installation capabilities</li>
					<li>Operations-related Enhancements</li>
					<li>Training & Ramp-up</li>
					
					</ul>

					 	
					<p>Cloudify was chosen for this use case chiefly for its commitment to open source and the TOSCA standard, making Cloudify the best choice for the client.  The Cloudify ecosystem and community were also key in this endeavor. Cloudify not only has plugins for all major VIMs, it also contains built-in monitoring, alerting, and logging out-of-the-box.</p>
					</div>
					</div>

					<!-- <div class="row">
					<div class="span12">
					<div class="pullquote-bottom"><h1><strong>A Leading International Maritime Satellite Company - (PoC)</strong></h1></div>
					<p></p>

					<p>The company is one of the largest mobile satellite communications network companies in the world, offering communications services whether in air, on land, or at sea.</p>

					<h3><strong>Challenge:</strong></h3>
					<p>The challenge for this global company is to describe, provision and orchestrate network services in the format of Virtualized Network Functions (VNFs) and Service Chain Functions (SFCs), at global scale and with multi-tenancy, by utilizing SDN/NFV and virtualization technologies.</p>

					<h3><strong>Solution:</strong></h3>
					<p><strong>Cloudify Service Function Chaining Capabilities Using Basic OpenStack Design</strong></p>
					<p>The initial stage of this use case was to define a Cloudify blueprint of a service chain of 3 VNFs as well as on-boarding and instantiation of a new SFC on OpenStack.</p>

					<p><strong>Underlay Network Orchestration and Provisioning</strong></p>
					<p>The next project was to define the services that can drive the underlay definition in order to understand the role that Cloudify plays, as a stand-alone solution or as an Orchestrator, of an SDN Controller (Open Daylight or Contrail).</p>

					<p><strong>Cloudify’s Use of Container Technology for SFC</strong></p>
					<p>The client wanted to evaluate Cloudify’s ability to instantiate a VNF on containers as well as a Service Function Chain using containers and non-containerized functions, such as VMs or hardware-based services in a hybrid environment.</p>

					<p><strong>Cloudify Support for Distributed SFCs</strong></p>
					<p>With Cloudify’s capabilities to instantiate SFCs proven, the next phase entailed Service Function Chaining that spans across DC’s and SAS locations around the world.</p>
					</div>
					</div> -->					
                                        
                                        <div class="row">
					<div class="span12,">
					<div class="pullquote-bottom"><h1><strong>Leading EMEA Mobile Operator Group (PoC)</strong></h1></div>
					<p></p>

					<p>The global telecom company boasts over hundreds of millions of mobile customers, fixed-network lines, and broadband lines worldwide.</p>

					<p><strong>Deployment and Management of Nominum DNS on OpenStack in Locations Throughout Europe</strong></p>
					<h3><strong>Challenge:</strong></h3>
					<p>To build a DNS service with orchestration that can effectively and dynamically manage the lifecycle of a set of highly scalable, fault tolerant, virtualized network services residing in a distributed but interconnected cloud platform.</p>

					<h3><strong>Solution:</strong></h3>
					<p>Cloudify provided full, end-to-end automation and orchestration of Nominum DNS, with IPv6 support, at a number of datacenters located throughout Europe. This service is a highly complex, distributed VNF utilizing an IPv6 stack, and something that Cloudify is uniquely suited to handle. The Cloudify team created a TOSCA blueprint describing the topology of OpenStack and the application, which was to be used by the developers to deploy Nominum DNS on each of the datacenters. Cloudify would also be used to manage the state of the service on each datacenter as well as any other lifecycle operation. As a result of this work, the team built a generic architecture that Cloudify can use to deploy any network service on any datacenter.</p>
					</div>
					</div>


					<p><button type="button" class="btn btn-primary hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="The Road to Becoming a Software Defined Operator - Alexander Sobania, Deutsche Telekom" href="http://www.youtube.com/embed/DgCku0V_JUs?enablejsapi=1&amp;wmode=opaque"><i class="icon-play"></i> Watch</button></p>
					


			</div>
			</div>
			</section>


			{% include nfv_resources.html %}
