---
layout: bt_about
title: Network Function Virtualization | VNF | NFV Orchestration | NFV Management | SDN Platform
category: NFV
---
<section id="inner-headline">
	<div class="container">
		<div class="row"> 
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Cloudify for NFV</li>
				</ul>
				<br/>
			</div>
		</div>
	</div>
</section>

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span12">
						<img src="/img/nfv_black_box.png" style="float: right; display: inline; margin-left:10px;"><h1><strong>Orchestration-First, Model-Driven NFV Cloud Management</strong></h1>
						<p>NFV (network functions virtualization) is the evolution of telco and enterprise networks from propietary, physical network boxes to using specialized software to deploy, manage and scale network functions and services on generic, off-the-shelf hardware. Cloudify is an orchestration-first, model-driven cloud management platform native to NFV, that is open source and based on the TOSCA standard. Cloudify is inherently built for integration, OEMability and interoperability, enabling organizations to build best of breed NFV stacks - breaking the heavy, costly, and proprietary black box model of OSS and BSS.</p>

						<p>Cloudify can be leveraged as both the NFVO and G-VNFM in the context of the ETSI MANO architecture, and is able to interact with multiple VIMs, containers, and even external and non-virtualized infrastructure and devices, OSS and BSS in a brownfield environment, all through a single pane of glass. VNF providers, telcos, and operators alike can realize the benefits of the cloud with Cloudify's assistance in the transition from non-virtualized appliance to virtualized, through cloud-native virtual network function (VNF), with full lifecycle management and orchestration - from the deployment phases, through intelligent placement awareness, service function chaining during runtime, all the way through Day 2 operations of management, monitoring, self-healing, scaling, and tear down.</p>

						<p>Cloudify can communicate with any northbound or southbound API, along with any modeling language or protocols - NetConf, RestConf, YANG, Tail-f - enabling service providers, operators, and VNF vendors to plugin to Cloudify and revolutionize the way NFV can be delivered today.</p>
						
					
						</div>
						</div>

						<div class="row">
						<div class="span12">
					<div class="pullquote-bottom"><h1><strong>Resources</strong></h1></div>

					<div class="row">
					<div class="span3">
					<div class="pullquote-wp">
					<a href="/from-virtual-appliance-to-cloud-native-vnf-whitepaper.html">
					<img src="/img/resources/cloud_native_vnf_wp.png" width="200px">
					<div class="details background">
          					    <p>Learn about the transition from physical, to virtual, then Cloud Native VNFs.</p>
								<p></p>           					 
        						<h2><i class="icon-arrow-right"></i> READ NOW</h2>

          					  </div>
          					  </a>
        						</div>
        						</div>

					<div class="span3">
					<div class="pullquote-wp">
					<a href="/whitepapers/vcpe-sdwan-network-orchestration.html">
					<img src="/img/resources/vcpe_sdwan_wp.png" width="200px">
					<div class="details background">
           					 <p>Learn how Cloudify delivers an open source, integration-based vCPE/SD-WAN engine.</p>
          					  <p></p>        					
          					  <h2><i class="icon-arrow-right"></i> READ NOW</h2>

							  </div>
          					  </a>
        						</div>
        						</div>

        						<div class="span3"><div class="pullquote-vid">
        						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Hybrid VNF Container Orchestration With Kubernetes and Docker Swarm Using Cloudify" alt="" href="http://www.youtube.com/embed/QeBN1uqyDho?enablejsapi=1&amp;wmode=opaque"><img src="/img/resources/demo_gen.png" width="200px">
        						<div class="details-vid background">
           					 <p>Watch this demo on Cloudify orchestrating two containerized VNFs; one in Kubernetes, one in Docker.</p>
          					  <p></p>  
          					  <p></p>			
          					  <h2><i class="icon-play"></i> WATCH</h2>
          					  </div>
          					  </a>
        						</div>
        						</div>

        						<div class="span3">
        						<div class="pullquote-vid">
        						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify orchestrates Fortigate VNF via Carrier Ethernet Devices using OpenStack" href="http://www.youtube.com/embed/Ast1IonJqvM?enablejsapi=1&amp;wmode=opaque"><img src="/img/resources/demo_gen.png" alt="" style="display: inline; margin-right:10px;" width="200px">
        						<div class="details-vid background">
           					 <p>Watch Cloudify orchestrate a Fortigate VNF via Carrier Ethernet Devices using OpenStack.</p>
          					  <p></p>
          					  <p></p>
        					<h2><i class="icon-play"></i> WATCH</h2>

          					  	</div>
          					  	</a>
        						</div>
        						</div>

        						</div>
				</div>
				</div>
				</div>

				</section>

				

				<section id="content">
				<div class="container">
		
				<div class="row">
				<div class="span12">
				<div class="pullquote-bottom"><h1><strong>Open and Embeddable NFV Orchestration for Cloud Native VNFs</strong></h1></div>
					<h2><strong>&nbsp;</strong></h2>
					<p><img src="/img/cloud_native_vnf_orchestration.png" style="float: right; display: inline; margin-right:20px;">
					Telcos and enterprises alike have been undergoing a transformation in the network, moving from physical appliances - firewalls, load balancers, routers, etc - to virtual network functions (VNF), which are essentially software versions of the same appliance running on generic, off-the-shelf hardware. While this move does make the network more dynamic and performance optimized, the next stage in this evolution is even more significant.</p>
					<p>Cloud native VNFs are a much more disruptive revolution to this industry in both the architecture, to accommodate hyper-scale and multi-tenancy, as well as the business model, which needs to be more consumption based, rather than fixed.</p>

					<p><strong>Requirements for Cloud Native VNFs</strong></p>
					<p>The main requirements that differentiate a cloud native network function from the traditional network function are self-management, multi-tenancy, and scale. As we move to a cloud native virtual network function, the management piece, which formerly with a traditional network function was just an enabler that provided web-based configuration and control over the network function for the most part, has now become a central piece in the architecture that handles not just the configuration but the deployment, scaling, upgrades, and essentially the entire service’s lifecycle.</p>
					
					<p><strong>Cloudify & ARIA Cloud Native Support for Existing and New VNFs</strong></p>
					<p><a href="http://ariatosca.org" target="_blank">ARIA</a> is an open source, open governance lightweight TOSCA orchestration engine under the Apache Software Foundation. VNF providers should consider ARIA to gain TOSCA support, automation of deployment and configuration across multiple clouds such as OpenStack, VMware, or any other cloud, as well as portability between different container-based architectures such as Docker Swarm or Kubernetes.</p>
					<p>Cloudify includes ARIA as its core orchestration engine, so by definition, it inherits all of ARIA’s capabilities in addition to the capabilities that are provided by Cloudify Manager. VNF providers should consider Cloudify in cases where they would want to gain more advanced management, ongoing automation and security such as:</p>
					<ul>
					<li>Self-healing</li>
					<li>Auto-scaling</li>
					<li>Monitoring</li>
					<li>Policy Management</li>
					<li>Security and Multi-Tenancy</li>
					</ul>

				</div>
				</div>


				<div class="row">
				<div class="span12">					
					<div class="pullquote-bottom"><h1><strong>Cloudify vCPE & SD-WAN Network Orchestration</strong></h1></div>
					<h2><strong>&nbsp;</strong></h2>
					<p><img src="img/blog/cloudify-open-source-vcpe.png" style="float: right; display: inline; margin-right:20px;"></p>

					<p>vCPE and SD-WAN are arguably the top priority for CSPs and Telcos right now as they look to significantly lower costs associated with virtualization and automation of their networks. However, there are two areas that are holding them back from reaping the benefits of pure, open source network automation: vendor lock-in and business model.</p>
					<p><strong>Vendor Lock-In</strong></p>
					<p>Most CSPs are looking for a turnkey solution that will take care of their network and automation, but when they get to orchestration, they generally settle with whatever orchestrator their <a href="{{ site.baseurl }}/2016/04/26/where-att-leads-cisco-cannot-follow-openstack-summit-cloud-nfv-orchestration.html" target="_blank">proprietary hardware vendor</a> gives them because it's free. And now, the Telco is stuck with that vendor - because it was easier.</p>
					<p><strong>vCPE Business Model</strong></p>
					<p>The vCPE business model was supposed to make a monumental shift when it was introduced, by lowering costs at all areas of the network and shifting only some of that cost to the Telco cloud side with software-based Virtual Network Functions. However, this didn't quite work for various reasons, including vendor lock-in.</p>
					<p><strong>Open Source, Future Proof vCPE with Cloudify</strong></p>
					<p>Open source orchestration from Cloudify enables Telcos and CSPs to break free from lock-in with a model-driven service design that delivers those same turnkey capabilities, and allows switching between network functions - physical and virtual, open and proprietary - in real-time, all while ensuring Day 0 to Day 2 operations are completed from a single blueprint.</p>
					<p>It's time for Telcos take back their networks.</p>
					<hr>
					<p class="aligncenter"><b>Read more about this in our blog post: <a href="{{ site.baseurl }}/2017/02/06/vcpe-20-business-case-open-framework.html" target="_blank">vCPE 2.0 – The Business Case for An Open vCPE Framework</a></b></p>
					<hr>
					<br>

					</div>
										
				</div>

				<div class="row">
				<div class="span12"><a href="/downloads/TelcoEdition.html" target="_blank"><img src="/img/NFVtopbanner.png" width="100%" usemap="#bannermapnfv"></a>
				<!--<map name="bannermapnfv">
					  <area shape="rect" coords="33,104,185,138" href="/downloads/TelcoEdition.html">
					</map>-->
					</div>
				</div>
				</div>			
				</section>	
				
				<section id="content">
				<div class="container">
		<div class="row">
				<div class="span12">
					<div class="pullquote-bottom"><h1><strong>vCPE and SBC VNF Orchestration on VMware</strong></h1></div>
					<p></p>
						</div>
					</div>
				<div class="row">
				<div class="span6">
					<h2><strong></strong></h2>
					<p>Cloudify serves as both the NFV Orchestrator (NFVO) and VNF Manager (VNFM) in the ETSI NFV architecture model. Cloudify provides not only the power of TOSCA and open standards, but is also tightly integrated with the entire VMWare NFV stack. In this use case, we showcase how Cloudify orcehstrates the different pieces of an NFV stack on VMware. In this example, we have Brocade Vyatta as the basis for the vCPE VNF for connecting multiple branch offices and allowing for chaining additional services on the cloud. Metaswitch SBC was chosen to allow the customer to utilize existing on-premise PBX assets while enabling connectivity across branches and to external PBXs managed by a cloud based Session Border Controller.</p>
					
					<p>Cloudify has a <a href="https://github.com/cloudify-cosmo/cloudify-netconf-plugin" target="_blank">Netconf plugin</a> as well as <a href="https://github.com/cloudify-examples/netconf-nfv-blueprint" target="_blank">Netconf blueprint</a>, that you can find in our examples catalog.</p>
					<p>&nbsp;</p>
					<div class="flexslider aligncenter">
				    <ul class="slides">
				      <li style="display: list-item;">
		   			     <a class="hover-wrap fancybox fancybox.iframe btn btn-blue btn-action btn-medium" data-fancybox-group="gallery" title="Cloudify Orchestration of Vyatta vCPE with Dynamic Service Insertion on vSphere" href="https://www.youtube.com/embed/uA7rxjIeyII?enablejsapi=1&amp;wmode=opaque"><i class="icon-plus"></i>&nbsp;Watch the Video</a>
				      </li>
				    </ul>
		  			</div>
					
					</div>

					<div class="span6">
					<h2><strong>Show Me the Code</strong></h2>	
					<p><script src="https://gist.github.com/yeshess/feddffb99993f028bd31aa6f7763fd1a.js"></script></p>
					</div>

					</div>
					</div>
				

				<div class="row">
				<div class="span12">					
					<div class="pullquote-bottom"><h1><strong>Clearwater vIMS VNF Orchestration</strong></h1></div>
					</div>
					</div>
					<p></p>

					<div class="row">
					<div class="span6">
					<h2><strong></strong></h2>
					<p>A Virtual IP Multimedia Subsystem (vIMS) is a core network solution that delivers rich, real-time communication services to client devices, such as voice, video, etc. The Clearwater vIMS from Metaswitch is an open source VNF that is quite complex with over six microservices. Cloudify is able to configure, provision, and deploy the vIMS VNF in order to create an online Skype-like communications system with audio and video.</p>
					<p>The <a href="{{ site.baseurl }}/2016/06/21/opnfv-functest-team-tests-clearwater-vims-deployment-using-cloudify-with-100-percent-success-nfv-orcehstration.html" target="_blank">OPNFV Functest team uses Cloudify</a> to test the deployment of the Clearwater vIMS using the OPNFV platform numerous times per day as well.</p>

					<p>Checkout the README and <a href="https://github.com/cloudify-examples/clearwater-nfv-blueprint" target="_blank">Clearwater blueprint</a> in our examples catalog.</p>				
					<p>&nbsp;</p>
					<div class="flexslider aligncenter">
				    <ul class="slides">
				      <li style="display: list-item;">
		   			     <a class="hover-wrap fancybox fancybox.iframe btn btn-blue btn-action btn-medium" data-fancybox-group="gallery" title="VNF Deployment Lifecycle - vIMS Application & Service Onboarding Demo" href="https://www.youtube.com/embed/yGDzUdYeTjQ?enablejsapi=1&amp;wmode=opaque"><i class="icon-plus"></i>&nbsp;Watch the Video</a>
				      </li>
				    </ul>
		  			</div>
					</div>

					<div class="span6">
					<h2><strong>Show Me the Code</strong></h2>
					<p><script src="https://gist.github.com/yeshess/519046b7d35a2da5eef296f4d890c835.js"></script></p>
				
					</div>

				</div>

				<div class="row">
				<div class="span12">
				<hr>
				<h2><strong>Cloudify participates in and sponsors diverse NFV projects and standards organizations, to help contribute to open source NFV MANO adoption.</strong></h2>

				
					<div id="myGroup">
					<div class="aligncenter">
						
							<a href="#button1" id="button1" onclick="return false"><img src="/img/TOSCATile.png" data-toggle="collapse" data-target="#tosca" data-parent="#myGroup"></a>
							<!--<a href="#button2" id="button2" onclick="return false"><img src="/img/MEFTile.png" data-toggle="collapse" data-target="#mef" data-parent="#myGroup"></a>-->
							<a href="#button3" id="button3" onclick="return false"><img src="/img/ARIATile.png" data-toggle="collapse" data-target="#aria" data-parent="#myGroup"></a>
							<a href="#button4" id="button4"onclick="return false"><img src="/img/onapTile.png" width="150" data-toggle="collapse" data-target="#onap" data-parent="#myGroup"></a>
							<!--<a href="#"><img src="/img/ETSITile.png" data-toggle="collapse" data-target="#etsi" data-parent="#myGroup" width="150"></a> -->
						
					</div>
    				<div class="accordion-group">
						<div class="collapse" id="tosca"><p>GigaSpaces is an active participant in the TOSCA Technical Committee (TC) with 10 current members, while co-chairing the Instance Model workgroup, tasked with providing a complete representation of the state of a TOSCA service template deployment, as well as the Technical Marketing and Education ad-hoc, which promotes TOSCA's message and capabilities, and is building a community around the standard. </p></div>
						<!--<div class="collapse" id="mef"><p>GigaSpaces is a member of the MEF Forum, and a leading member of the OpenLSO Service Function Chaining team. This team introduced service function chaining to the MEF's CE 2.0 services for the first time at the Euro16 LSO Hackathon, and is hard at work with introducing added functionality to the L3 layer to support complex SFC use cases.</p></div>	-->
						<div class="collapse" id="aria"><p>Cloudify has decided to release its core capabilities to the Apache Foundation through the ARIA project.  ARIA is an open governance and source orchestration engine, providing an actual code base and library built on TOSCA, to strengthen TOSCA's adoption and enable simple incorporation to orchestration projects.</p></div>
						<div class="collapse" id="onap"><p>ONAP is a Linux Foundation project, merging both Open ECOMP and Open-O, that is working to allow end users to automate, design, orchestrate, and manage services and virtual functions in the network. Led by AT&T and China Mobile, Cloudify (GigaSpaces) is one a Founding Platinum member of this new initiative.</p></div> 						
						<!-- <div class="collapse" id="etsi"><p>ETSI ETSI ETSI</p></div> -->


					</div>
				</div>
				<p>&nbsp;</p>
				<p class="aligncenter"><a class="regBtn" href="{{ site.baseurl }}/cloudify-use-cases.html#NFV" target="_blank"><i class="icon-plus"></i>&nbsp;Read More About Some of Our NFV Use Cases</a></p>
				</div>
				</div>

				<div class="row">
				<div class="span12">

				<hr>
				
				<div class="aligncenter">
  					<font style="font-weight: bold; color: grey" size="5" face="Baskerville Old Face"><em>Read our blog post on how <a href="{{ site.baseurl }}/2017/01/11/openness-the-true-path-nfv.html" target="_blank">Openness is the True Path to NFV</a>.</em></font><br><br>

  					<img src="/img/blog/vcpe_cloudify_service.png" width="600px">

  				</div>
				</div>

				</div>
				</div>
				
				</section>	


	 <div class="clear"></div> 
	
	

		<section id="bottom">
			<div class="container">

		<div class="row">
		<div class="span12">
		<div class="aligncenter">
			
				<h2><strong>Visit our Examples Catalog to Discover our NFV Blueprints & Plugins</sup></strong></h2>
						<br/>
							<a class="btn btn-large btn-theme btn-rounded" id="downloadBtnInner" href="/examples"><i class="icon-arrow-right"></i>  GO</a>
							
						
						</div>
					</div>
					</div>
					</section>

					<div class="clear"></div>


<!-- old page below -->

<!--		<section id="content">
			<div class="container">
				<div class="row">
				<img src="/img/NFVtopbanner.png" width="870" usemap="#bannermapnfv">
				<map name="bannermapnfv">
					  <area shape="rect" coords="33,104,185,138" href="/downloads/TelcoEdition.html">
					</map>
					<div class="span9">
						<h1><strong>NFV Management & Orchestration</strong> with TOSCA</h1>
						<p>NFV, (network function virtualization), is the growing need by Telcos and enterprises to deploy, manage and scale their network functions and services on standardized hardware. Cloudify, provides the full end-to-end lifecycle of NFV orchestration, from installation, provisioning, configuration and deployment through management and monitoring of your application or service in order for the system to take proactive actions, such as healing and scaling based on custom triggers, i.e. Day 0 through Day 2 support, all through a simple TOSCA-based YAML blueprint. </p>

						
						<hr/>
					<div class="row">
					<div class="span9">
						<div class="aligncenter">
							<div class="well"><img src="/img/NFVLab.png" style="float: right; display: inline; margin-right:10px;" alt="NFV Lab On Deman" width="250px" /><h2> Get Started with the Cloudify <a href="{{ site.baseurl }}/NFV-Labs-On-Demand.html"><strong> NFV Lab</strong></a> Today!</h2></div>
						</div>
					</div>
					</div> 
					
								<hr/>


				<div class="row">
				<div class="span9">
				<h2><strong>Cloudify participates in and sponsors diverse NFV projects and standards organizations, to help contribute to open source NFV MANO adoption.</strong></h2>

				<p>&nbsp;</p>
				<div id="myGroup">
					<div class="aligncenter">
						
							<a href="#button1" id="button1" onclick="return false"><img src="/img/TOSCATile.png" data-toggle="collapse" data-target="#tosca" data-parent="#myGroup"></a>
							<a href="#button2" id="button2" onclick="return false"><img src="/img/MEFTile.png" data-toggle="collapse" data-target="#mef" data-parent="#myGroup"></a>
							<a href="#button3" id="button3" onclick="return false"><img src="/img/ARIATile.png" data-toggle="collapse" data-target="#aria" data-parent="#myGroup"></a>
							<a href="#button4" id="button4"onclick="return false"><img src="/img/openotile.png" width="150" data-toggle="collapse" data-target="#openo" data-parent="#myGroup"></a>-->
							<!--<a href="#"><img src="/img/ETSITile.png" data-toggle="collapse" data-target="#etsi" data-parent="#myGroup" width="150"></a> -->
						
				<!--	</div>
    				<div class="accordion-group">
						<div class="collapse" id="tosca"><p>GigaSpaces is an active participant in the TOSCA Technical Committee (TC) with 10 current members, while co-chairing the Instance Model workgroup, tasked with providing a complete representation of the state of a TOSCA service template deployment, as well as the Technical Marketing and Education ad-hoc, which promotes TOSCA's message and capabilities, and is building a community around the standard. </p></div>
						<div class="collapse" id="mef"><p>GigaSpaces is a member of the MEF Forum, and a leading member of the OpenLSO Service Function Chaining team. This team introduced service function chaining to the MEF's CE 2.0 services for the first time at the Euro16 LSO Hackathon, and is hard at work with introducing added functionality to the L3 layer to support complex SFC use cases.</p></div>	
						<div class="collapse" id="aria"><p>Cloudify has decided to release its core capabilities to the Apache Foundation through the ARIA project.  ARIA is an open governance and source orchestration engine, providing an actual code base and library built on TOSCA, to strengthen TOSCA's adoption and enable simple incorporation to orchestration projects.</p></div>
						<div class="collapse" id="openo"><p>The Open-O project is a Linux Foundation-backed project to develop an open-source NFV orchestrator that is also trying to standardize the way the orchestrator interfaces with other software elements in NFV. Cloudify are premier and founding members, joining immediately when launched in February 2016. The Open-O Mini Summit took place during the OPNFV Summit in Berlin, where the Cloudify team led a panel and a session on TOSCA/YANG interoperability. The Cloudify team serves in diverse roles in Open-O, Board Members and Treasurer, as well as on the Technical Steering Committee and Marketing Committee.</p></div> -->						
						<!-- <div class="collapse" id="etsi"><p>ETSI ETSI ETSI</p></div> -->

<!--
					</div>
				</div>





						<br/>
						<a name="dtag"></a>
							
								</div>
								</div>

			<div class="row">
				<div class="span9">
					
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="The Road to Becoming a Software Defined Operator - Alexander Sobania, Deutsche Telekom" href="http://www.youtube.com/embed/DgCku0V_JUs?enablejsapi=1&wmode=opaque"><img src="/img/DTAG2.png" style="float: left; display: inline; margin-right:10px;" alt="Deutsche Telekom SDN & NFV Architecture Using Cloudify Orchestration" width="250px" /></a>
								<br/>
								<h3>Watch the video from the <strong>SDN OpenFlow World Congress on Deutsche Telekom's</strong> journey to becoming a Software Defined Operator with open source tooling, including Cloudify.</h3>
								
								
								
							
						
						<a name="nfvorchestration"></a>

					</div>
					</div>
					</div>
						
				</section>

				<section class="bottom">
				<div class="container">
				<div class="row">
				<div class="span5">
				<h2><strong>Pure-Play Standard-Driven NFV Made Easy</strong></h2>
				<p>Cloudify, was built from the bottom up as an open source pure-play generic cloud orchestrator, enabling us to focus entirely on optimizing orchestration and management targeted towards NFV, being designed to integrate seamlessly with industry-embraced networking standards and modeling languages such as ETSI & MANO, YANG, NETCONF/RESTCONF, and TOSCA.  This means it is specifically geared for integration, making it possible to run any workload on any cloud environment, regardless of vendor or technology stack.</p>

				<p>Many big Telcos have chosen and are evaluating Cloudify in large part due to it being open source, as well as modular in nature, enabling pluggability with existing and new toolsets and environments. In addition to serving as the NFVO, Cloudify is also capable of fulfilling the role of VNF manager (VNFM), and has proven multi-VIM capabilities.</p>

				<p>On top of this, Cloudify provides many plugins to interface with peripheral network databases, such as DNS and LDAP, SDN controllers - ODL and more - including the full service management and chaining, and has already demonstrated its capabilities to orchestrate large subsystems like IMS, internet activation and provisioning per tenant out of the box . With the ability to have one manager that supports multiple clouds (from <a href="{{ site.baseurl }}/vmware-hybrid-cloud.html" target="_blank">VMware</a> to <a href="{{ site.baseurl }}/openstack-architecture-cloudify.html" target="_blank">OpenStack</a>) as well as multiple data centers and availability zones, Cloudify, is very attractive to mid to large Telcos, ISPs, and enterprises with a hybrid cloud model, enabling easy migration between past install-bases, and the current trendiest infrastructure including containers (see our Kubernetes example), through the next technology that hasn’t even yet landed.</p>
				
				<br/>
					

					</div>

					<div class="span4">
					<div class="testimonial">
					<h3><b>Key Solution Benefits</b></h3>
					<p>Cloudify is the only pure-play orchestration framework uniquely positioned to fit into heterogeneous enterprise and Telco environments, and also includes:</p>

					<ul>
					  <li>TOSCA-based, pure-play standard-driven orchestration </li>

					  <li>Topology-driven and application-centric management and monitoring of the entire NFV lifecycle </li>

					  <li>Integration with any tool chain </li>
										
					  <li>Support for any application stack, with native OpenStack, bare metal, and virtual appliance support (enabling portability to any cloud and hybrid cloud models)</li>

					  <li>Support for containerized and non-containerized workloads </li>

					  <li>Designed for federated deployment </li>

					  <li>Support legacy network functions </li>

					  <li>Built in auto-healing and auto-scaling policies for deployed applications </li>

					  <li>Embeddable (OEM)</li>
					  <br/>
					  <p>VMware is just one such company that has selected Cloudify as their orchestration platform of choice to launch applications and VNFs on vCloud Director (vCD), VMware Integrated OpenStack, vCloud Air, and even vSphere and vRealize. To watch the recent webinar on this, as well as a live demo visit: <a href="{{ site.baseurl }}/vmware-hybrid-cloud.html" target="_blank">Cloudify for VMware</a>.</p>-->
					  <!--<br/>
					  <p><strong>View the entire <a href="{{ site.baseurl }}/cloudify-features.html" target="_blank">Cloudify Feature List</a>.</strong></p>-->
				<!--	</ul>

					</div>
					<p></p>
					<a name="nfvusecase"></a>
					<p></p>
					<br/>
					</div>
			
					</div>
					
			
				
					<div class="row">
					<div class="span9">
					<p></p>
					<div class="well">

					<h3><b>Use Case: Data Plane Acceleration with Enhanced Platform Awareness</b></h3>
					The successful adoption of NFV highly depends on the ability of a virtualized cloud infrastructure to deliver sufficient performance compared to existing proprietary network appliances. Many network functions today are I/O intensive, sending many packets of data over a short time frame, and the generic hardware prevalent among telcos and carriers is simply not equipped nor configured to handle this kind of load, or deliver the level of performance required.</p>

					
					<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify Demo of Optimized VNF Performance on OpenStack and VMware Using Intel's EPA Technology" href="http://www.youtube.com/embed/iyhE4Lvmxqc?enablejsapi=1&wmode=opaque"><img src="/img/blog/cloudify_epa_dpa-play.png" style="float: left; display: inline; margin-right:10px;" width="500px"></a><p><p>Advanced processor and networking technologies embedded in silicon and in PCIe devices (commonly referred to as Data Plane Acceleration) solve the hardware challenge - but only when coupled with Enhanced Platform Awareness (EPA) and Intelligent workload-aware orchestration, telco and carrier-grade NFV performance are enabled.</p>
					
					<p class="aligncenter"></p>

					<p>The ability of an intelligent orchestrator to perform both smart placement and configuration to be able to best leverage these capabilities, all while ensuring high availability and low latency is critical to the performance and reliability of large-scale NFV systems these days.</p>
					
					<p>Doing so on a multi-VIM environment, supporting both OpenStack and VMware stacks, enables carriers to run their mission and performance critical workloads in cloud environments without compromising performance, all the while getting simple, easy to use, service orchestration, leveraging cloud management best practices and a truly open architecture.</p>

					<p><strong>Watch the demo to learn more.</strong></p>
				
					</div>


				</div>
				</div>
				</div>
				</section>	


			<section id="content">
			<div class="row">
				<a name="nfvarchitecture"></a>
				<p></p>
				</div>

			<div class="container">
				<div class="row">
				<div class="span9">

			<h2><b>Cloudify & ETSI's MANO</b></h2>
			<p>ETSI, the European Telecommunications Standards Institute, defined a standard reference architecture to achieve NFV, where an integral part of this architecture is the MANO - the NFV management and orchestration layer.</p>  
			<br/>
			<img style="float: left; display: inline; margin-right:10px;" src="/img/ETSIDiagram-CL.png" width="500" align="left" alt="NFV | ETSI | MANO"/> 
			<p><strong>MANO based on TOSCA</strong></p>
			<p>MANO is the layer defined by ETSI that manages and orchestrates the cloud infrastructure and resources, and it is comprised of the following elements:</p>
			<ul>
			<li>The VIM (Virtual Infrastructure Manager), essentially controls the interaction of the VNF with the compute, networking and storage resources of the chosen NFVI (i.e. cloud or virtualization layer).</li>
			<li>The <strong>VNFM (Virtual Network Function Manager)</strong>, is responsible for the VNF lifecycle management -  e.g. it takes action on instantiation, termination, failover, scaling in and out, and more. Cloudify serves as a generic VNF manager (G-VNFM) and enables full automation of all lifecycle stages for any network function. See this video example of <a href="">vIMS management</a>.</li>
			<li>The <strong>NFVO (NFV Orchestrator)</strong>, as its name implies, basically serves the purposes of orchestrating and managing end to end network services, through the complex NFV architecture, including integration with SDN controllers, OSS/BSS systems, and more. Cloudify provides a fully open NFVO, learn more about <a href="/2015/03/22/mobile-world-congress-nfv-sdn-network-orchestration-automation.html">NFV & SDN</a>, and more.</li>
			</ul>
			<br/>
			<p>ETSI's MANO is intended to provide the full end-to-end lifecycle of NFV orchestration and management – from installation and deployment through post-deployment, or in the telco industry terminology - Day 0 through Day 2 support.
			</p>

			<p>As MANO is currently just a guideline all implementations of MANO are proprietary, aside from the TOSCA-based agnostic implementation that also enables the plugging in of additional standards like YANG/Netconf for service chaining. </p> 

			<p>The telco industry is known to be very standard driven, therefore, the alignment with MANO is an important element for NFV adoption, where many Telcos and Enterprises these days are searching for modeling languages to help achieve the goal of application and network orchestration, and are betting on OpenStack and the nature of standards-driven open source cloud to help deliver this in the real world. This is where the importance and adoption of a standard like TOSCA becoming an important criterion in the choice of an orchestration platform.</p>

			<p>TOSCA has the combination of declarative descriptions of the application topology with all its components - including the load balancer, network, the compute resources, software and everything else, along with an imperative set of workflows to describe the logic of any process we need to automate. What this means from an NFV perspective, is that TOSCA is very good when it comes to defining virtual application topologies, VNF dependencies and relationships, actions to be performed as part of a lifecycle. This significantly simplifies the complexities involved with exposing networking elements and  end-to-end lifecycle management for NFV, by abstracting the networking piece of the deployment into an application blueprint.</p>

			<p>You can learn more about the <a href="{{ site.baseurl }}/guide/3.1/dsl-spec-general.html" target="_blank">TOSCA spec</a> in our docs.</p>



				
						<h2><strong>Getting Started</strong></h2>
						<br/>
						<ul>
								<li><a href="{{ site.baseurl }}/guide/" target="_blank">Getting Started with Cloudify</a></li>
								<li><a href="{{ site.baseurl }}/tags/NFV/" target="_blank">NFV Posts on the Cloudify Blog</a></li>
								<li><a href="{{ site.baseurl }}/tags/TOSCA/" target="_blank">TOSCA Posts on the Cloudify Blog</a></li>
								</ul>
								<br/>
			
				<br/>

					
				<div class="row">
		<div class="span2"></div>
		<div class="span8">
				<div class="aligncenter">
				<p>To learn more about<a href="{{ site.baseurl }}/goPro.html" target="_blank"> Cloudify Premium</a> or try Cloudify today.</p></div>
													
													{% include downloadbuttons.html %}

							
						</div>
						</div>
						<div class="span2"></div>
					</div>
					</div>
					</section>
					<div class="clear"></div>
</section> -->
<!--{% include download-mixpanel-manager.html %}-->
{% include manageDownloads.html %}
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>