---
layout: bt_default
title: 	Cloudify Partners | Technology Partners | Cloud Native VNF Program
category: NFV
---

<!-- This msg for IE browsers under version 10 -->

<div class="alert alert-error" id="detectIe" style="display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> For the best experience, please use Chrome or Firefox.
</div>
<!-- Ed IE msg -->
<div class="jumbotron subhead" id="overview">
    <h5 class="dwnCenter"></h5>
    <div class="container dwnTopBanner">
        <p>&nbsp;</p>
        <h1>Cloudify Partners</h1>
        <p class="lead">Cloudify is proud to be building an ecosystem of technology, community, and Cloud Native VNF partners.</p>
        <div class="row-fluid">
            <div class="span10">
            <a class="regBtn" button type="button" data-toggle="modal" data-target="#myModal"><i class="icon-plus"></i>&nbsp;Become a Partner</a>

                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="aligncenter">
                    <p>&nbsp;</p>
                        <h1><strong>Technology Partners</strong> </h1>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.axsh.jp" target="_blank" class="recipeName">
                    <img src="img/partners/axsh-tech-partner.png" onmouseover="this.src='img/partners/axsh-tech-partner-out.png'" onmouseout="this.src='img/partners/axsh-tech-partner.png'" class="client-logo" alt="axsh" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://azure.microsoft.com" target="_blank" class="recipeName">
                    <img src="img/partners/microsoft-tech-partner.png" onmouseover="this.src='img/partners/microsoft-tech-partner-out.png'" onmouseout="this.src='img/partners/microsoft-tech-partner.png'" class="client-logo" alt="Microsoft Azure" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.atos.com" target="_blank" class="recipeName">
                    <img src="img/partners/atos-tech-partner.png" onmouseover="this.src='img/partners/atos-tech-partner-out.png'" onmouseout="this.src='img/partners/atos-tech-partner.png'" class="client-logo" alt="Atos" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.rackspace.com" target="_blank" class="recipeName">
                    <img src="img/partners/aws-tech-partner.png" onmouseover="this.src='img/partners/aws-tech-partner-out.png'" onmouseout="this.src='img/partners/aws-tech-partner.png'" class="client-logo" alt="aws" width="175"/>
                    </a></div></div>                                    
                    <div class="span2">
                    <div class="aligncenter">
                   <a href="http://www.rackspace.com" target="_blank" class="recipeName">
                    <img src="img/partners/rackspace-tech-partner.png" onmouseover="this.src='img/partners/rackspace-tech-partner-out.png'" onmouseout="this.src='img/partners/rackspace-tech-partner.png'" class="client-logo" alt="rackspace" width="175"/>
                    </a></div></div>
                    <div class="span1"></div>
                    </div>


                     <div class="row">
                    <div class="span1"></div>
                    <div class="span2">                    
                    <div class="aligncenter">
                    <a href="http://www.mist.io" target="_blank" class="recipeName">
                    <img src="img/partners/mistio-tech-partner.png" onmouseover="this.src='img/partners/mistio-tech-partner-out.png'" onmouseout="this.src='img/partners/mistio-tech-partner.png'" class="client-logo" alt="mist.io" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.zefflin.com" target="_blank" class="recipeName">
                    <img src="img/partners/zefflin-tech-partner.png" onmouseover="this.src='img/partners/zefflin-tech-partner-out.png'" onmouseout="this.src='img/partners/zefflin-tech-partner.png'" class="client-logo" alt="zefflin" width="175"/>
                    </a></div></div>
                     <div class="span2">
                    <div class="aligncenter">
                    <a href="https://www.riskfocus.com" target="_blank" class="recipeName">
                    <img src="img/partners/riskfocus-tech-partner.png" onmouseover="this.src='img/partners/riskfocus-tech-partner-out.png'" onmouseout="this.src='img/partners/riskfocus-tech-partner.png'" class="Risk Focus" alt="Risk Focus" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                      <a href="http://www.canonical.com/" target="_blank" class="recipeName">
                    <img src="img/partners/canonical-tech-partner.png" onmouseover="this.src='img/partners/canonical-tech-partner-out.png'" onmouseout="this.src='img/partners/canonical-tech-partner.png'" class="Canonical" alt="Canonical" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                      <a href="http://www.disc.it/" target="_blank" class="recipeName">
                    <img src="img/partners/disc-tech-partner.png" onmouseover="this.src='img/partners/disc-tech-partner-out.png'" onmouseout="this.src='img/partners/disc-tech-partner.png'" class="DISC" alt="DISC" width="175"/>
                    </a>
                    </div>
                    </div>
                     <div class="span1"></div>
                     </div>

                    </div>
                                            
                </div>
            </div>
        </div>

        </div>
</section>


<section id="content" style="background-color: #ecf0f1;">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="aligncenter">
                    <p>&nbsp;</p>
                        <h1><strong>Cloud Native VNF Partners</strong> </h1>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="https://networkbuilders.intel.com/ecosystem/cloudify-by-gigaspaces" target="_blank" class="recipeName">
                    <img src="img/partners/intel-vnf-partner.png" onmouseover="this.src='img/partners/intel-vnf-partner-out.png'" onmouseout="this.src='img/partners/intel-vnf-partner.png'" class="client-logo" alt="cloudify open-o network builders" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="https://solutionexchange.vmware.com/store/content/telco-nfv-gigaspaces" target="_blank" class="recipeName">
                    <img src="img/partners/vmware-vnf-partner.png" onmouseover="this.src='img/partners/vmware-vnf-partner-out.png'" onmouseout="this.src='img/partners/vmware-vnf-partner.png'" class="client-logo" alt="cloudify for vmware nfv" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.versa-networks.com" target="_blank" class="recipeName">
                    <img src="img/partners/versa-vnf-partner.png" onmouseover="this.src='img/partners/versa-vnf-partner-out.png'" onmouseout="this.src='img/partners/versa-vnf-partner.png'" class="client-logo" alt="versa-networks" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.brocade.com/en/partners/strategic-collaboration-program/software-networking.html" target="_blank" class="recipeName">
                    <img src="img/partners/brocade-vnf-partner.png" onmouseover="this.src='img/partners/brocade-vnf-partner-out.png'" onmouseout="this.src='img/partners/brocade-vnf-partner.png'" class="client-logo" alt="brocade" width="175"/>
                    </a></div></div>
                    
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.audiocodes.com" target="_blank" class="recipeName">
                    <img src="img/partners/audiocodes-vnf-partner.png" onmouseover="this.src='img/partners/audiocodes-vnf-partner-out.png'" onmouseout="this.src='img/partners/audiocodes-vnf-partner.png'" class="client-logo" alt="audiocodes" width="175"/>
                    </a></div></div>
                                            
                    <div class="span1"></div>

                </div>

                <div class="row">
                    <div class="span12">
                    <div class="aligncenter">
                    <a href="https://www.athonet.com" target="_blank" class="recipeName">
                    <img src="img/partners/athonet-vnf-partner.png" onmouseover="this.src='img/partners/athonet-vnf-partner-out.png'" onmouseout="this.src='img/partners/athonet-vnf-partner.png'" class="client-logo" alt="cloudify open-o network builders" width="175"/>
                    </a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.rad.com" target="_blank" class="recipeName">
                    <img src="img/partners/RAD-vnf-partner.png" onmouseover="this.src='img/partners/RAD-vnf-partner-out.png'" onmouseout="this.src='img/partners/RAD-vnf-partner.png'" class="RAD" alt="RAD" width="175"/>
                    </a>
                    </div>
                    </div>
                    </div>
                    
                    <div class="row">
            <div class="span12">
                <div class="aligncenter">
                    <h2><img src="{{ site.baseurl }}/img/logo.png" width="100"> Find out how Cloudify is leading the <a href="{{ site.baseurl }}/cloud-native-vnf.html"><strong> Cloud Native VNF</strong></a> revolution - learn more about our VNF Onboarding Program.
                    </h2> 
                    <br/> 
                         <a class="btn btn-large btn-orange" href="{{ site.baseurl }}/cloud-native-vnf.html"><i class="icon-plus"></i>&nbsp;Join the Program</a>

                
                </div>
            </div>
        </div>
</div>
</section>

<section id="content">
    <div class="container">
         <div class="row">
            <div class="span12">
                <div class="aligncenter">
                    <p>&nbsp;</p>
                        <h1><strong>Community Partners</strong> </h1>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="https://www.linuxfoundation.org/members/corporate" target="_blank" class="recipeName">
                    <img src="img/partners/linux-com-partner.png" onmouseover="this.src='img/partners/linux-com-partner-out.png'" onmouseout="this.src='img/partners/linux-com-partner.png'" class="Linux Foundation" alt="Cloudify Linux Foundation Silver Sponsors" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="https://www.ariatosca.org" target="_blank" class="recipeName">
                    <img src="img/partners/aria-com-partner.png" onmouseover="this.src='img/partners/aria-com-partner-out.png'" onmouseout="this.src='img/partners/aria-com-partner.png'" class="ARIA TOSCA Project" alt="ARIA TOSCA Project" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.mef.net" target="_blank" class="recipeName">
                    <img src="img/partners/mef-com-partner.png" onmouseover="this.src='img/partners/mef-com-partner-out.png'" onmouseout="this.src='img/partners/mef-com-partner.png'" class="MEF" alt="MEF" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                     <a href="http://www.open-o.org" target="_blank" class="recipeName">
                    <img src="img/partners/openo-com-partner.png" onmouseover="this.src='img/partners/openo-com-partner-out.png'" onmouseout="this.src='img/partners/openo-com-partner.png'" class="Open-O" alt="cloudify open-o sponsor" width="175"/>
                    </a></div></div>
                    <div class="span2">
                    <div class="aligncenter">
                    <a href="http://www.openstack.org" target="_blank" class="recipeName">
                    <img src="img/partners/openstack-com-partner.png" onmouseover="this.src='img/partners/openstack-com-partner-out.png'" onmouseout="this.src='img/partners/openstack-com-partner.png'" class="OPNFV Sponsor" alt="OpenStack Event Sponsor" width="175"/>
                    </a></div></div>
                                   
                       <div class="span1"></div>

                </div>

                    <div class="row">
                    <div class="span12">
                    <div class="aligncenter">
                    <a href="https://www.openstackpodcast.com" target="_blank" class="recipeName">
                    <img src="img/partners/podcast-com-partner.png" onmouseover="this.src='img/partners/podcast-com-partner-out.png'" onmouseout="this.src='img/partners/podcast-com-partner.png'" class="OpenStack Podcast" alt="OpenStack Podcast" width="175"/>
                    </a>

                    &nbsp;&nbsp;&nbsp;
                    <a href="http://www.opnfv.org" target="_blank" class="recipeName">
                    <img src="img/partners/opnfv-com-partner.png" onmouseover="this.src='img/partners/opnfv-com-partner-out.png'" onmouseout="this.src='img/partners/opnfv-com-partner.png'" class="OPNFV Sponsor" alt="OPNFV Sponsor" width="175"/>
                    </a> 
                    </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>



<section id="bottom">
    <div class="container">
        

                                     <div id="myModal" class="modal fade" role="dialog" style="display: none;">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"><strong>Become a Technology Partner</strong></h4>
                                      </div>
                                      <div class="modal-body">
                                       <!--[if lte IE 8]>
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                                    <![endif]-->
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                                    <script>
                                      hbspt.forms.create({ 
                                        portalId: '1918719',
                                        formId: 'dd55fc20-cc71-44b1-aef8-e56e95d80135'
                                      });
                                    </script>



                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                    </div>
                                    </div>
                  
                </div>
            </div>
            
        </div>
        

                {% include addthis.html %}


            <div class="span2"></div>
            </div>
        
</section>


<script type="text/javascript">
    $(function () {
        var $form = $('#mc-embedded-subscribe-form');

        $('#mc-embedded-subscribe').on('click', function (event) {
            if (event) event.preventDefault();
            register($form);
        });
    });

    function register($form) {
        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize(),
            cache: false,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            error: function (err) { $('#notification_container').html('<span class="alert">Could not connect to server. Please try again later.</span>'); },
            success: function (data) {

                if (data.result != "success") {
                    var message = data.msg.substring(4);
                    $('#notification_container').html('<span class="alert">' + message + '</span>');
                }

                else {
                    var message = data.msg;
                    $('#notification_container').html('<span class="success">' + message + '</span>');
                    track_contactForm();
                    mixpanel.track('Register for NFV', { 'page name': document.title, 'url': window.location.pathname });
                }
            }
        });
    }
</script>

<div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
</div>
<!-- End MailChimp Signup Form -->
<div id="messageBox"></div>
<div class="row">

    <!-- LeadLander Form Tracking -->
    <script type="text/javascript">llfrmid = 29185</script>
    <script type="text/javascript" src="https://formalyzer.com/formalyze_init.js"></script>
    <script type="text/javascript" src="https://formalyzer.com/formalyze_call_secure.js"></script>
    <!-- End LeadLander -->


</div>

{% include manageDownloadsTelco.html %}