---
layout: bt_left_sidebar_vmware
title: VMware Cloud | VMWare Hybrid Cloud | OpenStack VMWare
category: cloud orchestration cloud automation
---


		<section id="content">
			<div class="container">
				<div class="row">
					<div class="span9 no-margin">
						<h1><strong>TOSCA Orchestration for Your VMware Stacks</strong> Powered by Cloudify</h1>
						<p>VMware has been a leader of the enterprise virtualization space for many years and is by far the most popular industry solution to date.  On top of their virtualization solutions, VMware has also entered the cloud arena with private and public cloud offerings - from vCloud&reg; through vCloud&reg; Air<sup>TM</sup>. Cloudify integrates natively with the VMware stack, including vCloud® Air™, Cloud Director, VMware Integrated OpenStack and vSphere®. </p>

						<p>Through the VMware-Cloudify integration, users now have a framework for automating the installation, deployment and post-deployment processes (such as monitoring, self-healing, auto-scaling and continuous delivery) of applications in a consistent manner across the VMware stack using a standards-based deployment (TOSCA). VMware users can also use Cloudify to extend their VMware environment into other clouds - including <a href="{{ site.baseurl }}/openstack-architecture-cloudify.html">OpenStack</a>, to form a true hybrid cloud, as well as for pure-play <a href="{{ site.baseurl }}/network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html">NFV orchestration.</p>
						
						<br/>
						
						<a class="btn btn-theme btn-large btn-rounded" id="downloadBtnInner" href="{{ site.baseurl }}/downloads/get_cloudify.html"><i class="icon-download"></i>  Download Now</a>
						&nbsp; &nbsp;
					<!--	<a class="btn btn-green btn-large btn-rounded" id="goProInner" href="{{ site.baseurl }}/guide/3.2/plugin-vcloud.html"><i class="icon icon-book"></i>  vCloud Plugin Docs</a> -->

					
						</div>
					<!-- <div class="span6">
						<!-- start flexslider 
				<div class="jcarousel">
					<ul class="slides">
							<li>
						<h3>VMware vCA Blueprinting Demo</h3>
						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="VMware vCA blueprinting Demo" href="http://www.youtube.com/embed/0ILVacsLRwE?enablejsapi=1&wmode=opaque">
								<img src="/img/vmwarethumbnail2.jpg" alt="VMware Orchestration | TOSCA | TOSCA Orchestration | VMware Cloud | VMware vSphere | VMware vCloud Air | Blueprinting Service" /></a>
								</li>
						<li>
						<h3>Cloudify TOSCA Orchestration for vCloud&reg; Air<sup>TM</sup></h3>
						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="Cloudify TOSCA Orchestration for vCloud Air" href="http://www.youtube.com/embed/8r91sv0jseg?enablejsapi=1&wmode=opaque">
								<img src="img/vmwarethumbnail.png" alt="VMware Orchestration | TOSCA | TOSCA Orchestration | VMware Cloud | VMware vSphere | VMware vCloud Air" /></a>
								</li>
						
								<li>
								<h3>NFV Orchestration - Live IMS Example with Cloudify & Clearwater</h3>		
						<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="NFV Orchestration - Live IMS Example with Cloudify & Clearwater" href="http://www.youtube.com/embed/p0uLz30XKm8?enablejsapi=1&wmode=opaque">
								<img src="img/vcloudnfvdemo.png" alt="NFV | NFV Orchestration | Network Orchestration | VMware Orchestration | TOSCA | TOSCA Orchestration | VMware Cloud | VMware vSphere | VMware vCloud Air" /></a>
								</li>
						

											
					</ul>
				</div> -->
					</div>
				</div>

				<div class="row">
				<div class="span9">
				<div class="aligncenter">
				<br/>
				<br/>
				<div class="well"><h3><img src="{{ site.baseurl }}/img/vmware-logo.png" width="120" style="float: left; display: inline"> Try the Cloudify on demand <strong><em>Blueprinting Service for vCloud&reg; Air<sup>TM</sup>.</em></strong></h3>
				<br/>
				<div class="aligncenter">
				<button type="button" data-toggle="collapse" data-target="#vmwform" class="btn btn-medium btn-red btn-rounded"><i class="icon-plus"></i> REQUEST TRIAL</button>
				<div class="collapse" id="vmwform">
				<iframe src="https://docs.google.com/a/gigaspaces.com/forms/d/1Q_oR4-E9XqpRMyQczcPrMdlq7Nl7fah4e1trk5gopvE/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> 
				</div>
				</div>
				</div>
				</div>
				<hr/>
				<!-- end flexslider -->
				
				</section>
				<section class="content">
				<div class="container">
				<div class="row">
				<div class="span9">
					
					<h2><strong>TOSCA-based Orchestration Across the VMware Stack</strong></h2>
					<p> Cloudify blueprints are based on the Topology and Orchestration Specification for Cloud Applications (TOSCA). TOSCA provides an industry standard format for describing an application blueprint. Using the TOSCA standard as its templating language, Cloudify makes transparent any changes at the lower level infrastructure and, thus is able to easily migrate workloads across environments. </p>
					<p>By creating TOSCA blueprints, vCloud Air users can fully automate the deployment and configuration of services, from the network and infrastructure up to the application, in a standard based declarative format.</p>

										<br/>
					<div class="aligncenter">
					<div class="flexslider">
							<ul class="slides">
								<li>
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="VMware vCA Blueprinting Demo" href="http://www.youtube.com/embed/0ILVacsLRwE?enablejsapi=1&wmode=opaque">
								<img src="/img/vCATOSCA.png" alt="VMware vCA Blueprinting Demo" /></a>
								</li>
							</ul>
						</div>
					</div>
					<h4><strong>VMware vCA Blueprinting Demo</strong></h4>
					<br/>
					<p>The support for all three VMware environments provides VMware users with a common management and automation framework. This makes it possible to easily build a VMware hybrid cloud with vCloudAir as the public cloud, and vSphere/vCenter or even OpenStack as private cloud.</p>

					<p>Cloudify supports a range of application packaging and configuration management starting from a simple script based packages to Chef, Puppet, SaltStack and now also Docker.  This allows VMware users to leverage their existing investment in any of those frameworks and include Cloudify as a complementary platform to their existing environment.</p>

					<p>Cloudify is also available as a free service to vCloud Air users within the vCloud® Air™ Blueprinting Service.</p>

					</div>
				</div>
				</div>
				</section>

				<section class="content">
				<div class="container">
				<div class="row">
				<div class="span9">
					<h2><strong>NFV Orchestration for VMware</strong></h2>
					<p> Cloudify automates the provisioning, deployment, monitoring and remediation of NFV services. As Cloudify is an engine that can serve as the ETSI/MANO orchestrator, it has been specifically designed to automate the deployment of networking services such as LDAP, DHCP, IMS etc.</p>

										<br/>
					<div class="aligncenter">
					<img src="img/vmwarenfv.png" width="75%"></div>

					<br/>

					<p>Cloudify is also the only open source orchestration platform with native support for VMware vCloud for NFV platform. The integration of Cloudify & VMware provide a truly open NFV orchestration by leveraging open service blueprinting using TOSCA. VMware support for both OpenStack with VMware Integrated OpenStack (VIO) and VMware vCloud Director combined with Cloudify support for both environments provides a powerful flexibility for customers who can choose between the two infrastructures while at the same time managing their application across the two environments through a single pane of glass.</p>


										<br/>
					<div class="aligncenter">
					<div class="flexslider">
							<ul class="slides">
								<li>
								<a class="hover-wrap fancybox fancybox.iframe" data-fancybox-group="gallery" title="VNF Deployment Lifecycle - vIMS Application & Service Onboarding Demo" href="https://www.youtube.com/embed/8Nkgz2q26CY?enablejsapi=1&wmode=opaque">
								<img src="/img/vIMSThumbnail.png" alt="VNF Deployment Lifecycle - vIMS Application & Service Onboarding Demo" /></a>
								</li>
							</ul>
						</div>
					</div>
					<h4><strong>vIMS Demo on VMware vCloud Air</strong></h4>
					<br/>
					
					<p>Users can maximize the utilization of their existing VMware infrastructure combined with a new OpenStack environment. They can also mix and match services between environments to manage hybrid cloud architectures, achieving automated lifecycle management of critical network functions and services. Cloudify brings enhanced knowledge of the application requirements and architecture through application driven orchestration. It ensures best performance and SLA by correlating application requirements with the infrastructure capacity. The integration with VMware enables the application requirements with VMware infrastructure in both the network and compute domains.</p>
				</div>
				</div>
					<div class="row">
					<div class="span6">
					<h3><b>Key Solution Benefits</b></h3>

					<ul>
					  <li>TOSCA-based orchestration for VMware hybrid deployments </li>

					  <li>Topology-driven management and monitoring of an application throughout its lifecycle </li>

					  <li>Integration with any tool chain </li>
					</ul>

					<p><b></b></p>

					<h3><b>Cloudify’s Secret Sauce</b></h3>

					<p>Cloudify is the only pure-play orchestration framework uniquely positioned to fit into heterogeneous enterprise and Telecom environments, and also includes:</p>

					<ul>
					  <li>Support for any application stack, with native OpenStack support </li>

					  <li>Support for containerized (via Docker) and non-containerized workloads </li>

					  <li>Deployment modeling using standard TOSCA blueprints </li>

					  <li>Support for comprehensive monitoring </li>

					  <li>Built in auto-healing and auto-scaling policies for deployed applications </li>

					  <li>Support for DevOps related tool chains. </li>
					</ul>
					</div>
					<div class="span3">

					<div class="well">
						
					<h3><b>Use Cases</b></h3>

					<p>Cloudify wears many hats, serving as an orchestration framework for</p>

					<ul>
					  <li>Cloud Orchestration </li>

					  <li>SaaS Enablement </li>

					  <li>Network Functions Virtualization (NFV) </li>

					  <li>Private PaaS </li>

					  <li>Disaster Recovery </li>

					  <li>Big Data Management </li>

					  <li>Marketplace Framework </li>
					</ul>

					</div>

				</div>
				</div>
				</div>
				</section>	
			<section id="content">
			<div class="container">
				<div class="row">
				<div class="span9">

			<h2><b>How it Works</b></h2>
			<img style="float: left; display: inline" src="{{ site.baseurl }}/img/autoscale2.png" width="450" align="left" /> 
			<p><b>Step 1: Model Your Application</b></p>

			<p>Standards-based blueprint, provision VMs, configure network</p>

			<p><b>Step 2: Install your Application</b></p>

			<p>Integrate with Chef, Puppet, Docker, SaltStack</p>

			<p><b>Step 3: Manage Your Application</b></p>

			<p>Add monitoring, logging, alerts, execute workflow for updates, patches, etc.</p>

			<p><b>Step 4: Add Auto-Healing, Auto-Scaling</b><b></b></p>

			<p>Continuously detect and correct failure, add more capacity </p>

							</div></div>


								<hr/>
					
				<div class="row">
		<div class="span9">
				<div class="aligncenter">
				<p>To learn more about Cloudify with vCloud Air visit the <a href="https://solutionexchange.vmware.com/store/products/tosca-based-orchestration-for-vmware-vcloud-air-public-cloud#.VM-ttGjF82Y" target="_blank">vCloud Air Marketplace</a>, and to read more about the joint NFV solution visit the <a href="https://solutionexchange.vmware.com/store/content/telco-nfv-gigaspaces" target="_blank">VMware Solution Exchange</a>.</p>							</div>
					{% include downloadbuttons.html %}

							</br>
						</div>
						</div>
						<div class="span2"></div>
					</div>
					</div>
					</section>
					<div class="clear"></div>
</section>
{% include download-mixpanel-manager.html %}